{% extends "AeagAgentBundle::layout.html.twig" %}

{% block breadcrumb %}
          <li>
          <i class="icon-home"></i>
          <a href="{{ path('aeag_agent') }}">Accueil</a> 
       </li>
       <li class="active">
           agents
       </li>
 {% endblock breadcrumb %}
       
 {%block panel_heading %}
    <h3 class="page-title">
       Liste des agents
    </h3>
  {%endblock panel_heading %}

  {%block content %}
      <div class="row">
          <div class="col-xm-12">
              <div class="table-responsive small ">
                  <table class="table table-bordered table-striped table-condensed table-advance table-hover" id="idTable">
                        <thead>
                           <tr>
                                <th>matricule</th>
                                <th>Nom</th>
                                <th>Service</th>
                           </tr>
                           <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                           </tr>
                        </thead>
                        <tbody>
                            {% for agent in agents %}
                                <tr>
                                    <td width="5%">{{ agent.matricule }}</td>
                                    <td>{{ agent.nom }}&nbsp;{{ agent.prenom }}</td>
                                    <td>{{ agent.service }}</td>
                                 </tr>
                             {% endfor %}
                        </tbody>
                     </table>
            </div>
          </div>
        </div>
                       
     {%endblock content %}
 

   {% block scripts %}
  
     // DataTable
    var table = $('#idTable').DataTable(
                { "stateSave": true,
                "oLanguage": {
                    "sSearch": "Filtre",
                    "sFirst": "1ere page",
                    "sLast": "Dernière page",
                    "sNext": "Prochaine page",
                    "sPrevious": "Page précédente",
                    "EmptyTable": "Pas de données",
                    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                    "sZeroRecords": "Pas d'enregistrement à afficher",
                    "sInfoEmpty": "Pas d'enregistrement à afficher",
                    "sInfoThousands": " ",
                    "sLengthMenu": 'Afficher <select>' +
                            '<option value="10">10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="-1">Tous</option>' +
                            '</select> enregistrements',
                    "sPaginationType": "full_numbers"
                }
               }
              );
     
  
    $("#idTable thead td").each( function ( i ) {
    
     if (i != 6){
        var select = $('<select><option value=""></option></select>')
            .appendTo( $(this).empty() )
            .on( 'change', function () {
                table.column( i )
                    .search( $(this).val() )
                    .draw();
            } );
 
        table.column( i ).data().unique().sort().each( function ( d, j ) {
            select.append( '<option value="'+d+'">'+d+'</option>' )
        } );
        };
    } );
    
    $("#idTable tfoot").remove();
    
    $('#idTable tbody').on('click', 'tr', function () {
         $('#idTable tbody tr').removeClass('alert alert-info');
         $('#idTable tbody tr').css({'background-color':'#fff'});
         $(this).addClass('alert alert-info');
         $(this).css({'background-color':'#d9edf7'});
     } );
    
    $("#idTable tfoot").remove();
   {% endblock scripts %}
