<table class="table table-responsive table-bordered table-striped table-condensed table-advance table-hover" id="idTable">
    <thead>
       <tr>
            <th>matricule</th>
            <th>Nom</th>
            <th>Motif</th>
            <th>Retour</th>
            <th>Etat</th>
            <th>Tél. agent</th>
            <th>Bureau</th>
            <th>Sécretaire</th>
            <th>Service</th>
            <th>agents du service</th>
       </tr>
       <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
       </tr>
    </thead>
    <tbody>
        {% set nbPresents = 0 %}
        {% set nbAbsents = 0 %}
        {% for agent in tabAgents %}
            {% if agent.etat | trim == 'absent' or agent.etat | trim  == 'absente' %}
                {% set nbAbsents = nbAbsents + 1 %}
               <tr class="danger">
            {% elseif agent.etat | trim == 'présent' or agent.etat | trim  == 'présente' %}
                 {% set nbPresents = nbPresents + 1 %}
               <tr class="success">
            {% else %}
                <tr>
            {% endif %}
                <td width="5%">{{ agent.matri }}</td>
                <td>{{ agent.nomPrenom }}</td>
                <td>{{ agent.motif }}</td>
                <td>{{ agent.dateRetour }}</td>
                <td>{{ agent.etat }}</td>
                <td>{{ agent.telAgent }}</td>
                <td>{{ agent.bureau }}</td>
                <td>
                    {% if agent.nomSec | length %}
                    {{ agent.nomSec }} (tél. : {{ agent.telSec }} )
                    {% endif %}
                </td>
                <td>{{ agent.service }}</td>
                <td id="idTd_{{ agent.matri }}">
                    <div class="text-center" id="idDiv_{{ agent.matri }}">
                        <a id="idBt_{{ agent.matri }}" class="btn btn-primary" data-toggle="modal" href="#">
                          <i class="fa fa-search"></i> 
                        </a>
                    </div>
                </td>
              </tr>
         {% endfor %}
    </tbody>
  </table>
    
    <div class="row">
           <div class="col-md-12 pull-right text-info">
             <ul class="list-inline">
               <li><span class="label label-success">Presents : {{ nbPresents }}</span></li>
              <li><span class="label label-danger">Absents : {{ nbAbsents }}</span></li>
             </ul>  
           </div>
      </div>        
    
 <script type="text/javascript" language="javascript">
    jQuery(document).ready(function() { 
                     
          // DataTable
    var table = $('#idTable').DataTable(
                { "stateSave": false,
                  "order": [[ 1, "asc" ]],
                  "oLanguage": {
                    "sSearch": "Filtre",
                    "sFirst": "1ere page",
                    "sLast": "Dernière page",
                    "sNext": "Prochaine page",
                    "sPrevious": "Page précédente",
                    "EmptyTable": "Pas de données",
                    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                    "sZeroRecords": "Pas d'enregistrement à afficher",
                    "sInfoEmpty": "Pas d'enregistrement à afficher",
                    "sInfoThousands": " ",
                    "sLengthMenu": 'Afficher <select>' +
                            '<option value="10">10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="-1">Tous</option>' +
                            '</select> enregistrements',
                    "sPaginationType": "full_numbers"
                }
               }
              );
      
        $("#idTable thead td").each( function ( i ) {
    
     if (i != 2 && i != 9){
        var select = $('<select><option value=""></option></select>')
            .appendTo( $(this).empty() )
            .on( 'change', function () {
                table.column( i )
                    .search( $(this).val() )
                    .draw();
            } );
 
        table.column( i ).data().unique().sort().each( function ( d, j ) {
            select.append( '<option value="'+d+'">'+d+'</option>' )
        } );
        };
    } );
    
    $("#idTable tfoot").remove();
    
    $('#idTable tbody').on('click', 'tr', function () {
         $('#idTable tbody tr').removeClass('alert alert-info');
         $('#idTable tbody tr').css({'background-color':'#fff'});
         $(this).addClass('alert alert-info');
         $(this).css({'background-color':'#d9edf7'});
     } );
     
     {% for agent in tabAgents %}
            $(document).on('click','#idBt_{{ agent.matri }}',function(e){
                        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                        var url = '{{ path("aeag_service_resultat_etat",{"service":  "par1"}) }}';
                        url = url.replace("par1", '{{ agent.service }}');
                        $.ajax({
                                url: url,
                                type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                                success: function(html) { // Je récupère la réponse du fichier PHP
                                     $('#idModalService').empty().append(html);
                                     $('#modalService').modal();
                                     }
                            });
                     });  
    {% endfor %}
     
       });
 </script>
