{% extends '::base.html.twig' %}

{% block titre %}
    {% if  app.environment == 'dev' %}
       Programmation SQE en test
     {% else %}
        Programmation SQE 
    {% endif %}
{% endblock titre %}

 {% block message_admin %}
  {#  <div id="idAttente">
        <i class="fa fa-spinner fa-spin"></i>
        <div class="alert alert-warning">
                 <p>
                   Merci de patientez SVP
                 </p>
        </div>
    </div>#}
    {%if (app.session.get('messageAdmin') | length) > 0 and is_granted('ROLE_SQE') and not is_granted('ROLE_ADMINSQE') %}
<h5 class="alert alert-danger pull-right">
           {{ app.session.get('messageAdmin') }}
</h5>
    {%endif%}
{% endblock message_admin %}

 {% block menu %}
     {% if is_granted('ROLE_SQE') %}
        <li><a href="{{ path('aeag_homepage') }}"><i class="fa fa-home"></i>&nbsp; Accueil</a></li>
     {%endif%}
     
     {% if is_granted('ROLE_ADMINSQE') %}

        <li {%if app.session.get('menu') == 'parametres'%} class="active" {%endif%}>
            <a href="{{ path('AeagSqeBundle_admin_parametres') }}">
                {%if app.session.get('menu') == 'parametres'%}<span class="selected"></span>{%endif%}
                Paramètres
            </a>
        </li>
     {%endif%}
     
     {% if  is_granted('ROLE_PROGSQE') %}
        <li {%if app.session.get('menu') == 'programmation'%} class="active" {%endif%}>
            <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
                {%if app.session.get('menu') == 'programmation'%}<span class="selected"></span>{%endif%}
                Programmation
            </a>

            <ul class="dropdown-menu">
                {% if  is_granted('ROLE_PROGSQE') %}
                    <li><a href="{{ path('Aeag_sqe_programmation_lots', {'action': 'P'}) }}">Programmer</a></li>
                {%endif%}
                <li><a href="{{ path('Aeag_sqe_programmation_lots', {'action': 'V'}) }}">Consulter</a></li>
            </ul>
        </li>
       {% endif %}
        
        <li {%if app.session.get('menu') == 'referentiel'%} class="active" {%endif%}>
            <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
                {%if app.session.get('menu') == 'referentiel'%}<span class="selected"></span>{%endif%}
                Référentiel
                <i class="fa fa-angle-down"></i>     
            </a>
           <ul class="dropdown-menu">
               <li class="dropdown-submenu">
                   <a href="javascript:;">
                        Sandre
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_parametres') }}">Paramètres</a></li>
                       <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_supports') }}">Supports</a></li>
{#                           <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_fractions') }}">Fractions</a></li>#}
                       <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_unites') }}">Unités de mesure</a></li>
                       <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_methodes') }}">Méthodes</a></li>
                       <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_zone_verticale_prospectees') }}">Zones verticales prospectées</a></li>
                    </ul>
               </li>
               <li class="dropdown-submenu">
                   <a  href="javascript:;">
                        Aeag
                   </a>
                   <ul class="dropdown-menu">
                       {% if not is_granted('ROLE_PRESTASQE') %}
                       <li><a href="{{ path('AeagSqeBundle_referentiel_ref_corres_producteurs') }}">Producteurs</a></li>
                       <li><a href="{{ path('AeagSqeBundle_referentiel_ref_corres_prestataires') }}">Prestataires</a></li>
                       {%endif%}
                       <li><a href="{{ path('AeagSqeBundle_referentiel_pg_ref_station_mesures') }}">Stations de mesure</a></li>
                       <li><a href="{{ path('AeagSqeBundle_referentiel_pg_ref_reseau_mesures') }}">Réseaux de mesure</a></li>
{#                           <li><a href="{{ path('AeagSqeBundle_referentiel_pg_ref_site_prelevement') }}">Sites de prélèvement</a></li>#}
                   </ul>
                </li>
                <li class="dropdown-submenu">
                     <a  href="javascript:;">
                        Programmation
                     </a>
                    <ul class="dropdown-menu">
                        {% if not is_granted('ROLE_PRESTASQE') %}
                        <li><a href="{{ path('AeagSqeBundle_referentiel_typeMilieux') }}">Types de milieu</a></li>
                        <li><a href="{{ path('AeagSqeBundle_referentiel_zoneGeographiques') }}">Zones géographiques</a></li>
                            {% if is_granted('ROLE_ADMINSQE') %}
                                <li><a href="{{ path('AeagSqeBundle_referentiel_webusers') }}">Utilisateurs</a></li>
                            {%endif%}
                        {%endif%}
                        <li><a href="{{ path('AeagSqeBundle_referentiel_groupes') }}">Groupes de paramètres</a></li>
                        {% if not is_granted('ROLE_PRESTASQE') %}
                            <li><a href="{{ path('AeagSqeBundle_referentiel_marches') }}">Marchés</a></li>
                        {%endif%}
{#                            <li><a href="{{ path('AeagSqeBundle_referentiel_lots') }}">Lots</a></li>#}
                    </ul>
                </li>
            </ul>
        </li>   
        
        {% if is_granted('ROLE_PRESTASQE')  %}
            <li><a href="{{ path('AeagSqeBundle_echangefichiers_index')}}">Echange de fichiers</a></li>
            <li><a href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur.pdf') }}" target="_blank">Suivi des prélèvements</a></li>
        {%endif%}
        <li><a href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur.pdf') }}" target="_blank">Aide</a></li>
        
        {% if not is_granted('ROLE_ADMINSQE')  %}
            <li {%if app.session.get('menu') == 'contact'%} class="active" {% endif %}>
                  <a href="{{ path('aeag_sqe_envoyerMessage') }}">
                  Contact
                  </a>
            </li>
        {% endif %}
<!--  fin Menu collecteur -->
 
{% endblock menu %}

 