{% extends 'AeagDieBundle::layout.html.twig' %}

{% block navbar %}{% endblock navbar %}

{% block breadcrumb %}{% endblock breadcrumb %}

{%block panel_heading %}
    <h1>Administration des organismes</H1>
{%endblock panel_heading %}

{%block content %}

<div align="center">
   <h1>Administration des organismes</H1>
</div>
<br>
<table align="center">
    <tr>
        <td align="left">
            <a href="{{ path('organisme_new') }}">
                <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/Add.png') }}">
                Nouveau organisme
            </a>
        </td>
    </tr>
</table>

  <div class="row">
        <div class="col-xm-12">
            <div class="small">
                <table class="table table-bordered table-condensed table-advance" id="idTable">
                    <thead>
                        <tr>
                             <th width="5%">Actions</th>
                            <th nowrap>Id</th>
                            <th  nowrap>N° ordre</th>
                            <th  nowrap>Organisme</th>
                           </tr>
                    </thead>
                    <tbody>
     {% for entity in entities %}
        <tr>
              <td width="10%" align="right">
                             <a  class="btn btn-warning" href=""{{ path('organisme_edit', { 'id': entity.id }) }}" title="Modifier l'organisme">
                                <i class="fa fa-edit"></i> 
                            </a>
                            <a class="btn btn-danger"  href="{{ path('organisme_delete', { 'id': entity.id }) }}" title="Supprimer l'organisme">
                                <i class="fa fa-trash-o"></i>
                            </a>
            </td>
            <td width="10%"><a href="{{ path('organisme_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td width="5%">{{ entity.ordre }}</td>
            <td width="75%">{{ entity.organisme }}</td>
          </tr>
    {% endfor %}
    </tbody>
</table>
    
     <div class="form-group">
           <div class="col-xs-offset-4 col-xs-8">
              <a  id="btFermer" class="btn btn-danger" href="{{ path('aeag_die_admin') }}"><i class="fa fa-power-off"></i> Retour</a>
            </div>
        </div>


{% endblock  content%}

{% block scripts %}

    // DataTable
    var table = $('#idTable').DataTable(
    {"stateSave": false,
    "oLanguage": {
    "sSearch": "Filtre",
    "sFirst": "1ere page",
    "sLast": "Dernière page",
    "sNext": "Prochaine page",
    "sPrevious": "Page précédente",
    "EmptyTable": "Pas de données",
    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
    "sZeroRecords": "Pas d'enregistrement à afficher",
    "sInfoEmpty": "Pas d'enregistrement à afficher",
    "sInfoThousands": " ",
    "sLengthMenu": 'Afficher <select>' +
        '<option value="10">10</option>' +
        '<option value="20">20</option>' +
        '<option value="30">30</option>' +
        '<option value="40">40</option>' +
        '<option value="50">50</option>' +
        '<option value="-1">Tous</option>' +
        '</select> enregistrements',
    "sPaginationType": "full_numbers"
    }
    }
    );

    $("#idTable thead td").each( function ( i ) {

    if (i != 4){
    var select = $('<select><option value=""></option></select>')
    .appendTo( $(this).empty() )
    .on( 'change', function () {
    table.column( i )
    .search( $(this).val() )
    .draw();
    } );

    table.column( i ).data().unique().sort().each( function ( d, j ) {
    select.append( '<option value="'+d+'">'+d+'</option>' )
    } );
    };
    } );

{% endblock scripts %}
