{% extends "AeagDieBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
        <a href="{{ path('organisme') }}">Organisme</a> 
    </li>
     <li class="active">
        Nouveau
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
             <h3 class="page-title text-center">
                Création d'un organisme
             </h3>
  {%endblock panel_heading %}

{% block content %}


<form class="form" action="{{ path('organisme_create') }}" method="post" {{ form_enctype(form) }}>
     
         {% spaceless %}
                {% if not form.vars.valid %}
                        <div class="alert alert-danger">
                           {% for children in form.children %}
                                {% if not children.vars.valid %}
                                    {{ form_errors(children) }}
                               {% endif %}
                            {% endfor %}
                        </div>
                {% endif %}
          {% endspaceless %}              
    
        <div class="form-group">
            <label for="ordre" class="col-xs-offset-2 col-xs-2 control-label">N° ordre</label>
            {%if form_errors(form.ordre) %}
                <div class="col-xs-3 input-group has-error has-feedback">
            {% else %}
                 <div class="col-xs-3 input-group">
             {% endif %}
               {{ form_widget(form.ordre, { 'attr': {'class': 'form-control ', 'placeholder': 'N° ordre'} }) }}
             </div>
         </div> 
             
          <div class="form-group">
            <label for="organisme" class="col-xs-offset-2 col-xs-2 control-label">Organisme</label>
            {%if form_errors(form.organisme) %}
                <div class="col-xs-6 input-group has-error has-feedback">
            {% else %}
                 <div class="col-xs-6 input-group">
             {% endif %}
               {{ form_widget(form.organisme, { 'attr': {'class': 'form-control ', 'placeholder': 'Organisme'} }) }}
             </div>
         </div> 

            <div class="hide">
           {{ form_rest(form) }}
           </div>
           
           <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                   <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregister</button>
                   <a class="btn btn-danger" href="{{ path('organisme') }}"><i class="fa fa-power-off"></i> Annuler</a>
                </div>
          </div>

 </form>

{% endblock content%}
