<div class="block-border"> 
 <div class="align-center">
<form id="form{{ cdRisque }}" action="#" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}

    {{ form_widget(form.euCd) }}
    {{ form_widget(form.cdRisque) }}

    <h2>{{ form_label(form.valeur, 'Choisir une valeur : ') }}</h2>
	<span id="{{ cdRisque|e }}_U" p="U" class="dce_risque_U unselected">Inconnu</span>
        <span id="{{ cdRisque|e }}_1" p="1" class="dce_risque_1 unselected">Pas de rique</span>
        <span id="{{ cdRisque|e }}_2" p="2" class="dce_risque_2 unselected">Doute</span>
        <span id="{{ cdRisque|e }}_3" p="3" class="dce_risque_3 unselected">Risque</span>
    {{ form_widget(form.valeur) }}
    {{ form_errors(form.valeur) }}
    <br><br>    
    <h2>{{ form_label(form.commentaire, 'Saisir un commentaire et éventuellement vos coordonnées : ') }}</h2>
    {{ form_errors(form.commentaire) }}
    {{ form_widget(form.commentaire, {attr : {'cols': '60', 'rows': '5'}}) }}
    <br><br>
</form>
    <input type="button" id="valider" value="Valider" /><input id="annuler" type="button" value="Annuler" />
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$("#{{ cdRisque }}_{{ derniereProposition }}").removeClass('unselected');
	$("#form{{ cdRisque }} > #form_valeur").val("{{ derniereProposition }}");

	// choix de la valeur de l risque
	$("span[id^='{{ cdRisque }}_']").click(function(e){
		var $newRisque = $(this).attr("p");

		 // IHM
                $("span[id='{{ cdRisque }}_U']").addClass('unselected');
                $("span[id='{{ cdRisque }}_1']").addClass('unselected');
                $("span[id='{{ cdRisque }}_2']").addClass('unselected');
                $("span[id='{{ cdRisque }}_3']").addClass('unselected');
                $("span[id='{{ cdRisque }}_"+$newRisque+"']").removeClass('unselected');

		// affecter valeur 
		$("#form{{ cdRisque }} > #form_valeur").val($newRisque);
	});

	// validation de la saisie
	$("#valider").click(function(e){
            
            
                if ( $("#form{{ cdRisque }} > #form_commentaire").val() == '' || $("#form{{ cdRisque }} > #form_valeur").val() == '')
                {
                    alert("Choisissez un état et saisissez un commentaire svp");
               
                } else
                {
            
		// lancer la requête ajax qui valide la saisie
                
		e.preventDefault();
		 		
		//alert($("#form{{ cdRisque }} > #form_valeur").val());
                
                // obtenir l'url
		var $url = "{{ path('AeagEdlBundle_risqueSubmit') }}";
                               
		$.getJSON($url,
			{
	    		euCd: $("#form{{ cdRisque }} > #form_euCd").val(),
	    		cdRisque: $("#form{{ cdRisque }} > #form_cdRisque").val(),
		    	commentaire: $("#form{{ cdRisque }} > #form_commentaire").val() ,
		    	valeur: $("#form{{ cdRisque }} > #form_valeur").val()
			}, 
                        
			function(json) {
				//alert(json.message);
				
				// rétablir le style du bouton crayon
				$('a[name="newRisque{{ cdRisque }}"]').removeClass("inEdit");
	
				// masquer le div de saisie
	   			$("#divNewRisque{{ cdRisque }}").hide();
	
	   			// charger et afficher les propositions pour cette risque
	   			//alert(json.message);
				$("body").css("cursor", "wait");
                                
                                $.post("{{ path('AeagEdlBundle_risqueListProposed') }}", 
   					{ 
   						euCd: "{{ euCd }}", 
   						cdRisque: "{{ cdRisque }}"
   					}, 
   					function(data) {
   	   					//alert(data);
   	   					var $div = "#divRisque{{ cdRisque }}";
   						// placer le formulaire sous le div
   						$($div).html(data); 
   						// rétablir curseur
   						$("body").css("cursor", "auto");
   					}
   				).error(function() { 
   					// rétablir curseur
   					$("body").css("cursor", "auto");
   					alert("Erreur non déterminée"); 
   				}); 
	   			
			}
		);
            }
		
	}); 

	// annulation de la saisie
	$("#annuler").click(function(e){
		// masquer le div de saisie
		$("#divNewRisque{{ cdRisque }}").hide();
		$.post("{{ path('AeagEdlBundle_risqueListProposed') }}", 
   					{ 
   						euCd: "{{ euCd }}", 
   						cdRisque: "{{ cdRisque }}"
   					}, 
   					function(data) {
   	   					//alert(data);
   	   					var $div = "#divRisque{{ cdRisque }}";
   						// placer le formulaire sous le div
   						$($div).html(data); 
   						// rétablir curseur
   						$("body").css("cursor", "auto");
   					}
   				).error(function() { 
   					// rétablir curseur
   					$("body").css("cursor", "auto");
   					alert("Erreur non déterminée"); 
   				}); 
	});
</script>