<h1>SousTheme</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Soustheme</th>
            <td>{{ entity.sousTheme }}</td>
        </tr>
        <tr>
            <th>Destinataire</th>
            <td>{{ entity.destinataire }}</td>
        </tr>
        <tr>
            <th>Objet</th>
            <td>{{ entity.objet }}</td>
        </tr>
        <tr>
            <th>Corps</th>
            <td>{{ entity.corps }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('soustheme') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('soustheme_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('soustheme_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
