{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_suiviPrelevements_index') }}">Suivi des prélèvements</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_suiviPrelevements_index') }}">Lots</a> 
    </li>
    <li>
           <a href="{{path('AeagSqeBundle_suiviPrelevements_lot_periodes',{ 'lotanId': lotan.id })}}">Périodes</a> 
    </li>
     <li>
           <a href="{{path('AeagSqeBundle_suiviPrelevements_lot_periode_stations',{ 'periodeAnId': periodeAn.id })}}">Stations</a> 
    </li>
     <li class="active">
          Demande
    </li>
{% endblock breadcrumb %} 

{% block modal %}
    
     {% for cmdPrelev  in  demande.cmdPrelevs %}
         
        {#modal nouveau suivi #}
              <div class="modal fade" id="modalNouveauSuivi" >
                  <div class="modal-dialog">
                             <div class="modal-content" >
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Suivi du prélèvement du {{ cmdPrelev.cmdPrelev.datePrelev | date("d/m/Y") }}</h4>
                                        </div>
                                      <div class="modal-body">
                                          <div id="idModalContentNouveauSuivi"></div>
                                        </div>   
                             </div>
                  </div>
              </div>
                                        
              {#modal maj suivi #}
              <div class="modal fade" id="modalMajSuivi" >
                  <div class="modal-dialog">
                             <div class="modal-content" >
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Suivi du prélèvement du {{ cmdPrelev.cmdPrelev.datePrelev | date("d/m/Y") }}</h4>
                                        </div>
                                      <div class="modal-body">
                                          <div id="idModalContentMajSuivi"></div>
                                        </div>   
                             </div>
                  </div>
              </div>
          
                                        
          {%if cmdPrelev.suiviPrels | length%} 
                    {% for suiviPrel  in cmdPrelev.suiviPrels %}
                            {#modal suppression suivi #}                          
                             <div class="modal fade" id="sup-{{ suiviPrel.suiviPrel.id }}">
                                      <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                  <h4 class="modal-title" id="supLabel-{{ suiviPrel.suiviPrel.id }}">Prélèvement  du {{ cmdPrelev.cmdPrelev.datePrelev | date("d/m/Y") }}</h4>
                                              </div>
                                              <div class="modal-body">
                                                  <h4>Cliquer sur la corbeille pour valider la suppression du suivi {{ suiviPrel.suiviPrel.datePrel | date("d/m/Y") }}</h4>
                                                  <br/><br/>
                                                  <div class="alert alert-danger">Attention : Une fois supprimée, le suivi sera supprimé définitivement</div>
                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Annuler</button>
                                                  <a  id="idSupprimerGroupe"  class="btn btn-danger"  href="{{ path('AeagSqeBundle_suiviPrelevements_lot_periode_station_demande_suivi_supprimer', { 'suiviPrelId': suiviPrel.suiviPrel.id, 'periodeAnId': periodeAn.id }) }}" title="Supprimer">
                                                      <i class="fa fa-trash-o"> Supprimer</i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>  
                    {% endfor %}
          {% endif %}
                                    
       {% endfor %}
     
{% endblock modal %}

{%block panel_heading %}
    <h3 class="page-title text-center">
        Suivi des prélèvements de la demande  du {{ demande.cmdDemande.dateDemande | date("d/m/Y") }} </br>
        de la station {{ station.code }} {{ station.libelle }} entre le  {{ periodeAn.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;et&nbsp;&nbsp; {{periodeAn.periode.dateFin | date("d/m/Y") }}) </br>
        du lot  {{ lotan.lot.nomLot }} - {{ lotan.anneeProg }}
    </h3>
{%endblock panel_heading %}

{%block content %}
    
   
    <div class="form-body">  
        {% for cmdPrelev  in  demande.cmdPrelevs %}
        <table class="table table-bordered table-condensed table-advance" id="idTable_cmdPrelev{{ cmdPrelev.cmdPrelev.id }}">
            <caption align="top"><h3>Prélèvement du {{ cmdPrelev.cmdPrelev.datePrelev | date("d/m/Y") }}</h3>
                     {% if is_granted('ROLE_PRESTASQE')  and cmdPrelev.maj == 'N' %}
                                 <a class="btn btn-success" id="idNouveauSuivi{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Nouveau suivi">
                                      <i class="fa fa-plus"> Nouveau</i>
                                 </a>
                     {% endif %}
            </caption> 
            <thead>
                <tr>
                    <th width="1%">Actions</th>
                    <th>Suivi</th>
                    <th>statut</th>
                    <th>commentaire</th>
                  </tr>
            </thead>
            <tbody>
                 {%if cmdPrelev.suiviPrels | length%} 
                    {% for suiviPrel  in cmdPrelev.suiviPrels %}
                          <tr>
                            <td align="center" nowrap> 
                                {% if  suiviPrel.maj == 'N' %}
                                     <a class="btn btn-success" id="idMajSuivi{{ suiviPrel.suiviPrel.id  }}" href="#" title="Maj suivi">
                                      <i class="fa fa-edit"> </i>
                                     </a>
                                       <a class="btn btn-danger" data-toggle="modal" href="#sup-{{ suiviPrel.suiviPrel.id }}" title="Supprimer le suivi">
                                                <i class="fa fa-trash-o"></i>
                                        </a>
                                {% else %}
                                      <a id="id_{{ suiviPrel.suiviPrel.id }}" class="btn btn-primary" href="#" title="consulter suivi prélèvement">
                                       <i class="fa fa-eye"></i> 
                                   </a>
                                {% endif %}
                            </td>
                             <td>{{ suiviPrel.suiviPrel.datePrel | date("d/m/Y") }}</td>
                             <td align="center">
                                 {% if suiviPrel.suiviPrel.statutPrel == 'P' %}
                                      Prévisionnel
                                 {% elseif suiviPrel.suiviPrel.statutPrel == 'F' %}
                                      Effectué
                                 {% elseif suiviPrel.suiviPrel.statutPrel == 'N' %}
                                      Non effectué
                                 {% elseif suiviPrel.suiviPrel.statutPrel == 'V' %}
                                      Validé
                                 {% elseif suiviPrel.suiviPrel.statutPrel == 'R' %}
                                      Réfusé
                                 {% endif %}</td>
                             <td align="center">{{ suiviPrel.suiviPrel.commentaire}}</td>
                           </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
     {% endfor %}
    </div>
{%endblock content %}    


{% block scripts %}
    jQuery(document).ready(function() {
    
    
          {% for cmdPrelev  in  demande.cmdPrelevs %}
              
                    var table_cmdPrelev{{ cmdPrelev.cmdPrelev.id }} = $('#idTable_cmdPrelev{{ cmdPrelev.cmdPrelev.id }}').DataTable(
                        {"stateSave": true,
                         "order": [[ 1, "desc" ]],
                        "oLanguage": {
                        "sSearch": "Filtre",
                        "sFirst": "1ere page",
                        "sLast": "Dernière page",
                        "sNext": "Prochaine page",
                        "sPrevious": "Page précédente",
                        "EmptyTable": "Pas de données",
                        "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                        "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                        "sZeroRecords": "Pas d'enregistrement à afficher",
                        "sInfoEmpty": "Pas d'enregistrement à afficher",
                        "sInfoThousands": " ",
                        "sLengthMenu": 'Afficher <select>' +
                            '<option value="10">10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="-1">Tous</option>' +
                            '</select> enregistrements',
                        "sPaginationType": "full_numbers"
                        }
                        }
                        );

                        
                   $(document).on('click','#idNouveauSuivi{{ cmdPrelev.cmdPrelev.id }}',function(e){
                            e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                            $('#modalTraitementEncours').modal('toggle');
                           var url = '{{ path("AeagSqeBundle_suiviPrelevements_lot_periode_station_demande_suivi_new",{"prelevId":  "par1", "periodeAnId": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                            url = url.replace("par1", {{ cmdPrelev.cmdPrelev.id }});
                            url = url.replace("par2", {{ periodeAn.id }});
                            url = url.replace("amp;","");
                           $.ajax({
                                    url: url,
                                    type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                                    success: function(html) { // Je récupère la réponse du fichier PHP
                                         $('#idModalContentNouveauSuivi').empty().append(html);
                                         $('#modalNouveauSuivi').modal('show');
                                         $('#modalTraitementEncours').modal('hide');
                                       }
                                });
                    });
                    
                    
                   {% for suiviPrel  in cmdPrelev.suiviPrels %}
                            $(document).on('click','#idMajSuivi{{ suiviPrel.suiviPrel.id }}',function(e){
                                   e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                                   $('#modalTraitementEncours').modal('toggle');
                                  var url = '{{ path("AeagSqeBundle_suiviPrelevements_lot_periode_station_demande_suivi_maj",{"suiviPrelId":  "par1", "periodeAnId": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                                   url = url.replace("par1", {{ suiviPrel.suiviPrel.id }});
                                    url = url.replace("par2", {{ periodeAn.id }});
                                   url = url.replace("amp;","");
                                  $.ajax({
                                           url: url,
                                           type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                                           success: function(html) { // Je récupère la réponse du fichier PHP
                                                $('#idModalContentNouveauSuivi').empty().append(html);
                                                $('#modalNouveauSuivi').modal('show');
                                                $('#modalTraitementEncours').modal('hide');
                                              }
                                       });
                             });
                   {% endfor %}
                             
            
         {% endfor %}
         
      });
    
            
    
{%endblock scripts %}    