  {% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_suiviPrelevements_index') }}">Suivi des prélèvements</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_suiviPrelevements_index') }}">Lots</a> 
    </li>
    <li>
           <a href="{{path('AeagSqeBundle_suiviPrelevements_lot_periodes',{ 'lotanId': lotan.id })}}">Périodes</a> 
    </li>
     <li>
           <a href="{{path('AeagSqeBundle_suiviPrelevements_lot_periode_stations',{ 'periodeAnId': periodeAn.id })}}">Stations</a> 
    </li>
     <li>
         <a href="{{path('AeagSqeBundle_suiviPrelevements_lot_periode_station_demande',{'stationId': station.ouvFoncId, 'periodeAnId': periodeAn.id, 'cmdDemandeId': demande.id })}}">Demande</a>
    </li>
     <li class="active">
          Saisie des analyses
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
        <div class="row">
                <div class="col-md-offset-3 col-md-7">
                     <h3 class="page-title ">
                         <table>
                             <tr><td>Analyses du {{ cmdSuiviPrel.datePrel | date("d/m/Y") }}</td></tr>
                             <tr><td>Prélèvement du {{ cmdPrelev.datePrelev | date("d/m/Y") }}</td></tr>
                             <tr><td>Demande  du {{ demande.dateDemande | date("d/m/Y") }}</td></tr>
                             <tr><td>Station {{ station.code }} {{ station.libelle }}</td></tr>
                             <tr><td>entre le  {{ periodeAn.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;et&nbsp;&nbsp; {{periodeAn.periode.dateFin | date("d/m/Y") }}</td></tr>
                             <tr><td>Lot  {{ lotan.lot.nomLot }} - {{ lotan.anneeProg }}  - version :  {{ lotan.version }}</td></tr>
                         </table>
                    </h3>
                </div>
                <div class="col-md-1  pull-left">
                        <a id="expandAll" href="#" class="btn btn-primary" role="button"><i class="fa fa-expand"></i></a>
                        <a id="collapseAll" href="#" class="btn btn-primary" role="button"><i class="fa fa-compress"></i></a>
                </div>
        </div>
 {%endblock panel_heading %}

{%block content %}
 
    <form class="form" id="idForm" role="form" action="{{ path("AeagSqeBundle_suiviPrelevements_lot_periode_station_demande_suivi_ana_resultat",{"prelevId":  cmdPrelev.id, "periodeAnId":  periodeAn.id, "stationId": station.ouvFoncId}) }}" method="post">
    
    <div class="form-body">  
        {% for groupe   in  groupes %}
             <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                         {% if is_granted('ROLE_ADMINSQE') or  (user.prestataire.adrCorId == groupe.grparAn.prestaDft.adrCorId)  %}
                                <div class="panel-heading" role="tab" id="heading{{groupe.grparAn.id}}">
                                         <h4 class="panel-title h4-default">
                                                 <div class="row">
                                                    <div class="col-md-10">
                                                        <a id="idCollapse{{ groupe.grparAn.id}}" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ groupe.grparAn.id}}" aria-expanded="true" aria-controls="collapse{{ groupe.grparAn.id}}">
                                                            <i id="idCollapseI{{ groupe.grparAn.id}}" class="btn btn-default fa fa-compress text-center"></i>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ groupe.grparAn.grparRef.codeGrp }} {{ groupe.grparAn.grparRef.libelleGrp }} 
                                                      </a>
                                                   </div>
                                                    <div class="col-md-2 pull-right text-info">
                                                          <ul class="list-inline">
                                                             <li><span  class="label label-primary"><span id="paramSaisis{{ groupe.grparAn.id}}">0</span>/{{ groupe.paramAns | length}}</span></li>
                                                           </ul>  
                                                     </div>
                                               </div>            
                                          </h4>
                                </div>
                             {% else %}
                                  <div class="panel-heading"  role="tab" id="heading{{groupe.grparAn.id}}">
                                         <h4 class="panel-title  h4-default">
                                                 <div class="row">
                                                    <div class="col-md-10">
                                                        <a id="idCollapse{{ groupe.grparAn.id}}" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ groupe.grparAn.id}}" aria-expanded="true" aria-controls="collapse{{ groupe.grparAn.id}}">
                                                            <i id="idCollapseI{{ groupe.grparAn.id}}" class="btn btn-default fa fa-compress text-center"></i>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ groupe.grparAn.grparRef.codeGrp }} {{ groupe.grparAn.grparRef.libelleGrp }} 
                                                            &nbsp;renseigné par le prestataire {{ groupe.grparAn.prestaDft.nomCorres }}
                                                      </a>
                                                   </div>
                                                    <div class="col-md-2 pull-right text-info">
                                                          <ul class="list-inline">
                                                             <li><span  class="label label-primary"><span id="paramSaisis{{ groupe.grparAn.id}}">0</span>/{{ groupe.paramAns | length}}</span></li>
                                                           </ul>  
                                                     </div>
                                               </div>            
                                          </h4>
                                </div>
                             {% endif %}
                             <div id="collapse{{ groupe.grparAn.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ groupe.grparAn.id}}">
                                      <div class="panel-body">
                                                <div class="row">
                                                         <div class="col-xm-1"></div>
                                                         <div class="col-xm-10">
                                                                   <table class="table table-bordered table-condensed table-advance " id="idTable{{ groupe.grparAn.id}}">
                                                                             <thead>
                                                                                      <tr>
                                                                                        <th>Code</th> 
                                                                                        <th>Libelle</th> 
                                                                                        <th>valeur</th> 
                                                                                        <th>Unité</th> 
                                                                                        <th>Fraction</th> 
                                                                                      </tr>
                                                                                </thead>
                                                                             <tbody>
                                                                                         {% for paramAn in groupe.paramAns %}
                                                                                                     {% if  paramAn.paramAn %}
                                                                                                          {% if is_granted('ROLE_ADMINSQE') or  (user.prestataire.adrCorId == paramAn.paramAn.prestataire.adrCorId)  %}
                                                                                                                <tr>
                                                                                                                        <td nowrap>{{ paramAn.paramAn.codeParametre.codeParametre }}</td>
                                                                                                                        <td align="left">{{ paramAn.paramAn.codeParametre.nomParametre }}</td>
                                                                                                                        <td align="right">
                                                                                                                              <div class="form-group">
                                                                                                                                   <div class="input-group">
                                                                                                                                       {% if paramAn.valeurs  %}
                                                                                                                                              <select class="form-control" id="idValeur{{ paramAn.paramAn.id}}" name="valeur{{ paramAn.paramAn.id}}"   >    
                                                                                                                                                   <option value=""></option> 
                                                                                                                                                  {% for valeur in paramAn.valeurs %}
                                                                                                                                                          {% if paramAn.pgCmdAnalyse %}
                                                                                                                                                                  {% if paramAn.pgCmdAnalyse.resultat == valeur.valeur %}
                                                                                                                                                                           <option value="{{valeur.valeur}}" selected>{{valeur.libelle }}</option> 
                                                                                                                                                                  {% else %}
                                                                                                                                                                           <option value="{{valeur.valeur}}">{{ valeur.libelle }}</option> 
                                                                                                                                                                  {% endif %}
                                                                                                                                                            {% else %}
                                                                                                                                                                   <option value="{{valeur.valeur}}">{{ valeur.libelle}}</option> 
                                                                                                                                                           {% endif %}
                                                                                                                                                  {% endfor %}
                                                                                                                                                </select>
                                                                                                                                         {% else %}
                                                                                                                                             {% if paramAn.pgCmdAnalyse %}
                                                                                                                                                   <input id="idValeur{{ paramAn.paramAn.id}}" class="form-control number" placeholder="valeur" name ="valeur{{ paramAn.paramAn.id}}" value="{{ paramAn.pgCmdAnalyse.resultat }}">
                                                                                                                                               {% else %}
                                                                                                                                                     <input id="idValeur{{ paramAn.paramAn.id}}" class="form-control number" placeholder="valeur" name ="valeur{{ paramAn.paramAn.id}}" value="">
                                                                                                                                             {% endif %}
                                                                                                                                         {% endif %}
                                                                                                                                    </div>
                                                                                                                                </div> 
                                                                                                                            </td>
                                                                                                                          <td align="left">
                                                                                                                              <div class="form-group">
                                                                                                                                   <div  class="input-group">
                                                                                                                                       {% if paramAn.unites  %}
                                                                                                                                            {% if paramAn.unites | length > 1 %}
                                                                                                                                                      <select class="form-control" id="idUnite{{ paramAn.paramAn.id}}" name="unite{{ paramAn.paramAn.id}}"   >    
                                                                                                                                                           <option value=""></option> 
                                                                                                                                                          {% for unite in paramAn.unites %}
                                                                                                                                                                  {% if paramAn.pgCmdAnalyse %}
                                                                                                                                                                          {% if paramAn.pgCmdAnalyse.codeUnite.codeUnite == unite.codeUnite %}
                                                                                                                                                                                   <option value="{{unite.codeUnite.codeUnite}}" selected>{{ unite.codeUnite.nomUnite }}</option> 
                                                                                                                                                                          {% else %}
                                                                                                                                                                                   <option value="{{unite.codeUnite.codeUnite}}">{{ unite.codeUnite.nomUnite}}</option> 
                                                                                                                                                                          {% endif %}
                                                                                                                                                                    {% else %}
                                                                                                                                                                           <option value="{{unite.codeUnite.codeUnite}}">{{ unite.codeUnite.nomUnite}}</option> 
                                                                                                                                                                   {% endif %}
                                                                                                                                                          {% endfor %}
                                                                                                                                                        </select>
                                                                                                                                             {% else %}
                                                                                                                                                  <input id="idUniteCode{{ paramAn.paramAn.id}}" type="hidden" class="form-control" placeholder="unite" name ="uniteCode{{ paramAn.paramAn.id}}" value="{{paramAn.unites.0.codeUnite.codeUnite}}" readonly="readonly">
                                                                                                                                                 <input id="idUnite{{ paramAn.paramAn.id}}" type="text" class="form-control" placeholder="unite" name ="unite{{ paramAn.paramAn.id}}" value="{{paramAn.unites.0.codeUnite.nomUnite}}" readonly="readonly">
                                                                                                                                             {% endif %}
                                                                                                                                        {% else %}
                                                                                                                                             {% if paramAn.pgCmdAnalyse %}
                                                                                                                                                   <input id="idUniteCode{{ paramAn.paramAn.id}}" type="hidden" class="form-control" placeholder="unite" name ="unite{{ paramAn.paramAn.id}}" value="{{ paramAn.pgCmdAnalyse.codeUnite.codeUnite }}">
                                                                                                                                                   <input id="idUnite{{ paramAn.paramAn.id}}" type="text" class="form-control" placeholder="unite" name ="unite{{ paramAn.paramAn.id}}" value="{{ paramAn.pgCmdAnalyse.codeUnite.nomUnite }}">
                                                                                                                                               {% else %}
                                                                                                                                                    <input id="idUniteCode{{ paramAn.paramAn.id}}" type="hidden" class="form-control" placeholder="unite" name ="uniteCode{{ paramAn.paramAn.id}}" value="{{ paramAn.unite.codeUnite }}">
                                                                                                                                                     <input id="idUnite{{ paramAn.paramAn.id}}" class="form-control" placeholder="unite" name ="unite{{ paramAn.paramAn.id}}" value="{{ paramAn.unite.nomUnite }}" readonly="readonly">
                                                                                                                                             {% endif %}
                                                                                                                                        {% endif %}
                                                                                                                                    </div>
                                                                                                                                </div> 
                                                                                                                            </td>
                                                                                                                        <td align="left">
                                                                                                                            {% if paramAn.fraction %}
                                                                                                                                  {{ paramAn.fraction.nomFraction }}
                                                                                                                            {% endif %}
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                          {% else %}
                                                                                                               <tr>
                                                                                                                        <td nowrap>{{ paramAn.paramAn.codeParametre.codeParametre }}</td>
                                                                                                                        <td>{{ paramAn.paramAn.codeParametre.nomParametre }}</td>
                                                                                                                        <td align="right">
                                                                                                                             {% if paramAn.pgCmdAnalyse %}
                                                                                                                                   {{ paramAn.pgCmdAnalyse.resultat }}
                                                                                                                             {% endif %}
                                                                                                                          </td>
                                                                                                                          <td align="left">
                                                                                                                            {% if paramAn.pgCmdAnalyse %}
                                                                                                                                    {{ paramAn.pgCmdAnalyse.codeUnite.nomUnite }}
                                                                                                                                {% else %}
                                                                                                                                     {{ paramAn.unite.nomUnite }}
                                                                                                                              {% endif %}
                                                                                                                           </td>
                                                                                                                        <td>
                                                                                                                            {% if paramAn.fraction %}
                                                                                                                                  {{ paramAn.fraction.nomFraction }}
                                                                                                                            {% endif %}
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                            {% endif %}
                                                                                                      {% endif %}
                                                                                            {% endfor %}
                                                                              </tbody>
                                                                   </table>
                                                         </div>
                                                </div>
                                      </div>
                             </div>
                    </div>
             </div>
        {% endfor %}
    
    
        <div class="col-md-offset-3 col-md-8">
            <button id="idEnregistrer" type="submit" class="btn btn-success"> 
                <i class="fa fa-check"> Enregister</i>
            </button>
           <a class="btn btn-danger" href="{{path('AeagSqeBundle_suiviPrelevements_lot_periode_station_demande',{'stationId': station.ouvFoncId, 'periodeAnId': periodeAn.id, 'cmdDemandeId': demande.id })}}">
                <i class="fa fa-undo"> Annuler</i>
            </a>
          </div>
    
          <div id="idCache"></div>
          
       </div>
     </form>

    {%endblock content %}    


{% block scripts %}
    
  
    
          {% for groupe   in  groupes %}
              
             
                   $('#idCollapse{{groupe.grparAn.id}}').on('click',function(){
                             if ($('#idCollapseI{{groupe.grparAn.id}}').hasClass("fa-compress")){
                                  $('#idCollapseI{{groupe.grparAn.id}}').removeClass("fa-compress").addClass("fa-expand");
                                   $('#collapse{{groupe.grparAn.id}}').collapse('hide');
                              }else{
                                 $('#idCollapseI{{groupe.grparAn.id}}').removeClass("fa-expand").addClass("fa-compress");
                                  $('#collapse{{groupe.grparAn.id}}').collapse('show');
                              }
                   });

              
                    var table{{groupe.grparAn.id }} = $('#idTable{{ groupe.grparAn.id }}').DataTable(
                        {"stateSave": true,
                         "order": [[ 0, "desc" ]],
                        "oLanguage": {
                        "sSearch": "Filtre",
                        "sFirst": "1ere page",
                        "sLast": "Dernière page",
                        "sNext": "Prochaine page",
                        "sPrevious": "Page précédente",
                        "EmptyTable": "Pas de données",
                        "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                        "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                        "sZeroRecords": "Pas d'enregistrement à afficher",
                        "sInfoEmpty": "Pas d'enregistrement à afficher",
                        "sInfoThousands": " ",
                        "sLengthMenu": 'Afficher <select>' +
                            '<option value="10">10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="-1">Tous</option>' +
                            '</select> enregistrements',
                        "sPaginationType": "full_numbers"
                        }
                        }
                        );
                    
                   var nbParamSaisis{{groupe.grparAn.id }} = parseInt($('#paramSaisis{{ groupe.grparAn.id}}').html());
                
            
                {% for paramAn in groupe.paramAns %}
                        {% if paramAn.pgCmdAnalyse %}
                                 nbParamSaisis{{groupe.grparAn.id }} = nbParamSaisis{{groupe.grparAn.id }} + 1;
                                $('#paramSaisis{{ groupe.grparAn.id}}').empty().html(nbParamSaisis{{groupe.grparAn.id }});
                                {% for valeur in paramAn.valeurs %}
                                            {% if paramAn.pgCmdAnalyse.resultat == valeur.valeur %}
                                                    var valeur =   $('#idValeur{{ paramAn.paramAn.id}} option:selected').val();
                                                    $("#idValeur{{ paramAn.paramAn.id}} option[value='" + valeur + "']").attr('selected','selected');
                                                    $("#idValeur{{ paramAn.paramAn.id}}").val(valeur);
                                             {% endif %}
                                  {% endfor %}
                        {% endif %}
                          $(document).on('change','#idValeur{{ paramAn.paramAn.id}}',function(e){
                                if ($("#idValeur{{ paramAn.paramAn.id}}").val() == "" ){
                                    nbParamSaisis{{groupe.grparAn.id }} = nbParamSaisis{{groupe.grparAn.id }} - 1;
                                 }else{
                                    nbParamSaisis{{groupe.grparAn.id }} = nbParamSaisis{{groupe.grparAn.id }} + 1;
                                 };
                                 $('#paramSaisis{{ groupe.grparAn.id}}').empty().html(nbParamSaisis{{groupe.grparAn.id }});
                           });
                        {% for unite in paramAn.unites %}
                                {% if paramAn.pgCmdAnalyse %}
                                        {% if paramAn.pgCmdAnalyse.codeUnite.codeUnite == unite.codeUnite %}
                                                var valeur =   $('#idUnite{{ paramAn.paramAn.id}} option:selected').val();
                                                $("#idUnite{{ paramAn.paramAn.id}} option[value='" + valeur + "']").attr('selected','selected');
                                                $("#idUnite{{ paramAn.paramAn.id}}").val(valeur);
                                        {% endif %}
                                {% endif %}
                        {% endfor %}
                 {% endfor %}
                 
                    $('#idCollapseI{{groupe.grparAn.id}}').removeClass("fa-compress").addClass("fa-expand");
                    $('#collapse{{groupe.grparAn.id}}').collapse('hide');
                    $('#expandAll{{groupe.grparAn.id}}').show();
                    $('#collapseAll{{groupe.grparAn.id}}').hide(); 
                  
          {% endfor %}
             
                               
            $('#expandAll').show();
            $('#collapseAll').hide();          

           $('#expandAll').on('click',function(){
                   {% for groupe   in  groupes %}
                          $('#idCollapseI{{groupe.grparAn.id}}').removeClass("fa-expand").addClass("fa-compress");
                           $('#collapse{{groupe.grparAn.id}}').collapse('show');
                           $('#expandAll{{groupe.grparAn.id}}').hide();
                           $('#collapseAll{{groupe.grparAn.id}}').show();          
                     {% endfor %}
                      $('#expandAll').hide();
                      $('#collapseAll').show();
               });

           $('#collapseAll').on('click',function(){
                    {% for groupe   in  groupes %}
                           $('#idCollapseI{{groupe.grparAn.id}}').removeClass("fa-compress").addClass("fa-expand");
                           $('#collapse{{groupe.grparAn.id}}').collapse('hide');
                           $('#expandAll{{groupe.grparAn.id}}').show();
                           $('#collapseAll{{groupe.grparAn.id}}').hide(); 
                     {% endfor %}
                      $('#expandAll').show();
                      $('#collapseAll').hide();
           });

   
    
{%endblock scripts %}    