{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_suiviPrelevements_index') }}">Suivi Hydrobio</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_suiviPrelevements_index') }}">Lots</a> 
    </li>
    <li>
           <a href="{{path('AeagSqeBundle_suiviPrelevements_lot_periodes',{ 'lotanId': lotan.id })}}">Périodes</a> 
    </li>
     <li class="active">
          Stations
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
     <div class="row">
            <div class="col-md-offset-3 col-md-7">
                 <h3 class="page-title ">
                     <table>
                         <tr><td>Suivi Hydrobio</td></tr>
                         <tr><td>Liste des stations</td></tr>
                         <tr><td>entre le  {{ periodeAn.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;et&nbsp;&nbsp; {{periodeAn.periode.dateFin | date("d/m/Y") }}</td></tr>
                         <tr><td>Lot  {{ lotan.lot.nomLot }} - {{ lotan.anneeProg }}  - version :  {{ lotan.version }}</td></tr>
                     </table>
                </h3>
            </div>
     </div>
{%endblock panel_heading %}

{%block content %}
    
   
    <div class="form-body">        
        <table class="table table-bordered t table-advance" id="idTable_demandes">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Code</th>
                    <th>Libellé</th>
                  </tr>
            </thead>
            <tbody>
                 {%if stations | length%} 
                    {% for station in stations %}
                          <tr>
                              <td align="center">
                                  {% if station.cmdDemande | length %}
                                    <a id="id_{{ station.station.ouvFoncId }}" class="btn btn-primary" href="{{path('AeagSqeBundle_suiviPrelevements_lot_periode_station_demande',{  'stationId': station.station.ouvFoncId,  'periodeAnId': periodeAn.id, 'cmdDemandeId': station.cmdDemande.id })}}" title="Voir">
                                        <i class="fa fa-eye"> <span class="badge">{{ station.suiviPrels | length }}</span></i> 
                                   </a>
                                  {% endif %}
                             </td>
                              <td>
                                    <a  href="{{ station.lien }}" target="_blank" title="Localisation">{{ station.station.code }}</a>
                             </td>
                             <td>
                                     {{ station.station.libelle }}
                             </td>
                     </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
{%endblock content %}    

{% block modal %}
   
{%endblock modal %}

{% block scripts %}
    jQuery(document).ready(function() {
     
    var table = $('#idTable_demandes').DataTable(
            {"stateSave": true,
             "order": [[ 1, "desc" ]],
            "language": {
                                 "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                             },
            "aLengthMenu": [
                                        [10, 25, 50, 100, -1],
                                        [10, 25, 50, 100, "Tous"]
                                    ],
              "iDisplayLength": -1
            }
            );
    
         
     });
    
{%endblock scripts %}    