<br/><br/>
<div class="row responsive">
    <div class="col-xm-12">
        <table class="table table-bordered table-condensed table-advance" id="idTable_support">
            <thead>
                <tr>
                    <th width="5%">Marche</th>
                    <th width="5%">Support</th>
                    <th width="5%">Statut</th>
                    <th width="1%">Nb prelev</th>
                    <th width="1%">Nb prelev prog</th>
                    <th width="1%">Poucentage</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% if tableau| length %}
                    {% for ligne  in tableau %}
                        <tr>
                            <td>{{ ligne.nom_marche }}</td>
                            <td>{{ ligne.nom_support }}</td>
                            <td>{{ ligne.statut_prel }}</td>
                            <td class="text-right">{{ ligne.nb_prel  | number_format(0,'.',' ')}}</td>
                            <td class="text-right">{{ ligne.nb_prel_prog | number_format(0,'.',' ') }}</td>
                            <td class="text-right">{{ ligne.pourcentage | number_format(2,'.',' ') }} %</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table> 
    </div>
</div>


<script type="text/javascript" language="javascript">

    jQuery(document).ready(function () {
        var tableSupport = $('#idTable_support').DataTable(
                {"stateSave": false,
                    "order": [[0, "asc"]],
                    "oLanguage": {
                        "sSearch": "Filtre",
                        "sFirst": "1ere page",
                        "sLast": "Dernière page",
                        "sNext": "Prochaine page",
                        "sPrevious": "Page précédente",
                        "EmptyTable": "Pas de données",
                        "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                        "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                        "sZeroRecords": "Pas d'enregistrement à afficher",
                        "sInfoEmpty": "Pas d'enregistrement à afficher",
                        "sInfoThousands": " ",
                        "sLengthMenu": 'Afficher <select>' +
                                '<option value="10">10</option>' +
                                '<option value="20">20</option>' +
                                '<option value="30">30</option>' +
                                '<option value="40">40</option>' +
                                '<option value="50">50</option>' +
                                '<option value="-1">Tous</option>' +
                                '</select> enregistrements',
                        "sPaginationType": "full_numbers"
                    }
                }
        );

        $("#idTable_support thead td").each(function (i) {

            if (i != 3 && i != 4 && i != 5) {
                var select = $('<select><option value=""></option></select>')
                        .appendTo($(this).empty())
                        .on('change', function () {
                            tableSupport.column(i)
                                    .search($(this).val())
                                    .draw();
                        });

                tableSupport.column(i).data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>')
                });
            }
            ;
        });



    });

</script>