<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-center" id="ModalLabel_Valider">
        Liste des périodes disponibles pour la duplication <br/>
        de la periode {{ periode.labelPeriode}} du {{ periode.dateDeb | date("d/m/Y") }} au {{ periode.dateFin | date("d/m/Y") }}
    </h4>
</div>
<div class="modal-body-sqe">
    <div class="row">
        <div class="col-md-offset-1 col-md10 text-center" id="idNbCocherPeriodes">
            <p class="btn btn-primary"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="small">
                <table class="table table-bordered table-condensed table-advance" id="idTableDupliquerPeriode">
                    <thead>
                        <tr>
                            <th width="1%" align="center">
                                <a class="btn btn-success" id="idCocherToutesLesPeriodesDisponibles"  href="#"><i class="fa fa-check fa-lg"></i></a>
                            </th>
                             <th width="5%">Périodes</th>
                            <th>Intervalles</th>
                        </tr>
                    </thead>
                    <tbody id="idListePeriodesSelectionnes">
                        {% for periodeAnAutre in periodeAns %}
                                 <tr>
                                   <td align="center">
                                        <div class="checbox">
                                            <input type="checkbox" id="checkDupliquerPeriode_{{ periodeAnAutre.periode.id }}" name="checkDupliquerPeriode[]" value="{{ periodeAnAutre.periode.id }}" >
                                        </div>
                                    </td> 
                                     <td nowrap>{{ periodeAnAutre.periode.labelPeriode }}</td>
                                    <td nowrap>du {{ periodeAnAutre.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;au&nbsp;&nbsp; {{ periodeAnAutre.periode.dateFin | date("d/m/Y") }}</td>
                                          
                                </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="idValiderDupliquerPeriode" type="submit" class="btn btn-success">
        <i class="fa fa-check"> Valider</i>
    </button>
    <button id="idAnnulerDupliquerPeriode" type="button" class="btn btn-default" data-dismiss="modal">
        <i class="fa fa-undo"> Annuler</i>
    </button>
</div>

<script>


    // Table TableDupliquerStation
    var table_TableDupliquerPeriode = $('#idTableDupliquerPeriode').DataTable(
            {"ordering": false,
                "scrollCollapse": true,
                "oLanguage": {
                    "sSearch": "Filtre",
                    "sFirst": "1ere page",
                    "sLast": "Dernière page",
                    "sNext": "Prochaine page",
                    "sPrevious": "Page précédente",
                    "EmptyTable": "Pas de données",
                    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                    "sZeroRecords": "Pas d'enregistrement à afficher",
                    "sInfoEmpty": "Pas d'enregistrement à afficher",
                    "sInfoThousands": " ",
                    "sLengthMenu": 'Afficher <select>' +
                            '<option value="10">10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="-1">Tous</option>' +
                            '</select> enregistrements',
                    "sPaginationType": "full_numbers"
                }
            }
    );


    {# initialiser la liste des stations disponibles pour dupliquer #}
    {% for periodeAnAutre in periodeAns %}
            $('#checkDupliquerPeriode_{{ periodeAnAutre.periode.id }}').prop("checked", false);
             $(document).on('click', '#checkDupliquerPeriode_{{ periodeAnAutre.periode.id }}', function (e) {
                nbcocherPeriodes();
              });
     {% endfor %}
        
        $(document).on('click', '#idAnnulerDupliquerPeriode', function (e) {
            $('#modalConfirmerDupliquerPeriode').modal('hide');
        });

        $(document).on('click', '#idConfirmerDupliquerPeriode', function (e) {
            $('#modalConfirmerDupliquerPeriode').modal('hide');
        });


        /* Nombre de periodes cocheées*/
        var nbcocherPeriodes = function () {
            var info = table_TableDupliquerPeriode.page.info();
            var nbRecords = $('#idTableDupliquerPeriode_length option:selected').val();
            var filtre = $('#idTableDupliquerPeriode_filter input').val();
            if (filtre != '') {
                var initval = '';
                table_TableDupliquerPeriode.search(initval).draw();
            }
            ;
            table_TableDupliquerPeriode.page.len(-1).draw();
            var n = $("#idTableDupliquerPeriode input:checked").length;
            html = "Périodes cochées  : <span class='badge'>" + n + "</span>";
            $("#idNbCocherPeriodes p").html(html);
            if (filtre != '') {
                table_TableDupliquerPeriode.search(filtre).draw();
            }
            ;
            table_TableDupliquerPeriode.page.len(nbRecords).draw();
            table_TableDupliquerPeriode.page(info.page).draw(false);
        };
        nbcocherPeriodes();


</script>