   {%if periodeAns | length%}  
            {% for periode in periodeAns %}
                 <tr>
                     <td nowrap> 
                         <a id="idDupliquerPeriode" data-periode="{{ periode.periode.id }}" data-toggle="modal" href="#" class="btn btn-primary" href="#" title="dupliquer la période sur les autres periodes">
                             <i class="fa fa-sitemap"></i> 
                         </a>
                         <a id="idInitialiserPeriode"  class="btn btn-danger" data-periode="{{ periode.periode.id }}" data-toggle="modal" href="#" title="Supprimer la période">
                             <i class="fa fa-eraser"></i> 
                         </a>
                     </td> 
                     <td nowrap>{{ periode.periode.labelPeriode }}</td>
                     <td nowrap>du {{ periode.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;au&nbsp;&nbsp; {{ periode.periode.dateFin | date("d/m/Y") }}</td>
                 </tr>
            {% endfor %}
        {% endif %}
        <div id="idProgress1" class="col-xs-offset-3 col-xs-5 alert alert-info"><progress></progress></div>
        
 <script>
   
             
     
      html = '';
      html = html + '<a id="idSuivantPeriode" href="#">Périodes';
      html = html + '<span class="btn btn-danger">';
      html = html + '<span class="badge">';
      html = html + '{{ controle.periode.nb  |  number_format(0,'.',' ')}}';
      html = html + '</span></span></a>'; 
      $('#idSuivantPeriode').empty().append(html);
      
      

  </script>