{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
              <li>
                   <a href="{{ path('aeag_homepage') }}">Accueil</a> 
               </li>
               <li>
                    <a href="{{ path('Aeag_sqe_programmation_lots', {'action': action}) }}">Critères</a> 
               </li>
               <li>
                     <a href="{{ path('AeagSqeBundle_programmation_lot_retour', {'action': action}) }}">Lots</a> 
               </li>
               <li>
                       <a  id="idMenuStation" href="#">Stations</a> 
                </li>
               <li>
                        <a id="idMenuGroupe" href="#">Groupes de parametres</a> 
                </li>
               <li class="active">
                         Périodes
               </li>
      {% if action != 'P' or (action == 'P' and  maj != 'C') %}
               <li>
                      <a id="idMenuBilan" href="#">Bilan</a> 
                </li>
      {% endif %}
  {% endblock breadcrumb %}

{% block modal %}
    
      <div class="modal fade" id="modal_valider_programmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ModalLabel_Valider">
                        Liste des stations, groupes de parametres et périodes séléctionnés
                    </h4>
                </div>
                <div class="modal-body-sqe">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="small">
                                <table class="table table-bordered table-condensed table-advance" id="idTable1">
                                    <thead>
                                        <tr>
                                            <th>Stations</th>
                                            <th>Groupes de parametres</th>
                                            <th>Périodes</th>
                                         </tr>
                                    </thead>
                                    <tbody id="idListePeriodesSelectionnees">
                                        <tr>
                                            <td id ="idTdCtrlStations"></td>
                                            <td id ="idTdCtrlGroupes"></td>
                                            <td id ="idTdCtrlPeriodes"></td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 pull-left text-info">
                      <ul class="list-inline">
                       <li><a class="btn btn-success btn-xs" href="#" title="Renseigner"><i class="fa" ></i></a> Renseigner</li>
                       <li><a class="btn btn-danger btn-xs" href="#" title="Non renseigner"><i class="fa"></i></a> Non renseigner</li>
                      </ul>  
                   </div>
                 </div>
                <div class="modal-footer">
                    <form action="{{ path("AeagSqeBundle_programmation_bilan", { "lotan": lotan.id, "action": action, "maj": maj}) }}" class="form-horizontal" id="idForm_validerProgrammation" method="post">
                       <button id="idValiderProgrammation" type="submit" class="btn btn-success">
                           <i class="fa fa-archive"> Enregistrer</i>
                       </button>
                       <button id="idAnnulerProgrammation" type="button" class="btn btn-default" data-dismiss="modal">
                           <i class="fa fa-undo"> Annuler</i>
                       </button>
                       <input type="hidden" name="suivant" id="idSuivant" value="bilan">
                    </form>
                </div>
            </div>
        </div>
    </div>

  
    
    {#modal dupliquer station#}
     <form action="#" class="form-horizontal" id="idFormDupliquerStation" method="post">
        <div class="modal fade" id="modalDupliquerStation" >
            <div class="modal-dialog">
                <div class="modal-content" id="idModalContentDupliquerStation"></div>
            </div>
        </div>
      </form>
     
     {# modal confirmer dupliquer station déjà programmer #}
    <div class="modal fade" id="modalConfirmerDupliquerStation">
            <div class="modal-dialog">
              <div class="modal-content" id="modalContentConfirmerDupliquerStation"></div>
            </div>
    </div> 
    
    {#modal initialiser station#}
     <form action="#" class="form-horizontal" id="idFormInitialiserStation" method="post">
        <div class="modal fade" id="modalInitialiserStation" >
            <div class="modal-dialog">
                <div class="modal-content" id="idModalContentInitialiserStation"></div>
            </div>
        </div>
      </form>
    
    {#modal periodes #}
    <form action="#" class="form-horizontal" id="idForm_periode" method="post">
        <div class="modal fade" id="modal_periode">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">
                            Liste des semaines disponibles
                        </h4>
                    </div>
                    <div class="modal-body-sqe">
                        <div id="idMessage_periode"></div>
                        <div class="row">
                           <div class="col-md-offset-1 col-md-10">
                                <div class="small">
                                    <table class="table table-bordered table-condensed table-advance" id="idTable_periodes">
                                        <thead>
                                            <tr>
                                                <th width="1%" align="center">
                                                 <a class="btn btn-success" id="cocherToutLesPeriodes"  href="#"><i class="fa fa-check fa-lg"></i></a>
                                                </th>
                                                 <th width="5%">Périodes</th>
                                                <th>Intervalles</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             {%if periodes | length%} 
                                                {% for periode in periodes %}
                                                   <tr>
                                                        <td>
                                                            <div class="checbox">
                                                                <input type="checkbox" id="checkPeriode_{{  periode.id }}" name="checkPeriode[]" value="{{  periode.id }}" >
                                                            </div>
                                                        </td> 
                                                        <td nowrap>{{ periode.labelPeriode }}</td>
                                                        <td nowrap>du {{ periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;au&nbsp;&nbsp; {{ periode.dateFin | date("d/m/Y") }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% if action == 'P'  and maj != 'V' %}
                            <button id="idValiderSelectionPeriode" type="submit" class="btn btn-success">
                                <i class="fa fa-check"> Valider</i>
                            </button>
                        {% endif %}
                        <button id="idAnnulerSelectionPeriode" type="button" class="btn btn-default" data-dismiss="modal">
                             <i class="fa fa-undo"> Annuler</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {#modal programmation #}
    <form action="#" class="form-horizontal" id="idForm_groupe" method="post">
        <div class="modal" id="idModalProgrammer">
            <div class="modal-dialog">
                <div class="modal-content" id="idModalContentProgrammer">
                </div>
            </div>
        </div>
    </form>

     {# modal progression #}
    <div class="modal fade" id="modaProgression">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title" id="myModalLabel">
                    <div class="alert alert-warning" role="alert">
                      <i class="fa fa-circle-o-notch fa-spin"></i>
                     Traitement en cours. Merci de patienter
                    </div>
                 </h4>
            </div>
              <div class="modal-body">
                  <div class="progress">
                         <div id="idProgress" class="progress"></div>
                   </div>
              </div>
          </div>
        </div>
     </div>
   
{% endblock modal %}


{%block panel_heading %}
    <h3 class="page-title">
        {% if action == 'P'  and maj != 'V' %}
            Périodes impactées par la programmation {{ campagne }} version {{ lotan.version }} du lot : {{ lotan.lot.nomLot }}
        {% else %}
            Périodes impactées par la programmation {{ campagne }} version {{ lotan.version }} du lot : {{ lotan.lot.nomLot }}
        {% endif %}
        {# <a class="btn btn-primary pull-right" href="{{ path('AeagDecBundle_admin_pdfListeDechets') }}" title="Imprimer la lister"> 
                <i class="fa fa-print"> Imprimer la liste</i>
         </a>#}
    </h3>
{%endblock panel_heading %}



{%block content %}
    <div class="form-body">
        {% if messages | length %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {% for message in messages %}
                    <strong>{{ message }}</strong><br/>
                {% endfor %}   
            </div>
        {% endif %} 

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="#" class="form-horizontal" id="idForm_periode" method="post">
                            {% if action == 'P'  and maj != 'V' %}
                                {% if typePeriode.codeTypePeriode == 'SEM' %}
                                     <div class="row">
                                         <div class="col-md-2">
                                            <a  data-toggle="modal" href="#modal_periode" href="#" title="Filtrer les semaines">
                                                <button id="idSelectionPeriodes" type="button" class="btn btn-primary icon-ok-sign">
                                                    Filtrer les semaines
                                                </button>
                                            </a>
                                         </div>
                                    </div>
                                {% endif %}
                            {% endif %}


                            <div class="row">
                                <div class="col-md-12">
                                    <div id="idtableau_station" class="small">
                                        <table class="table table-bordered table-condensed table-advance" id="idTable_station">
                                            <thead id="idTheadStations">
                                                <tr>
                                                    {% if action == 'P'  and maj != 'V' %}
                                                        <th width="1%">Actions</th>
                                                        {% endif %}
                                                    <th width="10%">Stations</th>
                                                    {%if stationAns | length%}  
                                                    {% for periode in stationAns.0.periodes %}
                                                        <th width="1%" id="idThPeriode_{{ periode.periode.id }}">{{ periode.periode.labelPeriode }}</th>
                                                    {% endfor %}
                                                    {% endif %}
                                                 </tr>
                                            </thead>
                                            <tbody id="idBodyStations">
                                                {%if stationAns | length%}  
                                                    {% for stationAn in stationAns %}
                                                        <tr id='idStation_{{ stationAn.station.id }}' name='idStation_{{ stationAn.station.id }}' width="10%">
                                                            {% if action == 'P'  and maj != 'V' %}
                                                                <td nowrap>
                                                                    <a id="idDupliquerStation_{{ stationAn.station.id }}" data-toggle="modal" href="#" class="btn btn-primary" href="#" title="dupliquer la programmation sur les autres stations">
                                                                        <i class="fa fa-sitemap"></i> 
                                                                    </a>
                                                                    <a id="idInitialiserStation_{{ stationAn.station.id }}"  class="btn btn-danger" data-toggle="modal" href="#" title="Initialiser les périodes">
                                                                        <i class="fa fa-eraser"></i> 
                                                                    </a>
                                                                </td>
                                                            {% endif %}
                                                            <td nowrap>{{ stationAn.station.station.code}}&nbsp;&nbsp;{{ stationAn.station.station.libelle}}</td>
                                                             {% for periode in stationAn.periodes %}
                                                                 <td id="idTd_{{ stationAn.station.id }}_{{ periode.periode.id }}">
                                                                    <div id="idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}" class="text-center">
                                                                            <a id="idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}" class="btn btn-default">
                                                                                <span id="idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}" class="badge"></span>
                                                                            </a>
                                                                     </div>
                                                                </td>
                                                            {% endfor %}
                                                          </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table> 
                                      </div>
                                </div>
                            </div>
                                                 
                             <div class="row">
                                        <div class="col-md-10 pull-left text-info">
                                         <ul class="list-inline">
                                           <li><a class="btn btn-success btn-xs" href="#" title="Programmation validée"><i class="fa"></i></a> Programmation validée</li>
                                           <li><a class="btn btn-info btn-xs" href="#" title="Autre programmation complétée"><i class="fa"></i></a> Autre programmation complétée</li>
                                           <li><a class="btn btn-primary btn-xs" href="#" title="Autre programmation ignorée"><i class="fa"></i></a> Autre programmation ignorée</li>
                                           <li><a class="btn btn-warning btn-xs" href="#" title="Autre programmation en cours"><i class="fa"></i></a> Autre programmation en cours</li>
                                           {% if lotan.phase.codePhase > 'P30' %}
                                             <li><a class="btn btn-danger btn-xs" href="#" title="Programmation reportée sur la version suivante"><i class="fa"></i></a> Programmation reportée sur la version {{ lotan.version + 1 }}</li>
                                           {% endif %}
                                           </ul>  
                                       </div>
                                     </div>                     
                                                 
                            <div class="form-actions fluid center">
                                <div class="col-md-offset-5 col-md-9">

                                    {% if action == 'P'  and maj != 'V' %}
                                        <a id="idValider" class="btn btn-success" data-toggle="modal" href="#" title="Valider">
                                            <i class="fa fa-share"> Suivant</i>
                                        </a>
                                    {% else %}
                                         <a class="btn btn-success icon-ok-sign" href="{{ path('AeagSqeBundle_programmation_bilan', { "lotan": lotan.id, "action": action, "maj": maj})}}">
                                             <i class="fa fa-eye"> Suivant</i>
                                         </a> 
                                    {% endif %}
                                </div>
                            </div>           

                            <div id="idCache"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
       </div> 
      
       {% if action == 'P'  and maj != 'V' %}
     <div class="progress" style="height: 50px;padding: 5px 5px;">
                   {% if controle.station.ok == 1 %}
                            <div class="progress-bar progress-bar-success" style="width: 25%;font-size: 16px;line-height: 35px;">
                                    <a id="idSuivantStation" href="#">Stations
                                        <span class="btn btn-success">
                                           <span class="badge">
                                              {{ controle.station.nb  |  number_format(0,'.',' ')}}
                                           </span>
                                       </span>
                                    </a>
                              </div>
                    {% else %}
                            <div class="progress-bar progress-bar-danger" style="width: 25%;font-size: 16px;line-height: 35px;">
                                    <a id="idSuivantStation" href="#">Stations
                                        <span class="btn btn-danger">
                                             <span class="badge">
                                                 {{ controle.station.nb  |  number_format(0,'.',' ')}}
                                              </span>
                                         </span>
                                    </a>
                             </div>
                    {% endif %}
                    {% if  controle.groupe.ok == 1 %}
                            <div class="progress-bar progress-bar-success" style="width: 25%;font-size: 16px;line-height: 35px;">
                                    <a id="idSuivantGroupe" href="#">Groupes de parametres
                                        <span class="btn btn-success">
                                           <span class="badge">
                                              {{ controle.groupe.nb  |  number_format(0,'.',' ')}}
                                           </span>
                                       </span>
                                    </a>
                            </div>
                    {% else %}
                            <div class="progress-bar progress-bar-danger" style="width: 25%;font-size: 16px;line-height: 35px;">
                                   <a id="idSuivantGroupe" href="#">Groupes de parametres
                                        <span class="btn btn-danger">
                                             <span class="badge">
                                                {{ controle.groupe.nbValide  |  number_format(0,'.',' ')}}/{{ controle.groupe.nb  |  number_format(0,'.',' ')}}
                                              </span>
                                         </span>
                                   </a>
                             </div>
                    {% endif %}
                    {% if controle.periode.ok == 1 %}
                            <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 25%;font-size: 16px;line-height: 35px;">
                                    <a id="idSuivantPeriode" href="#">Périodes
                                         <span class="btn btn-success">
                                            <span class="badge">
                                                {{ controle.periode.nb  |  number_format(0,'.',' ')}}
                                             </span>
                                        </span>
                                    </a> 
                           </div>
                      {% else %}
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 25%;font-size: 16px;line-height: 35px;">
                                    <a id="idSuivantPeriode" href="#">Périodes
                                         <span class="btn btn-danger">
                                            <span class="badge">
                                                {{ controle.periode.nb  |  number_format(0,'.',' ')}}
                                             </span>
                                        </span>
                                     </a> 
                           </div>
                      {% endif %}
                       {% if controle.station.nbOk == controle.station.nb and  controle.groupe.nbOk == controle.groupe.nb and controle.periode.nbOk == controle.periode.nb %}
                            <div class="progress-bar progress-bar-success" style="width: 25%;font-size: 16px;line-height: 35px;">
                                    <a id="idSuivantBilan" href="#">Bilan</a> 
                           </div>
                       {% else %}
                            <div class="progress-bar progress-bar-danger" style="width: 25%;font-size: 16px;line-height: 35px;">
                                    <a id="idSuivantBilan" href="#">Bilan</a> 
                           </div>
                       {% endif %}
             </div>
     {% endif %}


    <div id="idResultatDupliquerStation"></div>
    <div id="idResultatInitialiserStation"></div>
    <div id="idResultatBilan"></div>
{% endblock content %}

{% block scripts %}

    jQuery(document).ready(function() {
       
    // Table periode
    var table_periode = $('#idTable_periodes').DataTable(
                            {    "ordering": false,
                            "scrollCollapse": true,
                            "oLanguage": {
                                    "sSearch": "Filtre",
                                    "sFirst": "1ere page",
                                    "sLast": "Dernière page",
                                    "sNext": "Prochaine page",
                                    "sPrevious": "Page précédente",
                                    "EmptyTable": "Pas de données",
                                    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                                    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                                    "sZeroRecords": "Pas d'enregistrement à afficher",
                                    "sInfoEmpty": "Pas d'enregistrement à afficher",
                                    "sInfoThousands": " ",
                                    "sLengthMenu": 'Afficher <select>' +
                                        '<option value="10">10</option>' +
                                        '<option value="20">20</option>' +
                                        '<option value="30">30</option>' +
                                        '<option value="40">40</option>' +
                                        '<option value="50">50</option>' +
                                        '<option value="-1">Tous</option>' +
                                        '</select> enregistrements',
                                    "sPaginationType": "full_numbers"
                                    }
                            }
                        );     
    
            

    // table station
    var table_station = $('#idTable_station').DataTable(
                            {"stateSave": true,
                             "order": [[ 1, "asc" ]],
                             "oLanguage": {
                                    "sSearch": "Filtre",
                                    "sFirst": "1ere page",
                                    "sLast": "Dernière page",
                                    "sNext": "Prochaine page",
                                    "sPrevious": "Page précédente",
                                    "EmptyTable": "Pas de données",
                                    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                                    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                                    "sZeroRecords": "Pas d'enregistrement à afficher",
                                    "sInfoEmpty": "Pas d'enregistrement à afficher",
                                    "sInfoThousands": " ",
                                    "sLengthMenu": 'Afficher <select>' +
                                        '<option value="10">10</option>' +
                                        '<option value="20">20</option>' +
                                        '<option value="30">30</option>' +
                                        '<option value="40">40</option>' +
                                        '<option value="50">50</option>' +
                                        '<option value="-1">Tous</option>' +
                                        '</select> enregistrements',
                                    "sPaginationType": "full_numbers"
                                    }
                            }
                        );
    
                        
                        
      
    $('#idCache').hide();
    $('#idModalProgrammer').modal('hide');
    
    // traitement sur les periodes
    
       $(document).on('click', '#idSelectionPeriodes',function(e){
            {%if stationAns | length%}  
                var nbRecords = $('#idTable_periodes_length option:selected').val();
                table_periode.page.len( -1 ).draw();
                {% for periode in periodes %}
                    $('#checkPeriode_{{  periode.id }}').prop( "checked", false );
                    {% for periodeSelectionnee in stationAns.0.periodes %}
                        {% if periode.id == periodeSelectionnee.periode.id %}
                            $('#checkPeriode_{{  periode.id }}').prop( "checked", true );
                       {% endif %}
                   {% endfor %}
               {% endfor %}
              table_periode.page.len( nbRecords ).draw();
              {% endif %}
         });
                                                 
    
    {#  filtrer les semaines  #}
    
    var cocher = true;
     $(document).on('click','#cocherToutLesPeriodes',function(e){
       var nbRecords = $('#idTable_periodes_length option:selected').val();
       table_periode.page.len( -1 ).draw();
       if (cocher == true){
           cocher = false;
           $('#cocherToutLesPeriodes').removeClass('btn-danger').addClass('btn-success');
           $('#cocherToutLesPeriodes i').removeClass('fa-eraser').addClass('fa-check ');
           {% for periode in periodes %}
               $('#checkPeriode_{{  periode.id }}').prop( "checked", false );
           {% endfor %}
       }else{
           cocher = true;
           $('#cocherToutLesPeriodes').removeClass('btn-success').addClass('btn-danger');
           $('#cocherToutLesPeriodes i').removeClass("fa-check").addClass('fa-eraser');
           {% for periode in periodes %}
               $('#checkPeriode_{{  periode.id }}').prop( "checked", true );
           {% endfor %}
       };
       table_periode.page.len( nbRecords ).draw();
     });
    
    
     $(document).on('click', '#idValiderSelectionPeriode',function(e){
        $('#modalTraitementEncours').modal('toggle');
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
        var nbRecords = $('#idTable_periodes_length option:selected').val();
        table_periode.page.len( -1 ).draw();
        var $this = $('#idForm_periode'); // L'objet jQuery du formulaire
        var url = '{{ path("AeagSqeBundle_programmation_periode_filtrer",{"action": "par1","maj":"par2","lotan":"par3"}) }}', // Le nom du fichier indiqué dans le formulaire
        url = url.replace("par1", '{{ action }}');
        url = url.replace("par2", '{{ maj }}');
        url = url.replace("amp;","");
        url = url.replace("par3", '{{ lotan.id }}');
        url = url.replace("amp;","");
        $.ajax({
            url: url,
            type: 'post', // La méthode indiquée dans le formulaire (get ou post)
            data: $this.serialize(),
            success: function(html) { // Je récupère la réponse du fichier PHP
                $('#idtableau_station').empty().append(html);
                {%if stationAns | length%}  
                {% for periode in periodes %}
                    $('#checkPeriode_{{  periode.id }}').prop( "checked", false );
                    {% for periodeSelectionnee in stationAns.0.periodes %}
                        {% if periode.id == periodeSelectionnee.periode.id %}
                            $('#checkPeriode_{{  periode.id }}').prop( "checked", true );
                       {% endif %}
                   {% endfor %}
               {% endfor %}
               {% endif %}
               $('#modalTraitementEncours').modal('hide');
               $('#modal_periode').modal('hide');
             }
        });
        table_periode.page.len( nbRecords ).draw();
        $('#idAttente').hide();
    });
    
   
    
    {# Dupliquer la programmation sur les autres stations #}
    
    {% if stationAns |length %}
        {% for stationAn in stationAns %}
            $(document).on('click','#idDupliquerStation_{{ stationAn.station.id }}',function(e){
                e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                $('#modalTraitementEncours').modal('toggle');
               var url = '{{ path("AeagSqeBundle_programmation_periode_dupliquer_station",{"stationId":  "par1","action": "par2","maj":"par3","lotan":"par4"}) }}', // Le nom du fichier indiqué dans le formulaire
                url = url.replace("par1", {{ stationAn.station.id }});
                url = url.replace("par2", '{{ action }}');
                url = url.replace("amp;","");
                url = url.replace("par3", '{{ maj }}');
                url = url.replace("amp;","");
                url = url.replace("par4", '{{ lotan.id }}');
                url = url.replace("amp;","");
                var nbRecords = $('#idTable_station_length option:selected').val();
                table_station.page.len( -1 ).draw();
                $.ajax({
                        url: url,
                        type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                        success: function(html) { // Je récupère la réponse du fichier PHP
                             $('#idModalContentDupliquerStation').empty().append(html);
                             $('#modalDupliquerStation').modal();
                             $('#modalDupliquerStation').show();
                             $('#modalTraitementEncours').modal('hide');
                           }
                    });
                table_station.page.len( nbRecords ).draw();
            });
            
            
             {# tout cocher ou tout decocher #}
                var cocherToutesLesStationsDisponibles = false;
                $(document).on('click','#idCocherToutesLesStationsDisponibles_{{ stationAn.station.id }}',function(e){
                    var info = table_TableDupliquerStation.page.info();
                    var nbRecords = $('#idTableDupliquerStation_length option:selected').val();
                    var filtre = $('#idTableDupliquerStation_filter input').val();
                       if (filtre != ''){
                            var initval = '';
                             table_TableDupliquerStation.search(initval).draw();
                         };
                     table_TableDupliquerStation.page.len( -1 ).draw();
                    if (cocherToutesLesStationsDisponibles == true){
                      cocherToutesLesStationsDisponibles = false;
                      $('#idCocherToutesLesStationsDisponibles_{{ stationAn.station.id }}').removeClass('btn-danger').addClass('btn-success');
                      $('#idCocherToutesLesStationsDisponibles_{{ stationAn.station.id }} i').removeClass('fa-eraser').addClass('fa-check ');
                       {% for stationAnAutre in stationAns %}
                          $('#checkDupliquerStation_{{ stationAnAutre.station.id }}').prop( "checked", false );
                      {% endfor %}
                    }else{
                      cocherToutesLesStationsDisponibles = true;
                      $('#idCocherToutesLesStationsDisponibles_{{ stationAn.station.id }}').removeClass('btn-success').addClass('btn-danger');
                      $('#idCocherToutesLesStationsDisponibles_{{ stationAn.station.id }} i').removeClass("fa-check").addClass('fa-eraser');
                      {% for stationAnAutre in stationAns %}
                           $('#checkDupliquerStation_{{ stationAnAutre.station.id }}').prop( "checked", true );
                           if ($('#nbGroupes_{{ stationAnAutre.station.id }}').val() > 0){
                               $('#modalConfirmerDupliquerStation_{{ stationAnAutre.station.id }}').modal();
                           };
                      {% endfor %}
                    };
                    if (filtre != ''){
                        table_TableDupliquerStation.search(filtre).draw();
                    };
                    table_TableDupliquerStation.page.len( nbRecords ).draw();
                    nbcocher();
               });
  
              
                {# dupliquer la station sur les autres stations séléctionnées #}
       {#        $(document).on('click', '#idValiderDupliquerStation_{{ stationAn.station.id }}',function(e){
                  $('#modalTraitementEncours').modal('toggle');
                  e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                  table_TableDupliquerStation.page.len( -1 ).draw();
                  var $this = $('#idFormDupliquerStation'); // L'objet jQuery du formulaire
                  var url = '{{ path("AeagSqeBundle_programmation_periode_valider_dupliquer_station",{"stationId":  "par1" }) }}';
                  url = url.replace("par1", {{ stationAn.station.id }});
                  $.ajax({
                      url: url,
                      type: 'post', // La méthode indiquée dans le formulaire (get ou post)
                      data: $this.serialize(),
                      success: function(html) { // Je récupère la réponse du fichier PHP
                           table_station.page.len( -1 ).draw();
                           $('#idResultatDupliquerStation').empty().append(html);
                           table_station.page.len( 10 ).draw();
                           $('#modalTraitementEncours').modal('hide');
                           url = '{{ path('AeagSqeBundle_programmation_periodes') }}';
                           document.location.href=url;
                      }
                  });
                  table_TableDupliquerStation.page.len( 10 ).draw();
                  $('#modalDupliquerStation').modal('hide');
              });#}
              
               {# dupliquer la station sur les autres stations séléctionnées #}
               $(document).on('click', '#idValiderDupliquerStation_{{ stationAn.station.id }}',function(e){
                  $('#modaProgression').modal('toggle');
                  e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                 var info = table_TableDupliquerStation.page.info();
                   var nbRecords = $('#idTableDupliquerStation_length option:selected').val();
                   var filtre = $('#idTableDupliquerStation_filter input').val();
                    if (filtre != ''){
                            var initval = '';
                             table_TableDupliquerStation.search(initval).draw();
                      };
                  table_TableDupliquerStation.page.len( -1 ).draw();
                  var nbStations  = 0;
                  var nbAutreStations = 0;
                  {% for stationAnAutre in stationAns %}
                        if ($('#checkDupliquerStation_{{ stationAnAutre.station.id }}').is(':checked')){
                             nbStations  =  nbStations + 1;
                        };
                  {% endfor %}
                 
                  {% for stationAnAutre in stationAns %}
                         if ($('#checkDupliquerStation_{{ stationAnAutre.station.id }}').is(':checked')){
                            var $this = $('#idFormDupliquerStation'); // L'objet jQuery du formulaire
                            var url = '{{ path("AeagSqeBundle_programmation_periode_valider_dupliquer_station_sur_autre_station",{"stationId":  "par1", "autreStationId": "par2","action": "par3","maj":"par4","lotan":"par5"}) }}', // Le nom du fichier indiqué dans le formulaire
                             url = url.replace("par1", {{ stationAn.station.id }});
                            url = url.replace("par2", {{ stationAnAutre.station.id }});
                             url = url.replace("amp;","");
                            url = url.replace("par3", '{{ action }}');
                            url = url.replace("amp;","");
                            url = url.replace("par4", '{{ maj }}');
                            url = url.replace("amp;","");
                            url = url.replace("par5", '{{ lotan.id }}');
                            url = url.replace("amp;","");
                             $.ajax({
                                url: url,
                                type: 'post', // La méthode indiquée dans le formulaire (get ou post)
                                success: function(data) { // Je récupère la réponse du fichier PHP
                                   table_station.page.len( -1 ).draw();
                                    $('#idResultatDupliquerStation').empty().append(data);
                                     table_station.page.len( 10 ).draw();
                                    nbAutreStations = nbAutreStations + 1;
                                     html = '<div class="progress-bar progress-bar-success progress-bar-striped"';
                                     html = html  +  ' role="progressbar"';
                                     html = html + ' aria-valuenow="' +  nbAutreStations + '"';
                                     html = html + ' aria-valuemin="0"';
                                     html = html + ' aria-valuemax="' +  nbStations + '"';
                                     html = html + 'style="min-width: 2em;';
                                     html = html + ' width: ' + ((nbAutreStations/ nbStations)*100) + '%;">';
                                     html = html + nbAutreStations  + '/' + nbStations;
                                     html = html + '</div>';
                                    $('#idProgress').empty().append(html);
                                      if (  nbAutreStations >=  nbStations) {
                                            $('#modaProgression').modal('hide');
                                        }
                                  }
                            });
                          };
                        
                 {% endfor %}
                   if (filtre != ''){
                    table_TableDupliquerStation.search(filtre).draw();
                };
                  table_TableDupliquerStation.page.len( nbRecords ).draw();
                  $('#modalDupliquerStation').modal('hide');
               });
            
    {# Initialiser la programmation de la station #}
    
           $(document).on('click','#idInitialiserStation_{{ stationAn.station.id }}',function(e){
                e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                var html = '<div class="modal-header">';
                html = html + '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>';
                html = html + '<h4 class="modal-title">Initialisation de la programmation de la station {{ stationAn.station.station.code}} </h4>';
                html = html + '</div>';
                html = html + '<div class="modal-body">';
                html = html + '<h4>Cliquer sur "Initialiser" pour initialiser la station</h4>';
                html = html + '<br/><br/>';
                html = html + '<div class="alert alert-danger">Attention : Une fois initialisée, la programmation des périodes de la station sera perdue</div>';
                html = html + '</div>';
                html = html + '<div class="modal-footer">';
                html = html + '<a  id="idValiderInitialiserStation_{{ stationAn.station.id }}" class="btn btn-danger"  href="#" title="Initialiser">';
                html = html + '<i class="fa fa-eraser"> Initaliser</i>';
                html = html + '</a>';
                html = html + '<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-undo"></i> Annuler</button>';
                html = html + '</div>';
                $('#idModalContentInitialiserStation').empty().append(html);
                $('#modalInitialiserStation').modal();
                $('#modalInitialiserStation').show();
             });
             
            {# valider Initialisation des périodes de la station #}
             $(document).on('click', '#idValiderInitialiserStation_{{ stationAn.station.id }}',function(e){
                $('#modalTraitementEncours').modal('toggle');
                e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                var $this = $('#idForm_dupliquerStation_{{ stationAn.station.id }}'); // L'objet jQuery du formulaire
                var url = '{{ path("AeagSqeBundle_programmation_periode_initialiser",{"stationId":  "par1","action": "par2","maj":"par3","lotan":"par4"}) }}', // Le nom du fichier indiqué dans le formulaire
                url = url.replace("par1", {{ stationAn.station.id }});
                url = url.replace("par2", '{{ action }}');
                url = url.replace("amp;","");
                url = url.replace("par3", '{{ maj }}');
                url = url.replace("amp;","");
                url = url.replace("par4", '{{ lotan.id }}');
                url = url.replace("amp;","");
                $.ajax({
                url: url,
                type: 'post', // La méthode indiquée dans le formulaire (get ou post)
                data: $this.serialize(),
                success: function(html) { // Je récupère la réponse du fichier PHP
                    $('#idResultatInitialiserStation').empty().append(html);
                    $('#modalInitialiserStation').modal('hide');
                    $('#modalTraitementEncours').modal('hide');
                }
                });
            });
            
                     
        {% endfor %}
    {% endif %}
    
    
   
    
     
    
    
    {# validation de la programmtion #}
    
    $(document).on('click', '#idValider',function(e){
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
        $('#modalTraitementEncours').modal('toggle');
        var url = '{{ path("AeagSqeBundle_programmation_periode_bilan",{"action": "par1","maj":"pa2","lotan":"par3"}) }}', // Le nom du fichier indiqué dans le formulaire
        url = url.replace("par1", '{{ action }}');
        url = url.replace("par2", '{{ maj }}');
        url = url.replace("amp;","");
        url = url.replace("par3", '{{ lotan.id }}');
        url = url.replace("amp;","");
        $.ajax({
                url: url,
                type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                success: function(html) { // Je récupère la réponse du fichier PHP
                     $('#idResultatBilan').empty().append(html);
                     $('#modal_valider_programmation').modal();
                     $('#modalTraitementEncours').modal('hide');
                   }
            });
    });
    
     $(document).on('click', '#idMenuStation',function(e){
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
         $('#idSuivant').val('station');
         $('#modalTraitementEncours').modal();
        $('#idForm_validerProgrammation').submit();
      });
    
    $(document).on('click', '#idMenuGroupe',function(e){
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
         $('#idSuivant').val('groupe');
         $('#modalTraitementEncours').modal();
         $('#idForm_validerProgrammation').submit();
         });
    
    $(document).on('click', '#idMenuPeriode',function(e){
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
         $('#idSuivant').val('periode');
         $('#modalTraitementEncours').modal();
         $('#idForm_validerProgrammation').submit();
    });
    
    $(document).on('click', '#idMenuBilan',function(e){
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
         $('#idSuivant').val('bilan');
         $('#modalTraitementEncours').modal();
         $('#idForm_validerProgrammation').submit();
     });
    
     $(document).on('click', '#idSuivantStation',function(e){
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
         $('#idSuivant').val('station');
         $('#modalTraitementEncours').modal();
         $('#idForm_validerProgrammation').submit();
       });
    
     $(document).on('click', '#idSuivantGroupe',function(e){
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
         $('#idSuivant').val('groupe');
         $('#modalTraitementEncours').modal();
         $('#idForm_validerProgrammation').submit();
      });
    
    $(document).on('click', '#idSuivantPeriode',function(e){
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
         $('#idSuivant').val('periode');
         $('#modalTraitementEncours').modal();
         $('#idForm_validerProgrammation').submit();
    });
    
    $(document).on('click', '#idSuivantBilan',function(e){
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
         $('#idSuivant').val('bilan');
         $('#modalTraitementEncours').modal();
          $('#idForm_validerProgrammation').submit();
      });
    
     $(document).on('click', '#idValiderProgrammation',function(e){
        $('#modal_valider_programmation').modal('hide');
        $('#modalTraitementEncours').modal();
        $('#idForm').submit();
    });

        
   {#  traitement sur chaque periode de chaque station   #}
    var info = table_station.page.info();
     var nbRecords = $('#idTable_station_length option:selected').val();
     var filtre = $('#idTable_station_filter input').val();
        if (filtre != ''){
             var initval = '';
             table_station.search(initval).draw();
      };
     table_station.page.len( -1 ).draw();
    {% if stationAns |length %}
        {% for stationAn in stationAns %}
            {% for stationAnAutre in stationAns %}
                {% if stationAnAutre.station.id != stationAn.station.id %}
                    {% set nbGroupes = 0 %}
                    {% for periode in stationAnAutre.periodes %}
                        {% if periode.nbGroupe > 0 %}
                            {% set nbGroupes = nbGroupes + periode.nbGroupe %}
                        {% endif %}
                    {% endfor %}
                    {% if  nbGroupes > 0 %}
                        $('#trDupliquerStation_{{ stationAn.station.id }}_{{ stationAnAutre.station.id }}').addClass("danger");
                        $('#nbGroupes_{{ stationAn.station.id }}_{{ stationAnAutre.station.id }}').val({{ nbGroupes }})
                      {% else %}
                         $('#trDupliquerStation_{{ stationAn.station.id }}_{{ stationAnAutre.station.id }}').removeClass("danger");
                         $('#nbGroupes_{{ stationAn.station.id }}_{{ stationAnAutre.station.id }}').val(0)
                      {% endif %}
                {% endif %}
            {% endfor %}
            {% for periode in stationAn.periodes %}
                
                {% if periode.statut | length %}
                {% if periode.statut.codeStatut == 'INV' %}
                    
                           {% if periode.nbGroupe > 0 %}
                                     $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').addClass("danger");
                                    $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').addClass('btn-danger');
                                    $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.nbGroupe }} + '/' + {{ grparAns | length }} );
                             {% else %}
                                {% if periode.autreProgrammation == 0 %}
                                    $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("danger");
                                    $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass('btn-danger');
                                    $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().hide();
                                {% else %}
                                    $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').addClass("danger");
                                    $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').addClass('btn-danger');
                                     $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.autreProgrammation }} + '/' + {{ grparAns | length }} );
                                {% endif %}
                      {% endif %}
                    
                 {% else %}
                        {% if periode.nbGroupe > 0 %}
                               {% if periode.autreStatut == 'N' %}
                                $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("warning").removeClass("info").removeClass("primary").addClass("success");
                                $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("btn-default").removeClass("btn-warning").removeClass("btn-info").removeClass("btn-primary").addClass('btn-success');
                                $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.nbGroupe }} + '/' + {{ grparAns | length }} );
                            {% elseif periode.autreStatut == 'C'%}
                                $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("warning").addClass("info").removeClass("primary").removeClass("success");
                                $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("btn-default").removeClass("btn-warning").addClass("btn-info").removeClass("btn-primary").removeClass('btn-success');
                                $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.nbGroupe }} + '/' + {{ grparAns | length }} );
                            {% elseif periode.autreStatut == 'I'%}
                                $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("warning").removeClass("info").addClass("primary").removeClass("success");
                                $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("btn-default").removeClass("btn-warning").removeClass("btn-info").addClass("btn-primary").removeClass('btn-success');
                                $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.nbGroupe }} + '/' + {{ grparAns | length }} );
                            {% endif %}
                      {% else %}
                               {% if periode.autreProgrammation == 0 %}
                                    $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("warning").removeClass("info").removeClass("primary").removeClass("success");
                                    $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').addClass("btn-default").removeClass("btn-warning").removeClass("btn-info").removeClass("btn-primary").removeClass('btn-success');
                                    $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty();
                                {% else %}
                                    $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').addClass("warning").removeClass("info").removeClass("primary").removeClass("success");
                                    $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("btn-default").addClass("btn-warning").removeClass("btn-info").removeClass("btn-primary").removeClass('btn-success');
                                     $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.autreProgrammation }} + '/' + {{ grparAns | length }} ).show();
                                {% endif %}
                      {% endif %}
                {%endif %}
                {% else %}
                       {% if periode.nbGroupe > 0 %}
                               {% if periode.autreStatut == 'N' %}
                                $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("warning").removeClass("info").removeClass("primary").addClass("success");
                                $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("btn-default").removeClass("btn-warning").removeClass("btn-info").removeClass("btn-primary").addClass('btn-success');
                                $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.nbGroupe }} + '/' + {{ grparAns | length }} );
                            {% elseif periode.autreStatut == 'C'%}
                                $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("warning").addClass("info").removeClass("primary").removeClass("success");
                                $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("btn-default").removeClass("btn-warning").addClass("btn-info").removeClass("btn-primary").removeClass('btn-success');
                                $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.nbGroupe }} + '/' + {{ grparAns | length }} );
                            {% elseif periode.autreStatut == 'I'%}
                                $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("warning").removeClass("info").addClass("primary").removeClass("success");
                                $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("btn-default").removeClass("btn-warning").removeClass("btn-info").addClass("btn-primary").removeClass('btn-success');
                                $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.nbGroupe }} + '/' + {{ grparAns | length }} );
                            {% endif %}
                      {% else %}
                                 {% if periode.autreProgrammation == 0 %}
                                    $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("warning").removeClass("info").removeClass("primary").removeClass("success");
                                    $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').addClass("btn-default").removeClass("btn-warning").removeClass("btn-info").removeClass("btn-primary").removeClass('btn-success');
                                    $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty();
                                {% else %}
                                    $('#idDiv_{{ stationAn.station.id }}_{{ periode.periode.id }}').addClass("warning").removeClass("info").removeClass("primary").removeClass("success");
                                    $('#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}').removeClass("btn-default").addClass("btn-warning").removeClass("btn-info").removeClass("btn-primary").removeClass('btn-success');
                                     $('#idNbParametres_{{ stationAn.station.id }}_{{ periode.periode.id }}').empty().append({{ periode.autreProgrammation }} + '/' + {{ grparAns | length }} ).show();
                                {% endif %}
                      {% endif %}
                {% endif %}

                {#   traitement sur un période sélectionner   #}
                $(document).on('click', '#idBt_{{ stationAn.station.id }}_{{ periode.periode.id }}', function(e){
                    $('#modalTraitementEncours').modal('toggle');
                    var url = '{{ path("AeagSqeBundle_programmation_periode_programmer",{"stationId":  "par1", "periodeId" : "par2","action": "par3","maj":"par4","lotan":"par5"}) }}', // Le nom du fichier indiqué dans le formulaire
                   url = url.replace("par1", {{ stationAn.station.id }});
                    url = url.replace("par2", {{ periode.periode.id }});
                    url = url.replace("amp;","");
                   url = url.replace("par3", '{{ action }}');
                   url = url.replace("amp;","");
                   url = url.replace("par4", '{{ maj }}');
                   url = url.replace("amp;","");
                   url = url.replace("par5", '{{ lotan.id }}');
                   url = url.replace("amp;","");
                    $.ajax({
                        url: url,
                        type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                        success: function(html) { // Je récupère la réponse du fichier PHP
                            $('#idModalProgrammer').modal(); 
                            $('#idModalContentProgrammer').empty().append(html);
                            $('#modalTraitementEncours').modal('hide');
                           }
                    });
                    
                  });

            {% endfor %}
      {% endfor %}
    {% endif %}
    if (filtre != ''){
       table_station.search(filtre).draw();
    };
   table_station.page.len( nbRecords ).draw();
    
    $("#modal_valider_programmation").draggable({
      handle: ".modal-header"
  });    
  
  $("#modalDupliquerStation").draggable({
      handle: ".modal-header"
  });    
  
  $("#modalConfirmerDupliquerStation").draggable({
      handle: ".modal-header"
  });    
  
  $("#modalInitialiserStation").draggable({
      handle: ".modal-header"
  });    
  
  $("#modal_periode").draggable({
      handle: ".modal-header"
  });    
  
  $("#idModalProgrammer").draggable({
      handle: ".modal-header"
  });    
  

    });

{% endblock scripts %}
