<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-center" id="ModalLabel_Valider">
        Station : {{ station.station.code}}&nbsp;&nbsp;{{ station.station.libelle}} </br>
        Période : {{ periode.periode.labelPeriode }} </br>
      {#  Groupes :  {{ groupes | length }} #}
    </h4>
</div>
<div class="modal-body-sqe">
    <div id="idMessage_groupe"></div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="small text-center">
                 {% if supports | length %}
                    {% if  supports | length  > 0 %}
                     <table class="table  table-bordered table-condensed table-advance" id="idTable_groupes">
                         <caption align=top><h4>Sélectionner un ou plusieurs supports</h4></caption>
                       <thead>
                           <tr>
                               {% for support in supports %}
                                <th>{{ support.nomSupport }}</th>
                               {% endfor %}
                           </tr>
                       </thead>
                       <tbody>
                            <tr>
                            {% for support in supports %}
                                <td>
                                    {% if action == 'P'  and maj != 'V' %}
                                        <div class="text-center">
                                            <input type="checkbox" id="checkSupport_{{ support.codeSupport }}" class="checkSupport" name="checkSupport[]" value="{{ support.codeSupport }}" >
                                            <div id ="idSitePrelevement_{{ support.codeSupport }}" class="label-warning"></div>
                                        </div>
                                    {% else %}
                                        <div id="idSupportCocher_{{ support.codeSupport }}">
                                             <input type="hidden" id="idSupportCocherOk_{{ support.codeSupport }}"  class="checkSupport" value="" >
                                             <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                        </div>
                                    {% endif %}
                                </td> 
                           {% endfor %}
                           </tr>
                       </tbody>
                   </table>
                {% endif %}
             {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div id="idChoisirGroupes" class="small">
               <input type="hidden" name="periodeEncour" id="periodeEncour" value="{{ periode.periode.id }}">
                <input type="hidden" name="stationEncour" id="stationEncour" value="{{ station.id }}">
                <input type="hidden" id="optionGroupes" value="N">
                <table class="table table-bordered table-condensed table-advance" id="idTable_groupes">
                    <caption align=top><h4>Sélectionner un ou plusieurs groupes</h4></caption>
                    <thead>
                        <tr>
                            <th width="5%">Actions</th>
                            <th>Groupe de paramètres</th>
                            <th>type</th>
                            <th>Support</th>
                            <th>Prestataire</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if groupes | length%}  
                            {% for groupe in groupes %}
                                {% if groupe.Compl == 'O' or ( groupe.Compl ==  null and groupe.autre | length) %}
                                  <tr id="idTr_{{ groupe.groupe.id }}" class="danger">
                                {% else %}
                                   <tr id="idTr_{{ groupe.groupe.id }}">
                                {% endif %}
                                    <td align="center">
                                        {% if action == 'P'  and maj != 'V' %}
                                        <div class="text-center">
                                             {% if groupe.renseigne == 'N' %}
                                                <input type="checkbox"  id="checkGroupe_{{ groupe.groupe.id }}" name="checkGroupe[]" value="{{ groupe.groupe.id }}" >
                                            {% else %}
                                                <input type="checkbox"  id="checkGroupe_{{ groupe.groupe.id }}" name="checkGroupe[]" value="{{ groupe.groupe.id }}" checked="checked">
                                             {% endif %}
                                           </div>
                                        {% else %}
                                            <div id="idGroupeCocher_{{ groupe.groupe.id }}">
                                                 <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                            </div>
                                        {% endif %}
                                    </td> 
                                    <td id="idTdCompl_{{ groupe.groupe.id }}" nowrap>
                                        {{ groupe.groupe.grparRef.codeGrp }}&nbsp;&nbsp;{{ groupe.groupe.grparRef.libelleGrp }}
                                    </td>
                                    <td>
                                        {{ groupe.groupe.grparRef.typeGrp }}
                                    </td>
                                    <td>
                                        {% if groupe.groupe.grparRef.support | length %}
                                            {{ groupe.groupe.grparRef.support.nomSupport }}
                                       {% endif %}
                                    </td>
                                    <td id="idTdPresta_{{ groupe.groupe.id }}">
                                        {% if groupe.Compl == 'O' or ( groupe.Compl ==  null and groupe.autre | length) %}
                                            {% if groupe.autreGroupe %}
                                                {% if groupe.autreGroupe.prestaDft %}
                                                   {{ groupe.autreGroupe.prestaDft.nomCorres }}
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if groupe.groupe.prestaDft %}
                                               {{ groupe.groupe.prestaDft.nomCorres }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
                    
    <div class="row">
    <div class="col-md-2"></div>
       <div class="col-md-10 pull-left text-info">
        <ul class="list-inline">
            <li> 
            {% set lot = null %}
            {% set Compl = "N" %}
            {% set EstCompl = "N" %}
             {%if groupes | length%}
                  {% for groupe in groupes %}
                      {% if groupe.autre | length %}
                          {% if lot != groupe.autre.id %}
                             <a class="btn btn-danger btn-xs" href="#" title="Autre programmation prévue"><i class="fa"></i></a>
                             prévu dans la programmation {{ groupe.autre.anneeProg }} version {{ groupe.autre.version }} du lot : {{ groupe.autre.lot.nomLot }}
                             {% set lot = groupe.autre.id %}
                             {% if groupe.Compl == 'O' or ( groupe.Compl ==  null and groupe.autre | length) %}
                                 {% set Compl = "O" %}
                             {% endif %}
                             {% if groupe.EstCompl == 'O'  %}
                                 {% set EstCompl = "O" %}
                             {% endif %}
                           {% endif %}
                      {% endif %}
                  {% endfor %}
              {% endif %}
             </li>
         </ul> 
       </div>
    </div>
    {% if lot | length > 0 %}
       {% if action == 'P'  and maj != 'V' %}    
           {% if EstCompl == 'N' %}
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="btn-group" data-toggle="buttons">
                            {% if Compl == 'O'%}
                                <button type="button" id="optionGroupes1"  class="btn btn-primary" autocomplete="off">Complétez ce lot</button>
                                <button type="button" id="optionGroupes2"  class="btn btn-default" autocomplete="off">Ignorer ce lot</button>
                                <input type="hidden" id="optionGroupes" value="C">
                            {% else %}
                                <button type="button" id="optionGroupes1"  class="btn btn-default" autocomplete="off">Complétez ce lot</button>
                                <button type="button" id="optionGroupes2"  class="btn btn-primary" autocomplete="off">Ignorer ce lot</button>
                                <input type="hidden" id="optionGroupes" value="I">
                            {% endif %}
                        </div>
                     </div>
                </div>
          {% else %}
              <input type="hidden" id="optionGroupes" value="N">
          {% endif %}    
       {% endif %}
    {% endif %}
    
    {% if autrePeriodes | length > 0 %}
       {% if action == 'P'  and maj != 'V' %}      
        <div id="idBlockAutrePeriodes" class="row">
            <div class="col-lg-6 col-lg-offset-3">
               <p>Sélectionner la ou les semaines identiques à cette programmation</p>
               <select id="autrePeriodes" class="form-control input-small" placeholder="autre périodes" name="autrePeriodes[]" required="required" multiple>
                    <option value=""></option>
                        {% for autrePeriode in autrePeriodes %}
                            {% if periode.periode.numPeriode != autrePeriode.periode.numPeriode %}
                               <option  value="{{ autrePeriode.id }}" >{{ autrePeriode.periode.labelPeriode }}</option>
                            {% endif %}
                        {% endfor %}
                </select>
             </div>
        </div>
       {% endif %}
    {% endif %}
    
    
 </div>               
                     
<div class="modal-footer">
    {% if action == 'P'  and maj != 'V' %}
        <button id="idValiderSelectionGroupe" type="submit" class="btn btn-success icon-ok-sign">
            <i class="fa fa-check"> Valider</i>
        </button>
    {% endif %}
    <button id="idAnnulerSelectionGroupe" type="button" class="btn btn-default" data-dismiss="modal">
        <i class="fa fa-undo"> Annuler</i>
    </button>


<script>
    
    if ($('#optionGroupes').val() == 'C'){
        $('#idBlockAutrePeriodes').hide();
    }else{
        $('#idBlockAutrePeriodes').show();
    }
    
    {% if Compl == 'O'%}
        $('#optionGroupes').val('C');
    {% else %}
         $('#optionGroupes').val('I');
    {% endif %}
    
      {# validation des groupes pour une periode#}
    $(document).on('click','#idValiderSelectionGroupe',function(e){
        $('#modalTraitementEncours').modal('toggle');
        $('#idModalProgrammer').modal('hide');
         e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
        {%if groupes | length%}  
           {% for groupe in groupes %}
                $('#checkGroupe_{{ groupe.groupe.id }}').prop( "disabled", false );
            {% endfor %}
        {% endif %}
        var $this = $('#idForm_groupe'); // L'objet jQuery du formulaire
        var url = '{{ path("AeagSqeBundle_programmation_periode_valider",{"stationId":  "par1", "periodeId" : "par2", "optionGroupes" : "par3","action": "par4","maj":"par5","lotan":"par6" }) }}';
        url = url.replace("par1", $('#stationEncour').val());
        url = url.replace("par2", $('#periodeEncour').val());
         url = url.replace("amp;","");
        url = url.replace("par3", $('#optionGroupes').val());
        url = url.replace("amp;","");
        url = url.replace("par4", '{{ action }}');
         url = url.replace("amp;","");
        url = url.replace("par5", '{{ maj }}');
        url = url.replace("amp;","");
        url = url.replace("par6", '{{ lotan.id }}');
        url = url.replace("amp;","");
        $.ajax({
            url: url,
            type: 'post', // La méthode indiquée dans le formulaire (get ou post)
            data: $this.serialize(),
            success: function(html) { // Je récupère la réponse du fichier PHP
                    $('#idStation_' + $('#stationEncour').val()).empty().append(html);
                    $('#modalTraitementEncours').modal('hide');
                }
        });
    });
    
    {%set groupeRenseigne = 'N' %}
    {%set groupeExiste = 'N' %}
    {% if groupes | length %}  
        {% for groupe in groupes %}
            {% if groupe.renseigne == 'O' %}
                {%set groupeRenseigne = 'O' %}
            {% endif %}
            {% if groupe.existe == 'O' %}
                {%set groupeExiste = 'O' %}
            {% endif %}
            {#Rajout VGU#}     
            {% for obliSupport in groupe.obliSupport %} 
                {% if obliSupport.support | length %}
                    {% if obliSupport.obli == "O" %}
                        {%set groupeRenseigne = 'O' %}
                        {%set groupeExiste = 'O' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}     
        
    // A l'initialisation on regarde le nombre de case coché (non par défaut) :
    // 1. Si pas de case, c'est une nouvelle période, on coche les n cases des supports + tous les groupes obligatoires
    // 2. Si au moins une case, on récupère leur support, on affiche que les groupes de ces supports et on coche les supports correspondants
    
    // Première passe pour déterminer les champs cochés et leur support
    // si au moins un champ coché, on dit qu'il est complété
    {% set estComplete = 'N' %}
    var tabSupportRenseigne = new Array();
    {%if groupes | length%}  
       {% for groupe in groupes %}
           {% if groupe.renseigne == 'O' %}
               {% for obliSupport in groupe.obliSupport %} 
                    {% if obliSupport.support | length %}
                        {% if obliSupport.obli == "N" %}
                            {% set estComplete = 'O' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if groupe.groupe.grparRef.support | length %}
                    tabSupportRenseigne.push('{{ groupe.groupe.grparRef.support.codeSupport }}');
                {% endif %}   
           {% endif %}
       {% endfor %}
    {% endif %}         
    tabSupportRenseigne = $.unique(tabSupportRenseigne);    
    
    {%if estComplete == 'N' %}
        {%if groupes | length%}  
           {% for groupe in groupes %}

                {%set nbErreurSite = 0 %}
                {% if groupe.renseigne == 'N' %}
                    $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", false );
                    $('#idGroupeCocher_{{ groupe.groupe.id }}').hide();
                {% else %}
                    $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", true );
                    $('#idGroupeCocher_{{ groupe.groupe.id }}').show();
                {% endif %}
                var html = '';
                {% for obliSupport in groupe.obliSupport %} 
                    {% if obliSupport.support | length %}
                       {% if obliSupport.obli == "O" %}
                            $('#checkGroupe_{{ groupe.groupe.id }}').prop( "disabled", true );
                            $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", true );
                        {% else %}
                            $('#checkGroupe_{{ groupe.groupe.id }}').prop( "disabled", false );
                        {% endif %}
                       {% if obliSupport.site == "ko" %}
                              $('#checkSupport_{{ obliSupport.support.codeSupport }}').prop( "checked", false );   
                              $('#checkSupport_{{ obliSupport.support.codeSupport }}').prop( "disabled", true );
                              $('#checkSupport_{{ obliSupport.support.codeSupport }}').hide();
                              $('#checkGroupe_{{ groupe.groupe.id }}').prop( "disabled", true );
                              $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", false);
                              $('#idSupportCocher_{{ obliSupport.support.codeSupport }}').hide();
                              $('#idSupportCocherOk_{{ obliSupport.support.codeSupport }}').val('N');
                              $('#idGroupeCocher_{{ groupe.groupe.id }}').hide();
                              html = 'Pas de site pour ce support';
                              {% set nbErreurSite = nbErreurSite + 1 %}
                              support = {{  obliSupport.support.codeSupport }};
                        {% endif %}
                       {% if groupeRenseigne == 'N' %}
                                $('#checkSupport_{{ obliSupport.support.codeSupport }}').prop( "checked", false );
                                 $('#idSupportCocher_{{ obliSupport.support.codeSupport }}').hide();
                                 $('#idSupportCocherOk_{{ obliSupport.support.codeSupport }}').val('N');
                        {% else %}
                                  $('#checkSupport_{{ obliSupport.support.codeSupport }}').prop( "checked", true );   
                                  $('#idSupportCocher_{{ obliSupport.support.codeSupport }}').show();
                                  $('#idSupportCocherOk_{{ obliSupport.support.codeSupport }}').val('O');
                        {% endif  %}
                   {% endif %}
               {% endfor %}
                   {% if nbErreurSite == 1 %}
                     $('#idSitePrelevement_' + support).empty().append(html).addClass("label-warning");
                  {% endif %}
           {% endfor %}
        {% endif %}
        
    {% else %}   
        
        // On affiche toutes les lignes correspondants aux supports sélectionnés
        {%if groupes | length%}  
            {% for groupe in groupes %}
                var aAfficher = 'N';
                var estObligatoire = 'N';
                {% for obliSupport in groupe.obliSupport %} 
                    {% if obliSupport.support | length %}
                        if (tabSupportRenseigne.indexOf('{{obliSupport.support.codeSupport}}') !== -1) {
                            aAfficher = 'O';
                            {% if obliSupport.obli == "O" %}
                                estObligatoire = 'O';
                            {% endif %}
                        }
                    {% endif %}
                {% endfor %}
                
                if (aAfficher === 'O') {

                    $('#idTr_{{ groupe.groupe.id }}').show();

                    if (estObligatoire === 'O') {    
                        $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", true );
                        $('#checkGroupe_{{ groupe.groupe.id }}').prop( "disabled", true );
                    }

                    {% if groupe.renseigne == "O" %}
                        $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", true );
                    {% else %}
                        $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", false );
                    {% endif %}

                } else {
                    $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", false );
                    $('#idTr_{{ groupe.groupe.id }}').hide();
                }     
            {% endfor %}
        {% endif %}
            
        // On coche les supports sélectionnés
        var tabCodeSupports = new Array();
        $('input.checkSupport').each(function () {
              if (tabSupportRenseigne.indexOf($(this).val()) !== -1) {
                $('#checkSupport_'+$(this).val()).prop( "checked", true );   
                $('#idSupportCocher_'+$(this).val()).show();
                $('#idSupportCocherOk_'+$(this).val()).val('O');
              } else {
                $('#checkSupport_'+$(this).val()).prop( "checked", false );
                $('#idSupportCocher_'+$(this).val()).hide();
                $('#idSupportCocherOk_'+$(this).val()).val('N');  
              }
         });
        
    {% endif %}
       
    {#   traitement sur un support sélectionné  #}
    {% for support in supports %}

       $(document).on('click', '#checkSupport_{{ support.codeSupport }}', function(e){
           // On récupère les supports cochés dans un tableau
           var tabCodeSupports = new Array();
           $('input:checkbox.checkSupport').each(function () {
                 if (this.checked) {
                     tabCodeSupports.push($(this).val());
                 }
            });

            // Pour chaque groupe, on vérifie les correspondances entre les codes supports et les codes supports du groupe
           {%if groupes | length%}  
                 {% for groupe in groupes %}
                     var aAfficher = 'N';
                     var estObligatoire = 'N';
                     {% for obliSupport in groupe.obliSupport %}
                         {% if obliSupport.support | length %}
                             {% if obliSupport.obli == 'O'%}
                                 estObligatoire = 'O';
                             {% endif %}
                             var codeSupportGroupe = '{{ obliSupport.support.codeSupport }}';
                             if (tabCodeSupports.indexOf(codeSupportGroupe) !== -1) {
                                  aAfficher = 'O';
                             }
                         {% endif %}    
                     {% endfor %}

                     // if code support du groupe in tabCodeSupports, check sinon decheck
                     if (aAfficher === 'O') {
                         if (estObligatoire === 'O') {
                             $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", true );
                             $('#checkGroupe_{{ groupe.groupe.id }}').prop( "disabled", true );
                         } else {
                             $('#checkGroupe_{{ groupe.groupe.id }}').prop( "disabled", false );
                         }
                         $('#idChoisirGroupes').show();
                         $('#idTr_{{ groupe.groupe.id }}').show();
                     } else {
                         $('#checkGroupe_{{ groupe.groupe.id }}').prop( "checked", false );
                         $('#idTr_{{ groupe.groupe.id }}').hide();
                     }

                 {% endfor %}
             {% endif %}                
        });
    {% endfor %}

    $(document).on('click', '#optionGroupes1', function(e){
      $('#optionGroupes1').removeClass('btn-default').addClass('btn-primary');
      $('#optionGroupes2').removeClass('btn-primary').addClass('btn-default');
      $('#optionGroupes').val('C');
     $('#idBlockAutrePeriodes').hide();
      {%if groupes | length%}  
          {% for groupe in groupes %}
              {% if groupe.autre | length %}
                $('#idTr_{{ groupe.groupe.id }}').addClass("label-warning");
                $('#idTdPresta_{{ groupe.groupe.id }}').empty();
                {% if groupe.autreGroupe.prestaDft %}
                   $('#idTdPresta_{{ groupe.groupe.id }}').html('{{ groupe.autreGroupe.prestaDft.nomCorres }}');
                {% endif %}
              {% endif %}
          {% endfor %}
      {% endif %}
      });  

      $(document).on('click', '#optionGroupes2', function(e){
      $('#optionGroupes2').removeClass('btn-default').addClass('btn-primary');
      $('#optionGroupes1').removeClass('btn-primary').addClass('btn-default');
      $('#optionGroupes').val('I');
       $('#idBlockAutrePeriodes').show();
      {%if groupes | length%}  
          {% for groupe in groupes %}
              {% if groupe.autre | length %}
                $('#idTr_{{ groupe.groupe.id }}').removeClass("label-warning");
                $('#idTdPresta_{{ groupe.groupe.id }}').empty();
                {% if groupe.groupe.prestaDft %}
                   $('#idTdPresta_{{ groupe.groupe.id }}').html('{{ groupe.groupe.prestaDft.nomCorres }}');
                {% endif %}
              {% endif %}
          {% endfor %}
      {% endif %}
      });
        
</script>
    
</div>         
