 {%if periodes | length%} 
        {% for periode in periodes %}
            <tr>
                <td>
                    <div class="checbox">
                        {% if periode.sel == 'O' %} 
                        <input type="checkbox" id="checkPeriode_{{  periode.periode.id }}" name="checkPeriode[]" value="{{  periode.periode.id }}" checked="checked" >
                        {% else %}
                         <input type="checkbox" id="checkPeriode_{{  periode.periode.id }}" name="checkPeriode[]" value="{{  periode.periode.id }}" >
                        {% endif %}
                    </div>
                </td> 
                <td nowrap>{{ periode.periode.labelPeriode }}</td>
                <td nowrap>du {{ periode.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;au&nbsp;&nbsp; {{ periode.periode.dateFin | date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
    {% endif %}
        
