{% extends "AeagDecBundle::layout.html.twig" %}

     
 {% block breadcrumb %}
      <li>
          <a href="{{ path('aeag_dec') }}">Accueil</a> 
      </li>
      <li class="active">
            Producteurs
       </li>
   {% endblock breadcrumb %}


{% block panel_heading %}
    <div class="row">
        <div class="col-md-10">
            <h3>
               Liste des producteurs de {{ collecteur.numero }} {{ collecteur.libelle }}
           </h3>
        </div>
       <div class="col-md-2 pull-right">
                  <a class="btn btn-primary" href="{{ path('AeagDecBundle_collecteur_pdfListeProducteurs', { 'collecteur_id': collecteur.id }) }}" title="Imprimer la lister"> 
                      <i class="fa fa-print"> Imprimer la liste</i>
                  </a>
          </div>
    </div>
{% endblock panel_heading %}


     
{% block modal %}
      {%if producteurs| length > 0 %}
            {% for entity in producteurs %}
        
                <div class="modal fade" id="sup-{{entity.0.id}}" tabindex="-1" role="dialog" aria-labelledby="supLabel-{{entity.0.id}}" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="supLabel-{{entity.0.id}}">Suppression du producteur {{ entity.0.siret }} {{ entity.0.libelle }}</h4>
                            </div>
                            <div class="modal-body">
                                <h4>Cliquer sur  <a  type="button" class="btn btn-danger"  data-dismiss="modal">
                                  <i class="fa fa-trash-o"> Supprimer</i>
                               </a> pour valider la suppression</h4>
                                <br/><br/>
                                <div class="alert alert-danger">Attention : Une fois supprimer, le producteur sera supprimé ainsi que ses déclarations liées</div>
                            </div>
                            <div class="modal-footer">
                               <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-undo"></i> Fermer</button>
                               <a  id="btSupprimer-{{ entity.0.id}}" type="button" class="btn btn-danger"  data-dismiss="modal">
                                  <i class="fa fa-trash-o"> Supprimer</i>
                               </a>
                             </div>
                          </div>
                     </div>
                </div>
          {% endfor %}
       {%endif%}  
  {% endblock modal %}


  {%block content %}
       <div class="row">
          <div class="col-md-6">
                   <a class="btn btn-success" href="{{ path('AeagDecBundle_collecteur_ajouterProducteur', { 'collecteur_id': collecteur.id }) }}" target="_blank" title="Ajouter dossier"> 
                     <i class="fa fa-plus"> Ajouter un producteur</i>
                   </a>
           </div>
       </div>
      <div class="row">
          <div class="col-md-12">
              <div class="small ">
                  <div id="listeProducteurs">
                     <table class="table table-bordered table-striped table-condensed table-advance table-hover" id="idTable">
                       <thead>
                           <tr>
                                <th width="5%">Actions</th>
                                <th>Numéro</th>
                                <th>Siret</th>
                                <th>Libelle</th>
                                <th>Adresse</th>
                                <th>Code postal</th>
                                <th>Ville</th>
                                <th>taux bonnifié</th>
                             </tr>
                             <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>
                        </thead>
                        <tbody>
                            {%if producteurs| length > 0 %}
                            {% for entity in producteurs %}
                                <tr>
                                    <td nowrap>
                                       <a class="btn btn-primary" href="{{ path('AeagDecBundle_collecteur_consulterProducteur', { 'id': entity.0.id }) }}"  title="Consulter">
                                            <i class="fa fa-eye"></i>
                                       </a>
                                       <a class="btn btn-warning" href="{{ path('AeagDecBundle_collecteur_majProducteur', { 'collecteur_id': collecteur.id, 'producteur_id': entity.0.id }) }}"  title="Mettre à jour">
                                            <i class="fa fa-edit"></i> 
                                       </a>
                                       {% if entity.1 <= 1 %}
                                            <a class="btn btn-danger" data-toggle="modal" href="#sup-{{entity.0.id}}" title="Supprimer">
                                            <i class="fa fa-trash-o"></i> 
                                            </a>
                                       {% endif %}
                                     </td>
                                    <td>{{ entity.0.numero }}</td>
                                    <td>{{ entity.0.siret }}</td>
                                    <td>{{ entity.0.libelle }}</td>
                                    <td>{{ entity.0.adresse }}</td>
                                    <td>{{ entity.0.cp }}</td>
                                    <td>{{ entity.0.ville }}</td>
                                    <td align="center">
                                        {% if entity.2 == 'O' %}
                                            {{ entity.3  * 100}} %
                                        {% endif %}
                                    </td>
                                  </tr>
                             {% endfor %}
                            {%endif%}
                        </tbody>
                     </table>
                 </div>
            </div>
          </div>
        </div>
       
       <div class="row">
         <div class="col-md-6 pull-left text-info">
           <ul class="list-inline">
            <li><a class="btn btn-primary btn-xs" href="#" title="Consulter"><i class="fa fa-eye"></i></a> Consulter</li>
            <li><a class="btn btn-warning btn-xs" href="#" title="Mettre à jour"><i class="fa fa-edit"></i></a> Mettre à jour</li>
            <li><a class="btn btn-danger btn-xs" href="#" title="Supprimer"><i class="fa fa-trash-o"></i></a> Supprimer</li>
          </ul>  
        </div>
      </div>
     {% endblock content %}
 

    {% block scripts %}
      
        // DataTable
    var table = $('#idTable').DataTable(
                {"stateSave": true,
                "order": [[ 3, "asc" ]],
                "oLanguage": {
                    "sSearch": "Filtre",
                    "sFirst": "1ere page",
                    "sLast": "Dernière page",
                    "sNext": "Prochaine page",
                    "sPrevious": "Page précédente",
                    "EmptyTable": "Pas de données",
                    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                    "sZeroRecords": "Pas d'enregistrement à afficher",
                    "sInfoEmpty": "Pas d'enregistrement à afficher",
                    "sInfoThousands": " ",
                    "sLengthMenu": 'Afficher <select>' +
                            '<option value="10">10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="-1">Tous</option>' +
                            '</select> enregistrements',
                    "sPaginationType": "full_numbers"
                }
               }
              );
     
  
    $("#idTable thead td").each( function ( i ) {
    
     if (i != 0){
        var select = $('<select><option value=""></option></select>')
            .appendTo( $(this).empty() )
            .on( 'change', function () {
                table.column( i )
                    .search( $(this).val() )
                    .draw();
            } );
 
        table.column( i ).data().unique().sort().each( function ( d, j ) {
            select.append( '<option value="'+d+'">'+d+'</option>' )
        } );
        };
    } );
       
     {%if producteurs | length > 0 %}
                {% for entity in producteurs %}
                          $('#btSupprimer-{{ entity.0.id}}').click( function() {
                                cache: false,  
                                $.get( "{{ path('AeagDecBundle_collecteur_supprimerProducteur', { 'id': entity.0.id }) }}",  function( responseData ) { 
                                      $('#listeProducteurs').html( responseData );
                                  });
                          } );  
                      
                 {%endfor%}
          {%endif%}
  {% endblock scripts %}
