{% extends "AeagDecBundle:Default:index.html.twig" %}

{% block HEAD %}
    {{parent()}}
     <link href="{{ asset('bundles/aeagdec/assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css') }}" rel="stylesheet" type="text/css"/>
 {% endblock HEAD %}


{%block PAGE_TITLE %}
    <h3 class="page-title">
        Modification du collecteur : {{ entity.numero }} {{ entity.libelle }}
    </h3>
    <ul class="page-breadcrumb breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('aeag_dec') }}">Accueil</a> 
          <i class="fa fa-angle-right"></i>
       </li>
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('AeagDecBundle_admin_listeCollecteurs') }}">Collecteurs</a> 
          <i class="fa fa-angle-right"></i>
       </li>
       <li>
          <i class="icon-user"></i>
          <a href="{{ path('AeagDecBundle_collecteur_majCollecteur', { 'id': entity.id }) }}">{{ entity.numero }} {{ entity.libelle }}</a> 
          <i class="fa fa-angle-right"></i>
       </li>
    </ul>
{%endblock PAGE_TITLE %}


 {%block CONTENT %}
  <div class="portlet box blue">
    <div class="portlet-title">
       <div class="caption"><i class="icon-reorder"></i>
              Modification du collecteur : {{ entity.numero }} {{ entity.libelle }}
       </div>
    </div>
    <div class="portlet-body form">
        <form action="{{ path('AeagDecBundle_collecteur_majCollecteur', { 'id': entity.id }) }}" class="form-horizontal" id="idForm" method="post" {{ form_enctype(form) }}>
            <div class="form-body">
                {% if not form.vars.valid %}
                        <div class="alert alert-danger">
                            <button class="close" data-dismiss="alert"></button>
                             <ul>
                                {% for child in form if not child.vars.valid %}
                                    <li>
                                        {% if child.vars.compound and not child.vars.valid %}
                                            {{ child.vars.label|trans|capitalize }}:
                                            {{ forms.display_error(child) }}
                                        {% else %}
                                            <h5>
                                                <a href="#{{ child.vars.id }}">
                                                    {{ child.vars.label|trans|capitalize }}:
                                                </a>
                                                <small>
                                                    {% for error in child.vars.errors %}
                                                        {{ error.message|capitalize }}
                                                    {% endfor %}
                                                </small>
                                            </h5>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                         </div>
                {% endif %}
                <div class="row">
                   <div class="col-md-12">
                      <div class="form-group">
                         <label  class="col-md-3 control-label">Identifiant Aeag</label>
                         <div class="col-md-4">
                            <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                  {{ form_widget(form.ouvId, { 'attr': {'class': 'form-control input-small', 'placeholder': 'identifiant Aeag'} }) }}
                           </div>
                          </div>
                         {%if form_errors(form.ouvId) | length %}
                          <div class="col-md-4">
                              <div class="form-group has-error">
                                  <div class="input-icon left">                                       
                                       <i class="fa fa-exclamation"></i>   
                                       {{ form_errors(form.ouvId) }}
                                  </div>
                               </div>
                          </div>
                         {%endif%}
                      </div>
                      <div class="form-group">
                         <label  class="col-md-3 control-label">Numéro</label>
                         <div class="col-md-4">
                            <div class="input-group">
                                 {{ form_widget(form.numero, { 'attr': {'class': 'form-control', 'placeholder': 'Numéro'} }) }}
                           </div>
                          </div>
                         {%if form_errors(form.numero) | length %}
                           <div class="col-md-4">
                              <div class="form-group has-error">
                                  <div class="input-icon left">                                       
                                       <i class="fa fa-exclamation"></i>   
                                       {{ form_errors(form.numero) }}
                                  </div>
                               </div>
                           </div>
                         {%endif%}
                      </div>
                      <div class="form-group">
                         <label  class="col-md-3 control-label">Libellé</label>
                         <div class="col-md-4">
                            <div class="input-group">
                                 {{ form_widget(form.libelle, { 'attr': {'class': 'form-control input-xlarge', 'placeholder': 'Libellé'} }) }}
                            </div>
                          </div>
                         {%if form_errors(form.libelle) | length %}
                          <div class="col-md-4">
                            <div class="form-group has-error">
                                <div class="input-icon left">                                       
                                     <i class="fa fa-exclamation"></i>   
                                     {{ form_errors(form.libelle) }}
                                </div>
                             </div>
                          </div>
                         {%endif%}
                      </div>
                      <div class="form-group">
                         <label  class="col-md-3 control-label">Siret</label>
                         <div class="col-md-4">
                           {%if form_errors(form.siret) | length %}
                                  <div class="form-group has-error">
                                     <label class="control-label" for="inputError">{{ form_errors(form.siret) }}</label>
                                     <div class="input-icon right">
                                         <i class="fa fa-exclamation tooltips" data-container="body" data-original-title="Siret"></i>
                                         {{ form_widget(form.siret, { 'attr': { 'class': 'form-control', 'placeholder': 'Siret', 'minlength': '14', 'maxlength': '14'} }) }}
                                     </div> 
                                  </div>
                             {%else%}
                                    <div class="input-group">
                                      {{ form_widget(form.siret, { 'attr': { 'class': 'form-control', 'placeholder': 'Siret', 'minlength': '14', 'maxlength': '14','nowhitespace':'nowhitespace' } }) }}
                                     </div>
                             {%endif%}
                         </div>

                      </div>
                   </div>
            </div>
             <div class="form-actions fluid center">
                 <label  class="col-md-3 control-label">Liens</label>
                 <div class="col-md-9">
                 <table class="table table-bordered table-hover" id="idTable1">
                        <thead>
                           <tr>
                               <th>Type</th>
                                <th>Identifiant</th>
                                <th>Libelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%if correspondants %}
                                {% for correspondant in correspondants %}
                                    <tr>
                                        <td>Correspondant</td>
                                        <td>{{ correspondant.Correspondant.identifiant }}</td>
                                        <td>{{ correspondant.Correspondant.adr1 }}&nbsp;{{ correspondant.Correspondant.adr2 }}</td>
                                      </tr>
                                 {% endfor %}
                            {%endif%}
                            {%if cts %}     
                                {% for ct in cts %}
                                    <tr>
                                        <td>Centre de Transit</td>
                                        <td>{{ ct.numero }}</td>
                                        <td>{{ ct.libelle }}</td>
                                      </tr>
                                 {% endfor %}
                             {%endif%}
                             {%if ctdts %}     
                                {% for ctdt in ctdts %}
                                    <tr>
                                        <td>Centres de Traitement</td>
                                        <td>{{ ctdt.numero }}</td>
                                        <td>{{ ctdt.libelle }}</td>
                                      </tr>
                                 {% endfor %}
                              {%endif%}
                        </tbody>
                     </table> 
                 </div>
             </div>
         
            <div class="form-actions fluid center">
                 <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success icon-ok-sign"> Enregister</button>
                    <a class="btn btn-danger icon-remove" href="{{ path('AeagDecBundle_admin_listeCollecteurs') }}"> Annuler</a>
                 </div>
             </div>
            <div class="hide">
              {{ form_rest(form) }}
              </div>
        </form>
    </div>
 </div>

{%endblock CONTENT %}

    
{% block JAVASCRIPTS_LEVEL_SCRIPTS %}
    {{ parent() }}
    <script src="{{ asset('bundles/aeagdec/assets/plugins/select2/select2.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('bundles/aeagdec/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aeagdec/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aeagdec/assets/scripts/form-validation.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aeagdec/assets/plugins/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aeagdec/assets/plugins/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aeagdec/assets/plugins/jquery-validation/localization/messages_fr.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/aeagdec/assets/plugins/data-tables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aeagdec/assets/plugins/data-tables/DT_bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aeagdec/assets/scripts/table-managed.js') }}"></script>     
    <script>
       
       jQuery(document).ready(function() {
                   
                         $("#idForm").validate( {
                                ignore: ".ignore",
                                messages: {

                                 'MajOuvrage[siret]' : {
                                  nowhitespace: "<div class='form-group has-error'><span class='help-block'>Veuillez ne pas inscrire d'espaces blancs.</span></div>",
                                  minlength: "<div class='form-group has-error'><span class='help-block'>Veuillez saisir 14 caractères.</span></div>"
                                  }

                               }
                           });   
       
            });
       
       
  </script>
{% endblock JAVASCRIPTS_LEVEL_SCRIPTS %}
