{% extends "AeagDecBundle::layout.html.twig" %}

{% block breadcrumb %}
          <li>
          <i class="fa fa-home"></i>
          <a href="{{ path('aeag_homepage') }}">Accueil</a> 
       </li>
       <li>
          <i class="fa fa-university"></i>
          <a href="{{ path('AeagDecBundle_collecteur_listeProducteurs') }}">Producteurs</a> 
       </li>
       <li class="active">
           {{ entity.numero }} {{ entity.libelle }}
       </li>
 {% endblock breadcrumb %}
 
{% block panel_heading %}
    <h3>
       Mise à jour du producteur : {{ entity.numero }} {{ entity.libelle }}
    </h3>
{% endblock panel_heading %}

 {%block content %}
   <div class="col-xs-12 medium">
        <form role="form" action="{{ path('AeagDecBundle_collecteur_majProducteur', {'collecteur_id': collecteur.id, 'producteur_id': entity.id }) }}" class="form-horizontal" id="idForm" method="post" {{ form_enctype(form) }}>
             {% spaceless %}
                     {% if not form.vars.valid %}
                             <div class="alert alert-danger">
                                {% for children in form.children %}
                                     {% if not children.vars.valid %}
                                         {{ form_errors(children) }}
                                    {% endif %}
                                 {% endfor %}
                             </div>
                     {% endif %}
              {% endspaceless %}
            
             {% if message %}
                        <div class="alert alert-danger">
                            <button class="close" data-dismiss="alert"></button>
                            <h5>
                             {{ message | nl2br}}
                            </h5>
                       </div>
             {% endif %}   
       
              {%if entity.ouvId %} 
                   <div class="form-group">
                    <label for="MajProducteur_ouvId" class="col-xs-3 control-label">Identifiant Aeag</label>
                    {%if form_errors(form.ouvId) %}
                        <div class="col-xs-8 input-group has-error has-feedback">
                    {% else %}
                         <div class="col-xs-8 input-group">
                     {% endif %}
                       {{ form_widget(form.ouvId, { 'attr': {'class': 'form-control ', 'placeholder': 'identifiant Aeag'} }) }}
                     </div>
                   </div> 
                {% endif %}  
                       
                {% if entity.numero %}
                    <div class="form-group">
                    <label for="MajProducteur_numero" class="col-xs-3 control-label">Numéro</label>
                    {%if form_errors(form.numero) %}
                        <div class="col-xs-8 input-group has-error has-feedback">
                    {% else %}
                         <div class="col-xs-8 input-group">
                     {% endif %}
                       {{ form_widget(form.numero, { 'attr': {'class': 'form-control ', 'placeholder': 'Numéro'} }) }}
                     </div>
                   </div> 
                 {% endif %} 
                    
                    <div class="form-group">
                    <label for="MajProducteur_libelle" class="col-xs-3 control-label">Libellé</label>
                    {%if form_errors(form.libelle) %}
                        <div class="col-xs-8 input-group has-error has-feedback">
                    {% else %}
                         <div class="col-xs-8 input-group">
                     {% endif %}
                       {{ form_widget(form.libelle, { 'attr': {'class': 'form-control ', 'placeholder': 'Libellé'} }) }}
                     </div>
               </div> 
                    
               <div class="form-group">
                    <label for="MajProducteur_siret" class="col-xs-3 control-label">Siret</label>
                    {%if form_errors(form.siret) %}
                        <div class="col-xs-8 input-group has-error has-feedback">
                    {% else %}
                         <div class="col-xs-8 input-group">
                     {% endif %}
                       {{ form_widget(form.siret, { 'attr': {'class': 'form-control ',
                                                             'placeholder': 'Sireté',
                                                             'maxlength': '14',
                                                             'minlength': '14',
                                                             'nowhitespace': 'true',
                                                             'number': 'true'} }) }}
                     </div>
               </div> 
                     
                     
                <div class="form-group">
                        <div class="row">
                           <div class="col-xs-3 text-right">
                                <label for="MajProducteur_naf" class="control-label">Activité (code NAF) <i class="fa fa-asterisk text-danger btn-xs"></i></label>
                           </div>
                           <div class="col-xs-8">
                              <select class="form-control" id="MajProducteur_naf" name="MajProducteur_naf" required="required" >    
                                <option value=""></option> 
                                {%for naf in nafs %}
                                   {% if entity.naf %}
                                         {% if entity.naf == naf.code %}
                                                <option value="{{naf.code}}" selected>{{ naf.codeLibelle }}</option> 
                                         {% else %}
                                                <option value="{{naf.code}}">{{ naf.codeLibelle }}</option> 
                                         {% endif %}
                                    {% else %}
                                         <option value="{{naf.code}}">{{ naf.codeLibelle }}</option> 
                                    {% endif %}
                                {% endfor %}
                            </select>
                         </div>
                     </div>
                </div>       
                     
                    
                <div class="form-group">
                    <label for="MajProducteur_adresse" class="col-xs-3 control-label">Adresse</label>
                    {%if form_errors(form.adresse) %}
                        <div class="col-xs-8 input-group has-error has-feedback">
                    {% else %}
                         <div class="col-xs-8 input-group">
                     {% endif %}
                       {{ form_widget(form.adresse, { 'attr': {'class': 'form-control ', 'placeholder': 'Adresse'} }) }}
                     </div>
               </div> 
                    
                <div class="form-group">
                    <label for="MajProducteur_cp" class="col-xs-3 control-label">Code postal <i class="fa fa-asterisk text-danger btn-xs"></i></label>
                    {%if form_errors(form.cp) %}
                        <div class="col-xs-8 input-group has-error has-feedback">
                    {% else %}
                         <div class="col-xs-8 input-group">
                     {% endif %}
                       {{ form_widget(form.cp, { 'attr': {'class': 'form-control ', 
                                                          'placeholder': 'Code postal',
                                                          'maxlength': '5',
                                                          'minlength': '5',
                                                          'nowhitespace': 'true',
                                                          'number': 'true' } }) }}
                     </div>
               </div>
                    
                   
                <div class="form-group">
                        <div class="row">
                           <div class="col-xs-3 text-right">
                                <label for="MajProducteur_ville" class="control-label">Ville <i class="fa fa-asterisk text-danger btn-xs"></i></label>
                           </div>
                           <div  id="idVilles" class="col-xs-8">
                              <select class="form-control" id="MajProducteur_ville" name="MajProducteur_ville" required="required" >    
                                <option value=""></option> 
                                {%for ville in villes %}
                                   {% if entity.cp %}
                                         {% if entity.ville == ville.acheminement %}
                                                <option value="{{ville.acheminement}}" selected>{{ ville.acheminement }}</option> 
                                         {% else %}
                                                <option value="{{ville.acheminement}}">{{ville.acheminement }}</option> 
                                         {% endif %}
                                    {% else %}
                                         <option value="{{ville.acheminement}}">{{ ville.acheminement }}</option> 
                                    {% endif %}
                                {% endfor %}
                            </select>
                         </div>
                     </div>
                </div>       
         
       
               <div class="btn-group pull-right">
                <button id="btMaj" type="submit" class="btn btn-success  pull-right" value="Ajouter">Mettre à jour</button>
                <a  id="btFermer" class="btn btn-danger" href="{{ path('AeagDecBundle_collecteur_listeProducteurs') }}"><i class="fa fa-power-off"></i> Retour</a>
               </div>
         
               <div class="hide">
                 {{ form_rest(form) }}
               </div>
       
        </form>
 </div>

{% endblock content %}
                    
{% block scripts %}
    
    $(document).on('change','#MajProducteur_cp',function(){
    $('#idAttente').show();
    cache: false  
    var requestData = {
    cp :  $('#MajProducteur_cp').val()
    }
    $.get( "{{path("AeagDecBundle_producteur_cp")}}", requestData , function( responseData ) { 
    $("#idVilles" ).empty().html( responseData ); 
    $('#idAttente').hide();
    });
    } );  
      
{% endblock scripts %}

    
