{% extends "AeagAeagBundle::layout.html.twig" %}

{% block menu %}
    <li><a href="{{ path('aeag_homepage') }}"><i class="fa fa-home"></i>&nbsp; Acceuil</a></li>
    {% if roles %}
        {% for role in roles %}
           {% if role == 'ROLE_ODEC' %}
                  <li><a href="{{ path('aeag_dec') }}"><i class="fa fa-home"></i>&nbsp; Dechets</a></li>
           {% endif %}
           {% if role == 'ROLE_FRD' %}
                  <li><a href="{{ path('aeag_frd') }}"><i class="fa fa-home"></i>&nbsp; Frd</a></li>
           {% endif %}
           {% if role == 'ROLE_SQE' %}
                  <li><a href="{{ path('aeag_sqe') }}"><i class="fa fa-home"></i>&nbsp; Programmation SQE</a></li>
           {% endif %}
        {% endfor %}
    {% endif %}
    <li><a href="{{ path('AeagUserBundle_User', { 'role': 'ROLE_AEAG' }) }}"><i class="fa fa-users">&nbsp; Utilisateurs</a></li>
  {% endblock menu %}

{% block breadcrumb %}
<li class="active">Acceuil</li> 
{% endblock breadcrumb %}

{% block panel_heading %}
    {%if app.user %}
     {{ app.user.username }}
     {% else %}
      Non connecté
     {% endif %}
{% endblock panel_heading %}

{% block content %}
      <div class="row">
            <div class="col-xs-offset-2 col-xs-10">
                {%if app.user %}
                  <h2>Bonjour.<br>bienvenue sur le site extranet de l'agence de l'eau 'Adour-Garonne'</h2>
                 {% else %}
                  <h2>Bonjour,<br>Le site est réservé aux utilisateurs recensés à l'agence de l'eau 'Adour-Garonne' </h2>
                 {% endif %}
            </div>
      </div>
{% endblock content %}
