                     
<div class="modal fade" id="modalPrestataireGroupe" >
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h5>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-3">Prestataire :</div>
                    <div class="col-md-8">{{ periodeAn.prestataire.ancnum}}&nbsp;&nbsp;{{ periodeAn.prestataire.nomcorres}}</div>
                    <div class="col-md-offset-1 col-md-3">Groupe :</div>
                    <div class="col-md-8">{{ periodeAn.groupe.grparRef.codeGrp }}&nbsp;&nbsp;{{ periodeAn.groupe.grparRef.libelleGrp }}</div>
                  </div>
              </div>
              </h5>
              </br>
              <h4 class="modal-title text-center" id="idTitreStationsSelectionnes">
                    Liste des stations sélectionnées
              </h4>
          </div>
          <div class="modal-body-sqe">
              <div class="row">
                  <div class="col-md-offset-1 col-md-10">
                      <div class="small">
                          <table class="table table-bordered table-condensed table-advance" id="idTable_prestataire_groupe">
                              <thead>
                                  <tr>
                                    <th>Station</th>
                                    <th>Période</th>
                                  </tr>
                              </thead>
                              <tbody>
                                   {% for prog in periodeAn.progs %}
                                        <tr>
                                            <td>
                                                {{ prog.station.station.code}}&nbsp;&nbsp;{{prog.station.station.libelle}}
                                            </td>
                                            <td>
                                              {% for periodes in  prog.periodes %}
                                                   {% if periodes.codeStatut.codeStatut != 'INV' %}
                                                      {{periodes.periode.labelPeriode }}&nbsp;&nbsp;
                                                        (du {{ periodes.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;au&nbsp;&nbsp; {{ periodes.periode.dateFin | date("d/m/Y") }})</br>
                                                   {% endif %}
                                              {% endfor %}
                                             </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button id="idFermer" type="button" class="btn btn-default" data-dismiss="modal">
                  <i class="fa fa-undo"> Fermer</i>
              </button>
          </div>
      </div>
  </div>
</div>
 
<script>
      // table prestataire_groupe
    var table_prestataire_groupe = $('#idTable_prestataire_groupe').DataTable(
                            {"stateSave": true,
                             "oLanguage": {
                                    "sSearch": "Filtre",
                                    "sFirst": "1ere page",
                                    "sLast": "Dernière page",
                                    "sNext": "Prochaine page",
                                    "sPrevious": "Page précédente",
                                    "EmptyTable": "Pas de données",
                                    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                                    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                                    "sZeroRecords": "Pas d'enregistrement à afficher",
                                    "sInfoEmpty": "Pas d'enregistrement à afficher",
                                    "sInfoThousands": " ",
                                    "sLengthMenu": 'Afficher <select>' +
                                        '<option value="10">10</option>' +
                                        '<option value="20">20</option>' +
                                        '<option value="30">30</option>' +
                                        '<option value="40">40</option>' +
                                        '<option value="50">50</option>' +
                                        '<option value="-1">Tous</option>' +
                                        '</select> enregistrements',
                                    "sPaginationType": "full_numbers"
                                    }
                            }
                        );
    

</script>

 