{% extends "AeagDieBundle::layout.html.twig" %}

{% block contenu %}
<div align="center">
   <h1>Mise  à jour du thème : {{ entity.theme }}</H1>
</div>
<br>
<form class="form" action="{{ path('theme_update', { 'id': entity.id }) }}"
	method="post"  {{ form_enctype(edit_form) }}>
	{{ form_errors(edit_form) }}

	<table  align="center">
             <tr>
                <td align="right" width="35%">{{ form_label(edit_form.theme, 'Thème ') }}</td>
                <td width="65%" align="left">
                {% if form_errors(edit_form.theme) | length %}
                   <span class="relative"> 
                    {{ form_widget(edit_form.theme, { 'attr': {'class': 'full-width error'} }) }}
                    <span class="check-error"></span>
                {% else %}
                  {{ form_widget(edit_form.theme, { 'attr': {'class': 'full-width'} }) }}
                {% endif %}  
                </td>
                <td nowrap><div class="symfony-form-errors">{{ form_errors(edit_form.theme) }}</div></td>
            </tr>
	</table>

	
	{{ form_rest(edit_form) }}
	
	<br> <br>
        
       <div  align="center">
          <button   class="button blue" type="submit">Modifier</button>
       </div>
</form>
<br>
 <table align="center">
    <tr>
        <td>
            <a class="button blue" href="{{ path('theme') }}">
                <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/back.png') }}">  
                Retour
            </a>
        </td>
    </tr>
</table>

{% endblock %}
