{% extends "AeagDieBundle::layout.html.twig" %}


{% block contenu %}

<div align="center">
   <h1>Administration des thèmes</H1>
</div>
<br>
<table align="center">
    <tr>
        <td align="left">
            <a href="{{ path('theme_new') }}">
                <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/Add.png') }}">
                Nouveau thème
            </a>
        </td>
    </tr>
</table>

<table class="table" cellspacing="0" width="50%" align="center">
    <thead>
        <tr>
            <th class="th-text" nowrap>Id</th>
            <th class="th-text" nowrap>Thème</th>
            <th class="th-text" nowrap align="left">Modifier</th>
            <th class="th-text" nowrap align="left">Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% set i = 1 %}
    {% for entity in entities %}
        <tr class="resultat{{ i }}">
            <td width="10%"><a href="{{ path('theme_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td width="80%">{{ entity.theme }}</td>
            <td width="10%" align="right">
                {% if is_granted('ROLE_ADMIN') %}
	               <a href="{{ path('theme_edit', { 'id': entity.id }) }}">
                          <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/Modify.png') }}">
                       </a>
	        {%  endif  %}
            </td>
            <td align="left">
                {% if is_granted('ROLE_ADMIN') %}
		    <a href="{{ path('theme_delete', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/Delete.png') }}">
                    </a>
		 {%  endif  %}
		</td>
        </tr>
       {% set i = i + 1 %}
       {% if i > 2 %}
       {% set i = 1 %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<table align="center">
        <tr>
            <td>
                <a class="button blue" href="{{ path('admin') }}">
                    <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/back.png') }}">  
                    Retour
                </a>
            </td>
        </tr>
    </table>
{% endblock %}