{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
        <a href="{{ path('AeagSqeBundle_suiviEau_index') }}">Suivi Eau</a>
    </li>
    <li class="active">
        Planning
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
    <h3 class="page-title text-center">
        Planning
    </h3>
{%endblock panel_heading %}

{%block content %}
    <div id="planning-frame">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">Semaine <span id="num-semaine"></span> - Année <span id="num-annee"></span></div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a id="previous-week" class="btn btn-default" href="#" role="button"><i class="fa fa-angle-left"></i> Précédent</a>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <form class="form">
                    <div class="form-group">
                        <select class="form-control" id="station-select" name="station-select">
                            <option value="">-- station --</option>
                            {% for station in stations %}
                                <option value="{{station.ouvFoncId}}">{{station.code}} - {{station.libelle}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                       <select class="form-control" id="support-select" name="support-select">
                            <option value="">-- support --</option>
                            {% for support in supports %}
                                <option value="{{support.codeSupport}}">{{support.codeSupport}} - {{support.nomSupport}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                         <select class="form-control" id="presta-select" name="presta-select">
                            <option value="">-- prestataire --</option>
                            {% for prestataire in prestataires %}
                                <option value="{{prestataire.adrCorId}}">{{prestataire.nomCorres}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-1">
                <a id="next-week" class="btn btn-default" href="#" role="button">Suivant <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div id="planning-grid">
        </div>
    </div>                
                   

{%endblock content %}    

{% block scripts %}

    var semaine = {{ "now"|date("W") }};
    var annee = {{ "now"|date("Y") }};
    var station = $('#station-select').val();
    var support = $('#support-select').val();
    var presta = $('#presta-select').val();
    getPlanning(semaine, annee, station, support, presta);
    
    /*function getPlanning(semaine, station, support, presta) {*/
    function getPlanning(semaine, annee, station, support, presta) {
        $.ajax({url: "{{ path('AeagSqeBundle_suiviEau_planning_table') }}", 
                method: "GET",
                data: { semaine: semaine, annee: annee, station: station, support: support, presta: presta},
                success: function (result) {
                    $("#planning-grid").html(result);
                    $("#num-semaine").html(semaine);
                    $("#num-annee").html(annee);
                }
        });
    }
    
    $('#previous-week').click(function (){
        var semaine = $("#num-semaine").html();
        var annee = $("#num-annee").html();
        if (semaine == '1') {
            semaine = '53';
            annee = parseInt(annee) - 1;
        } else {
            semaine = parseInt(semaine)-1;
        }
        
        var station = $('#station-select').val();
        var support = $('#support-select').val();
        var presta = $('#presta-select').val();
        getPlanning(semaine, annee, station, support, presta);
    });

    $('#next-week').click(function (){
        var semaine = $("#num-semaine").html();
        var annee = $("#num-annee").html();
        if (semaine == '53') {
            semaine = 1;
            annee = parseInt(annee) + 1;
        } else {
            semaine = parseInt(semaine)+1;
        }
        var station = $('#station-select').val();
        var support = $('#support-select').val();
        var presta = $('#presta-select').val();
        getPlanning(semaine, annee, station, support, presta);
    });

    $('#station-select').change(function (){
        var semaine = $("#num-semaine").html();
        var annee = $("#num-annee").html();
        var station = $('#station-select').val();
        var support = $('#support-select').val();
        var presta = $('#presta-select').val();
        getPlanning(semaine, annee, station, support, presta);
    });

    $('#support-select').change(function (){
        var semaine = $("#num-semaine").html();
        var annee = $("#num-annee").html();
        var station = $('#station-select').val();
        var support = $('#support-select').val();
        var presta = $('#presta-select').val();
        getPlanning(semaine, annee, station, support, presta);
    });

    $('#presta-select').change(function (){
        var semaine = $("#num-semaine").html();
        var annee = $("#num-annee").html();
        var station = $('#station-select').val();
        var support = $('#support-select').val();
        var presta = $('#presta-select').val();
        getPlanning(semaine, annee, station, support, presta);
    });

{%endblock scripts %}    