{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a>
    </li>
    <li>
        <a href="{{ path('AeagSqeBundle_depotHydrobio_index') }}">Lots</a>
    </li>
    <li>
        <a href="{{ path('AeagSqeBundle_depotHydrobio_demandes',{'lotanId' : demande.lotan.id}) }}">DAI</a>
    </li>
    <li>
        <a href="{{ path('AeagSqeBundle_depotHydrobio_prelevements',{'demandeId' : demande.id}) }}">Stations</a>
    </li>
    <li class="active">
        Détail
    </li>
{% endblock breadcrumb %}

{%block panel_heading %}
    <h3 class="page-title text-center">
        Dépôt Hydrobio - Station {{ prelev.station.code  }} {{ prelev.station.libelle  }} <br/>
        Demande {{ demande.codeDemandeCmd }} </br>
        {{demande.lotan.lot.nomLot }} - {{ demande.lotan.anneeProg }}  - version :  {{ demande.lotan.version }}</br>
        Prélèvement {{ prelev.codePrelevCmd }} entre le  {{ periodeAn.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;et&nbsp;&nbsp; {{ dateFin | date("d/m/Y") }}
    </h3>
{%endblock panel_heading %}

{%block content %}
    <div class="form-body">

        <table class="table table-bordered table-condensed table-advance" id="idTable_detail">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Cours d'eau</th>
                    <th>Station</th>
                    <th>Commune</th>
                    <th>Code Insee</th>
                        {% if  pgCmdPrelevHbInvert | length %}
                        <th>Longitude X amont</th>
                        <th>Latitude Y amont</th>
                        <th>Longitude X aval</th>
                        <th>Latitude Y aval</th>
                        {% endif%}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ prelev.station.code  }}</td>
                    <td>{{ prelev.station.nomCoursEau  }}</td>
                    <td>{{ prelev.station.libelle  }}</td>
                    <td>{{ prelev.station.nomCommune  }}</td>
                    <td>{{ prelev.station.inseeCommune  }}</td>
                    {% if  pgCmdPrelevHbInvert | length %}
                        <td>{{ pgCmdPrelevHbInvert.xAmont  }}</td>
                        <td>{{ pgCmdPrelevHbInvert.yAmont  }}</td>
                        <td>{{ pgCmdPrelevHbInvert.xAval  }}</td>
                        <td>{{ pgCmdPrelevHbInvert.yAval  }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        {% if prelev.codeSupport.codeSupport ==  "13" %}
            <div class="row responsive">
                <div class="col-xm-12">
                    <div class="small ">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul  class="nav nav-pills nav-justified" role="tablist">
                                    <li class="active"><a id="idTab_1" href="#tab_1_1" data-toggle="tab"><h4>Informations sur le site</h4></a></li>
                                    <li class=""><a id="idTab_2" href="#tab_1_2" data-toggle="tab"><h4>Informations sur l'échantillon</h4></a></li>
                                    <li class=""><a id="idTab_3" href="#tab_1_3" data-toggle="tab"><h4>Quantification de l'information</h4></a></li>
                                </ul>
                                <div  class="tab-content">
                                    <div class="tab-pane fade active in" id="tab_1_1">
                                        <table class="table table-bordered table-condensed table-advance" id="idTable_recouv">
                                            <thead>
                                                <tr>
                                                    <th>Substrat</th>
                                                    <th>Sandre</th>
                                                    <th width="5%">Recouvrement</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pgCmdInvertRecouv in pgCmdInvertRecouvs %}
                                                    <tr>
                                                        <td>{{  pgCmdInvertRecouv.nomenclature.libElement }}
                                                        <td>{{  pgCmdInvertRecouv.recouv.substrat  }}</td>
                                                        <td class="text-right">
                                                            {% if  pgCmdInvertRecouv.recouv.recouvNum is not null %}
                                                                {{ pgCmdInvertRecouv.recouv.recouvNum  | number_format(0,'.',' ') }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="tab_1_2">
                                        <table class="table table-bordered table-condensed table-advance" id="idTable_prelem">
                                            <thead>
                                                <tr>
                                                    <th>Micorprélevement</th>
                                                    <th>Substrat</th>
                                                    <th>Sandre</th>
                                                    <th>Classe vitesse</th>
                                                    <th>Phase</th>
                                                    <th>Hauteur d'eau</th>
                                                    <th>Intensité du colmatage</th>
                                                    <th>Stabilité</th>
                                                    <th>Nature végétation</th>
                                                    <th>Abondance végétation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pgCmdInvertPrelem in pgCmdInvertPrelems %}
                                                    <tr>
                                                        <td>{{  pgCmdInvertPrelem.prelem.prelem }}</td>
                                                        <td>{{  pgCmdInvertPrelem.nomenclature.libElement }}</td>
                                                        <td>{{  pgCmdInvertPrelem.prelem.substrat  }}</td>
                                                        <td>{{ pgCmdInvertPrelem.prelem.vitesse }}</td>
                                                        <td>{{ pgCmdInvertPrelem.prelem.phase }}</td>
                                                        <td>
                                                            {% if  pgCmdInvertPrelem.prelem.hauteurEau is not null %}
                                                                {{ pgCmdInvertPrelem.prelem.hauteurEau | number_format(0,'.',' ') }}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if  pgCmdInvertPrelem.prelem.colmatage is not null %}
                                                                {{ pgCmdInvertPrelem.prelem.colmatage | number_format(0,'.',' ') }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ pgCmdInvertPrelem.prelem.stabilite }}</td>
                                                        <td>{{ pgCmdInvertPrelem.prelem.natureVeget }}</td>
                                                        <td>
                                                            {% if  pgCmdInvertPrelem.prelem.abondVeget is not null %}
                                                                {{ pgCmdInvertPrelem.prelem.abondVeget | number_format(0,'.',' ') }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="tab_1_3">
                                        <table class="table table-bordered table-condensed table-advance" id="idTable_liste">
                                            <thead>
                                                <tr>
                                                    <th>Taxon</th>
                                                    <th>Sandre</th>
                                                    <th>Phase A</th>
                                                    <th>Phase B</th>
                                                    <th>Phase C</th>
                                                    <th>P1</th>
                                                    <th>P2</th>
                                                    <th>P3</th>
                                                    <th>P4</th>
                                                    <th>P5</th>
                                                    <th>P6</th>
                                                    <th>P7</th>
                                                    <th>P8</th>
                                                    <th>P9</th>
                                                    <th>P10</th>
                                                    <th>P11</th>
                                                    <th>P12</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pgCmdInvertListe in pgCmdInvertListes %}
                                                    <tr>
                                                        <td>{{   pgCmdInvertListe.taxon }}</td>
                                                        <td>{{   pgCmdInvertListe.codeSandre  }}</td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.0 %}
                                                                {% if pgCmdInvertListe.liste.0.phase == 'PHA' and pgCmdInvertListe.liste.0.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.0.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.1 %}
                                                                {% if pgCmdInvertListe.liste.1.phase == 'PHB' and pgCmdInvertListe.liste.1.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.1.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.2 %}
                                                                {% if pgCmdInvertListe.liste.2.phase == 'PHC' and pgCmdInvertListe.liste.2.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.2.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.3 %}
                                                                {% if pgCmdInvertListe.liste.3.prelem == 'P1' and pgCmdInvertListe.liste.3.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.3.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.4 %}
                                                                {% if pgCmdInvertListe.liste.4.prelem == 'P2' and pgCmdInvertListe.liste.4.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.4.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.5 %}
                                                                {% if pgCmdInvertListe.liste.5.prelem == 'P3' and pgCmdInvertListe.liste.5.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.5.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td  class="text-right">
                                                            {% if pgCmdInvertListe.liste.6 %}
                                                                {% if pgCmdInvertListe.liste.6.prelem == 'P4' and pgCmdInvertListe.liste.6.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.6.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.7 %}
                                                                {% if pgCmdInvertListe.liste.7.prelem == 'P5' and pgCmdInvertListe.liste.7.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.7.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.8 %}
                                                                {% if pgCmdInvertListe.liste.8.prelem == 'P6' and pgCmdInvertListe.liste.8.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.8.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.9 %}
                                                                {% if pgCmdInvertListe.liste.9.prelem == 'P7' and pgCmdInvertListe.liste.9.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.9.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.10 %}
                                                                {% if pgCmdInvertListe.liste.10.prelem == 'P8' and pgCmdInvertListe.liste.10.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.10.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.11 %}
                                                                {% if pgCmdInvertListe.liste.11.prelem == 'P9' and pgCmdInvertListe.liste.11.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.11.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.12 %}
                                                                {% if pgCmdInvertListe.liste.12.prelem == 'P10' and pgCmdInvertListe.liste.12.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.12.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.13 %}
                                                                {% if pgCmdInvertListe.liste.13.prelem == 'P11' and pgCmdInvertListe.liste.13.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.13.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {% if pgCmdInvertListe.liste.14 %}
                                                                {% if pgCmdInvertListe.liste.14.prelem == 'P12' and pgCmdInvertListe.liste.14.denombrement %}
                                                                    {{ pgCmdInvertListe.liste.14.denombrement  | number_format(0,'.',' ')}}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="idCache"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if prelev.codeSupport.codeSupport ==  "10" %}
            {% if  pgCmdPrelevHbDiato %}
                <table class="table table-bordered table-condensed table-advance" id="idTable_diatome">
                    <thead>
                        <tr>
                            <th>Longitude X</th>
                            <th>Latitude Y</th>
                            <th>largeur</th>
                            <th>Condition Hydrologique</th>
                            <th>Support</th>
                            <th>Clase vitesse</th>
                            <th>Ombrage</th>
                            <th>Température</th>
                            <th>Ph</th>
                            <th>Conductivite</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-right">{{ pgCmdPrelevHbDiato.diatome.xPrel  | number_format(0,'.','')}}</td>
                            <td class="text-right">{{ pgCmdPrelevHbDiato.diatome.yPrel  | number_format(0,'.','')}}</td>
                            <td class="text-right">{{ pgCmdPrelevHbDiato.diatome.largeur  | number_format(0,'.',' ')}}</td>
                            <td>{{ pgCmdPrelevHbDiato.diatome.conditionsHydro }}</td>
                            <td>{{ pgCmdPrelevHbDiato.diatome.substrat }}</td>
                            <td>{{ pgCmdPrelevHbDiato.diatome.vitesse }}</td>
                            <td>{{ pgCmdPrelevHbDiato.diatome.ombrage }}</td>
                            <td class="text-right">
                                {% if pgCmdPrelevHbDiato.diatome.tempEau %}
                                    {{ pgCmdPrelevHbDiato.diatome.tempEau  | number_format(2,'.',' ') }}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if pgCmdPrelevHbDiato.diatome.ph %}
                                    {{ pgCmdPrelevHbDiato.diatome.ph  | number_format(2,'.',' ')}}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if pgCmdPrelevHbDiato.diatome.conductivite %}
                                    {{ pgCmdPrelevHbDiato.diatome.conductivite  | number_format(2,'.',' ')}}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                </br>

                <table class="table table-bordered table-condensed table-advance" id="idTable_diatome_liste">
                    <thead>
                        <tr>
                            <th width="5%">Code Sandre</th>
                            <th width="5%">Code alternatif</th>
                            <th>taxon</th>
                            <th width="5%">Dénombrement</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for liste in pgCmdPrelevHbDiato.liste %}
                            <tr>
                                <td>{{  liste.liste.codeSandre  }}</td>
                                <td>{{  liste.liste.taxon }}
                                <td>{{  liste.taxon.nomAppelTaxon  }}</td>
                                <td class="text-right">{{  liste.liste.denombrement | number_format(0,'.',' ') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}

        {% endif %}

    </div>
{%endblock content %}


{% block scripts %}

    jQuery(document).ready(function() {

    var table_recouv = $('#idTable_recouv').DataTable(
    {"stateSave": true,
    "order": [[ 0, 'asc' ]],
    "oLanguage": {
    "sSearch": "Filtre",
    "sFirst": "1ere page",
    "sLast": "Dernière page",
    "sNext": "Prochaine page",
    "sPrevious": "Page précédente",
    "EmptyTable": "Pas de données",
    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
    "sZeroRecords": "Pas d'enregistrement à afficher",
    "sInfoEmpty": "Pas d'enregistrement à afficher",
    "sInfoThousands": " ",
    "sLengthMenu": 'Afficher <select id="select-length-menu">' +
        '<option value="10">10</option>' +
        '<option value="20">20</option>' +
        '<option value="30">30</option>' +
        '<option value="40">40</option>' +
        '<option value="50">50</option>' +
        '<option value="-1">Tous</option>' +
        '</select> enregistrements',
    "sPaginationType": "full_numbers"
    }
    }
    );

    var table_prelem = $('#idTable_prelem').DataTable(
    {"stateSave": true,
    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
    "oLanguage": {
    "sSearch": "Filtre",
    "sFirst": "1ere page",
    "sLast": "Dernière page",
    "sNext": "Prochaine page",
    "sPrevious": "Page précédente",
    "EmptyTable": "Pas de données",
    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
    "sZeroRecords": "Pas d'enregistrement à afficher",
    "sInfoEmpty": "Pas d'enregistrement à afficher",
    "sInfoThousands": " ",
    "sLengthMenu": 'Afficher <select id="select-length-menu">' +
        '<option value="10">10</option>' +
        '<option value="20">20</option>' +
        '<option value="30">30</option>' +
        '<option value="40">40</option>' +
        '<option value="50">50</option>' +
        '<option value="-1">Tous</option>' +
        '</select> enregistrements',
    "sPaginationType": "full_numbers"
    }
    }
    );

    var table_liste = $('#idTable_liste').DataTable(
    {"stateSave": true,
    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
    "oLanguage": {
    "sSearch": "Filtre",
    "sFirst": "1ere page",
    "sLast": "Dernière page",
    "sNext": "Prochaine page",
    "sPrevious": "Page précédente",
    "EmptyTable": "Pas de données",
    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
    "sZeroRecords": "Pas d'enregistrement à afficher",
    "sInfoEmpty": "Pas d'enregistrement à afficher",
    "sInfoThousands": " ",
    "sLengthMenu": 'Afficher <select id="select-length-menu">' +
        '<option value="10">10</option>' +
        '<option value="20">20</option>' +
        '<option value="30">30</option>' +
        '<option value="40">40</option>' +
        '<option value="50">50</option>' +
        '<option value="-1">Tous</option>' +
        '</select> enregistrements',
    "sPaginationType": "full_numbers"
    }
    }
    );

    var table_liste = $('#idTable_diatome_liste').DataTable(
    {"stateSave": true,
    "order": [[ 0, 'asc' ], [ 1, 'asc' ]],
    "oLanguage": {
    "sSearch": "Filtre",
    "sFirst": "1ere page",
    "sLast": "Dernière page",
    "sNext": "Prochaine page",
    "sPrevious": "Page précédente",
    "EmptyTable": "Pas de données",
    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
    "sZeroRecords": "Pas d'enregistrement à afficher",
    "sInfoEmpty": "Pas d'enregistrement à afficher",
    "sInfoThousands": " ",
    "sLengthMenu": 'Afficher <select id="select-length-menu">' +
        '<option value="10">10</option>' +
        '<option value="20">20</option>' +
        '<option value="30">30</option>' +
        '<option value="40">40</option>' +
        '<option value="50">50</option>' +
        '<option value="-1">Tous</option>' +
        '</select> enregistrements',
    "sPaginationType": "full_numbers"
    }
    }
    );

    });


{%endblock scripts %}