{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
        <a href="{{ path('AeagSqeBundle_depotHydrobio_index') }}">Lots</a> 
    </li>
    <li>
        <a href="{{ path('AeagSqeBundle_depotHydrobio_demandes',{'lotanId' : demande.lotan.id}) }}">DAI</a> 
    </li>
    <li class="active">
        Prélèvements
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
    <h3 class="page-title text-center">
        Dépôt Hydrobio - Liste des prélévements de la  DAI  {{ demande.codeDemandeCmd }} <br/>du lot  {{ demande.lotan.lot.nomLot }} - {{  demande.lotan.anneeProg }}
    </h3>
{%endblock panel_heading %}

{%block content %}
    <div class="form-body">        
        <table class="table table-bordered table-condensed table-advance" id="idTable_prelevements">
            <thead>
                <tr>
                    <th width="5%">Actions</th>
                    <th>Période</th>
                    <th>Prestataire</th>
                    <th>Station</th>
                    <th>Code</th>
                    <th>Date</th>
                    <th>Phase</th>
                    <th>Support</th>
                </tr>
            </thead>
            <tbody>
                {%if prelevs | length%} 
                    {% for prelev in prelevs %}
                        {% if prelev.phaseDmd.codePhase == 'M40' %} 
                            <tr class="success">
                            {% else %}
                            <tr>
                            {% endif %}
                            <td align="center" nowrap>
                                <a id="id_{{prelev.id}}" class="btn btn-info" href="{{path('AeagSqeBundle_depotHydrobio_prelevement_detail',{'prelevId' : prelev.id})}}" title="détail sur le prélèvement">
                                    <i class="fa fa-eye"></i> 
                                </a>
                            </td>
                            {% if prelev.periode %}
                                <td>{{ prelev.periode.labelPeriode}}</td>
                            {% else %}
                                <td>An</td>
                            {% endif%}
                            <td>{{ prelev.prestaPrel.nomCorres }}</td>
                            <td>{{ prelev.station.code  }} {{ prelev.station.libelle  }}</td>
                            <td>{{ prelev.codePrelevCmd }}</td>
                            <td>{{ prelev.datePrelev | date("d/m/Y H:i")}}</td>
                            <td>{{ prelev.phaseDmd.libellePhase }}</td>
                            <td>{{ prelev.codeSupport.nomSupport }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12 pull-right text-info">
                <ul class="list-inline">
                    <li><span class="label label-success">Correct</span></li>
                        {# <li><span class="label label-danger"><i class="fa fa-exclamation-triangle"> En cours de développement</i></span></li>#}
                </ul>  
            </div>
        </div>      

    </div>
{%endblock content %}    


{% block scripts %}

    jQuery(document).ready(function() {


    var table = $('#idTable_prelevements').DataTable(
    {"stateSave": true,
    "order": [[ 1, 'asc' ], [ 2, 'asc' ]],
    "oLanguage": {
    "sSearch": "Filtre",
    "sFirst": "1ere page",
    "sLast": "Dernière page",
    "sNext": "Prochaine page",
    "sPrevious": "Page précédente",
    "EmptyTable": "Pas de données",
    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
    "sZeroRecords": "Pas d'enregistrement à afficher",
    "sInfoEmpty": "Pas d'enregistrement à afficher",
    "sInfoThousands": " ",
    "sLengthMenu": 'Afficher <select id="select-length-menu">' +
        '<option value="10">10</option>' +
        '<option value="20">20</option>' +
        '<option value="30">30</option>' +
        '<option value="40">40</option>' +
        '<option value="50">50</option>' +
        '<option value="-1">Tous</option>' +
        '</select> enregistrements',
    "sPaginationType": "full_numbers"
    }
    }
    );

    $("#idTable_demandes thead td").each( function ( i ) {

    if (i != 0){
    var select = $('<select><option value=""></option></select>')
    .appendTo( $(this).empty() )
    .on( 'change', function () {
    table.column( i )
    .search( $(this).val() )
    .draw();
    });

    table.column( i ).data().unique().sort().each( function ( d, j ) {
    select.append( '<option value="'+d+'">'+d+'</option>' )
    });
    };
    }); 

    $('#select-length-menu').val("-1");
    });

{%endblock scripts %}    