
<div class="modal-header">
    <button type="button" class="close btn-close-selection-2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Liste des dépôts - {{demande.lotAn.lot.nomLot}} - {{demande.codeDemandeCmd}}
    </h4>
</div>
<div id="body-modal-reponses"class="modal-body">
    <table class="table table-bordered table-condensed table-advance" id="idTable_reponses">
        <thead>
            <tr>
                <th width="1%">Actions</th>
                <th>Date</th>
                <th>Fichier dépôt</th>
                <th>Phase</th>
            </tr>
        </thead>
        <tbody>
            {% for reponse in reponses %}
                {% if reponse.phaseFichier.codePhase == 'R80' %}
                    <tr class="warning">
                    {% else %}
                    <tr>
                    {% endif %}
                    <td width="1%" align="center" nowrap>
                        <a id="id_{{reponse.id}}" class="btn btn-success btn-telecharger" href="{{path("AeagSqeBundle_depotHydrobio_reponses_telecharger",{"reponseId":  reponse.id, "typeFichier" : "EXL"})}}" title="Télécharger le dépôt">
                            <i class="fa fa-download"></i>
                        </a>
                        {%if is_granted('ROLE_ADMINSQE')%}
                            <a id="supprimerReponseId_{{ reponse.id }}" class="btn btn-danger" href="{{path("AeagSqeBundle_depotHydrobio_reponses_supprimer",{"reponseId":  reponse.id})}}" title="Supprimer le dépôt">
                                <i class="fa fa-eraser"></i>
                            </a>
                        {% endif %}
                        {% if reponse.nomFichierCompteRendu | length %}
                            <a  class="btn btn-info" href="{{path("AeagSqeBundle_depotHydrobio_reponses_telecharger",{"reponseId":  reponse.id, "typeFichier" : "CR"})}}" title="Rapport du dépôt">
                                <i class="fa fa-download"> Rapport</i>
                            </a>
                        {% endif %}
                    </td>
                    <td nowrap>{{reponse.dateDepot | date("d/m/Y H:i")}}</td>
                    <td nowrap>{{reponse.nomFichier}}</td>
                    <td nowrap>{{reponse.phaseFichier.libellePhase}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-close-selection-2" data-dismiss="modal">Fermer</button>
</div>

{% block modal %}
    <div class="modal modal-reponse fade" id="modal_reponses_selection_2">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-reponses-selection-content">
            </div>
        </div>
    </div>
{%endblock modal %}



<script>
    var table1 = $('#idTable_reponses').DataTable(
            {"stateSave": true,
                "order": [[1, "desc"]],
                "oLanguage": {
                    "sSearch": "Filtre",
                    "sFirst": "1ere page",
                    "sLast": "Dernière page",
                    "sNext": "Prochaine page",
                    "sPrevious": "Page précédente",
                    "EmptyTable": "Pas de données",
                    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                    "sZeroRecords": "Pas d'enregistrement à afficher",
                    "sInfoEmpty": "Pas d'enregistrement à afficher",
                    "sInfoThousands": " ",
                    "sLengthMenu": 'Afficher <select>' +
                            '<option value="10">10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="-1">Tous</option>' +
                            '</select> enregistrements',
                    "sPaginationType": "full_numbers"
                }
            }
    );

    $("idTable_reponses thead td").each(function(i) {

        if (i != 0) {
            var select = $('<select><option value=""></option></select>')
                    .appendTo($(this).empty())
                    .on('change', function() {
                        table1.column(i)
                                .search($(this).val())
                                .draw();
                    });

            table1.column(i).data().unique().sort().each(function(d, j) {
                select.append('<option value="' + d + '">' + d + '</option>')
            });
        }
        ;
    });

    $('#btn-deposer-reponse').click(function() {
        $('#modalTraitementEncours').modal();
        var url = '{{ path("AeagSqeBundle_echangefichiers_reponses_selectionner",{"demandeId":  "par1" }) }}';
        var demandeId = $(this).data('id');
        url = url.replace("par1", demandeId);
        $.ajax({
            url: url,
            type: 'get',
            success: function(html) {
                $('#modal-reponses-selection-content').empty().append(html);
                $('#modalTraitementEncours').modal('hide');
                $('#modal_reponses_selection_2').modal();
            }
        });

    });

    $('.btn-close-selection-2').click(function() {
        $('#modal-reponses-content').empty();
        $('#modal_reponses').modal('hide');
    });

</script>