{%if entity.3 != 'SUP' %}
    <td  nowrap id="idTd1-{{ entity.0.id }}" width="1%">
        {% if entity.0.Phase.code > '30' %}
            <a class="btn btn-primary" href="{{ path('AeagFrdBundle_membre_viewFraisDeplacement', { 'id': entity.0.id }) }}" title="Voir">
                <i class="fa fa-eye"></i>
            </a>
            <a class="btn btn-info" href="{{ path('AeagFrdBundle_declaration_pdf', { 'id': entity.0.id }) }}" title="Imprimer">
                <i class="fa fa-print"></i>
            </a>
        {%elseif entity.0.Phase.code > '10'%}
            {%if entity.0.exporter == 'N' %}
                <a class="btn btn-primary" href="{{ path('AeagFrdBundle_membre_viewFraisDeplacement', { 'id': entity.0.id }) }}" title="Voir">
                    <i class="fa fa-eye"></i>
                </a>
                <a class="btn btn-info" href="{{ path('AeagFrdBundle_declaration_pdf', { 'id': entity.0.id }) }}" title="Imprimer">
                    <i class="fa fa-print"></i>
                </a>
                <a class="btn btn-default" data-toggle="modal" href="#deval-{{entity.0.id}}" title="Repasser au statut précédent">
                    <i class="fa fa-refresh"></i>
                </a>
            {%endif%}
            {%if entity.0.valider == 'N' %}
                <a class="btn btn-success" data-toggle="modal" href="#val-{{entity.0.id}}" title="Courrier reçu">
                    <i class="fa fa-envelope"></i>
                </a>
            {%endif%}
        {%else%}
            <a class="btn btn-warning" href="{{ path('AeagFrdBundle_membre_fraisDeplacement', { 'id': entity.0.id }) }}" title="Editer">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-info" href="{{ path('AeagFrdBundle_declaration_pdf', { 'id': entity.0.id }) }}" title="Imprimer">
                <i class="fa fa-print"></i>
            </a>
            <a class="btn btn-danger" data-toggle="modal" href="#sup-{{entity.0.id}}" title="Supprimer">
                <i class="fa fa-trash-o"></i>
            </a>
        {%endif%}
    </td>
{%else%}
    <td  nowrap id="idTd1-{{ entity.0.id }}" width="1%">
        SUPPRIMER
    </td>
{%endif%}
<td  nowrap width="1%">{{ entity.0.id }}</td>
<td class="text-left" nowrap width="5%">
    {% if entity.1 %}
        {{ entity.1.username }} &nbsp; {{ entity.1.prenom  }}
    {% endif %}
</td>
<td class="text-center" width="5%">
    <span class="hidden">{{ entity.0.dateDepart | date("Y/m/d") }}</span>
    {{ entity.0.dateDepart | date("d/m/Y") }} &nbsp; {{ entity.0.heureDepart }}
</td>
<td class="text-center" width="5%">
    <span class="hidden">{{ entity.0.dateRetour| date("Y/m/d") }}</span>
    {{ entity.0.dateRetour | date("d/m/Y") }} &nbsp; {{ entity.0.heureretour }}
</td>
<td  width="10%">{{ entity.0.objet }}</td>
<td nowrap width="5%">
    {% if entity.0.phase.code >= '30' %}
        {% if  entity.0.dateCourrier %}
            {{ entity.0.dateCourrier | date("d/m/Y") }}
        {% endif %}
    {% endif %}
</td>
<script>

    mes = '';
    {% for flashMessage in app.session.flashbag.get('notice-success') %}
        mes = '<div class="alert alert-success">';
        mes = mes + '<p> {{ flashMessage }} </p>';
        mes = mes + '</div>';
    {% endfor %}
        $('#idMessage').html(mes);
        $('#idMessage').show();
</script>