{% extends "AeagFrdBundle:Referentiel:index.html.twig" %}

{% block breadcrumb %}
      <li>
          <a href="{{ path('aeag_frd') }}">Accueil</a> 
      </li>
       <li class="active">
         Chargement référentiel 
       </li>
   {% endblock breadcrumb %}
       
   {% block panel_heading %}
       <h3>
       Export de l'agence de l'Eau vers le site extranet
       </h3>
   {% endblock panel_heading %}


 {%block content %}
       <div class="row">
          <div class="col-xm-12">
              <div class="small ">
                 <form class="form-horizontal" id="idForm" action="{{ path('AeagFrdBundle_admin_chargeFichier') }}" method="post">
                  <table class="table table-bordered table-striped table-condensed table-advance table-hover" id="idTable">
                     <thead>
                           <tr>
                                <th align="left">Action</th>
                                <th align="left">Type</th>
                                <th align="left">Fichier</th>
                                <th align="right">Lignes</th>
                                <th align="right">Taille</th>
                                <th align="center">date Création</th>
                             </tr>
                        </thead>
                        <tbody>
                           {% for fichier in fichiers %}
                                {% if fichier.nom == 'frd_users.csv'%}
                                    <tr>
                                         <td>
                                            <a class="btn btn-primary" id="confirme_{{ fichier.indice }}" class="btn green" href="#">
                                               <i class="fa fa-download"> Charger</i>
                                            </a>
                                        </td>
                                        <td aligne="left">Utilisateurs</td>
                                        <td align="left">{{ fichier.nom }}</td>
                                        <td align="right">{{ fichier.nblignes }}</td>
                                        <td align="right">{{ fichier.taille }}</td>
                                        <td align="center">{{ fichier.date }}</td>
                                     </tr>
                                {% endif %}
                           {% endfor %}
                           {% for fichier in fichiers %}
                                {% if fichier.nom == 'frd_dept.csv' or fichier.nom == 'init_departement.csv' %}
                                    <tr>
                                         <td>
                                            <a class="btn btn-primary" id="confirme_{{ fichier.indice }}" class="btn green" href="#">
                                               <i class="fa fa-download"> Charger</i>
                                            </a>
                                        </td>
                                        <td aligne="left">Departements</td>
                                        <td align="left">{{ fichier.nom }}</td>
                                        <td align="right">{{ fichier.nblignes }}</td>
                                        <td align="right">{{ fichier.taille }}</td>
                                        <td align="center">{{ fichier.date }}</td>
                                     </tr>
                                {% endif %}
                           {% endfor %}
                           {% for fichier in fichiers %}
                                {% if fichier.nom == 'frd_finalite.csv' or fichier.nom == 'init_finalite.csv'%}
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary" id="confirme_{{ fichier.indice }}" class="btn green" href="#">
                                               <i class="fa fa-download"> Charger</i>
                                            </a>
                                        </td>
                                        <td aligne="left">Finalités</td>
                                        <td align="left">{{ fichier.nom }}</td>
                                        <td align="right">{{ fichier.nblignes }}</td>
                                        <td align="right">{{ fichier.taille }}</td>
                                        <td align="center">{{ fichier.date }}</td>
                                     </tr>
                                {% endif %}
                           {% endfor %}
                           {% for fichier in fichiers %}
                                {% if fichier.nom == 'frd_sous_theme.csv' or fichier.nom == "init_sous_theme.csv"%}
                                    <tr>
                                       <td>
                                            <a class="btn btn-primary" id="confirme_{{ fichier.indice }}" class="btn green" href="#">
                                               <i class="fa fa-download"> Charger</i>
                                            </a>
                                        </td>
                                        <td aligne="left">Sous-thèmes</td>
                                        <td align="left">{{ fichier.nom }}</td>
                                        <td align="right">{{ fichier.nblignes }}</td>
                                        <td align="right">{{ fichier.taille }}</td>
                                        <td align="center">{{ fichier.date }}</td>
                                    </tr>
                                {% endif %}
                           {% endfor %}
                           {% for fichier in fichiers %}
                                {% if fichier.nom == 'frd_type_mission.csv' or fichier.nom == 'init_type_mission.csv'%}
                                    <tr>
                                       <td>
                                            <a class="btn btn-primary" id="confirme_{{ fichier.indice }}" class="btn green" href="#">
                                               <i class="fa fa-download"> Charger</i>
                                            </a>
                                        </td>
                                        <td aligne="left">Type de mission</td>
                                        <td align="left">{{ fichier.nom }}</td>
                                        <td align="right">{{ fichier.nblignes }}</td>
                                        <td align="right">{{ fichier.taille }}</td>
                                        <td align="center">{{ fichier.date }}</td>
                                       </tr>
                                {% endif %}
                           {% endfor %}
                           {% for fichier in fichiers %}
                                {% if fichier.nom == 'frd_frais_deplacement.csv' or fichier.nom == 'init_frais_deplacement.csv'%}
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary" id="confirme_{{ fichier.indice }}" class="btn green" href="#">
                                               <i class="fa fa-download"> Charger</i>
                                            </a>
                                        </td>
                                        <td aligne="left">Frais de déplacement</td>
                                        <td align="left">{{ fichier.nom }}</td>
                                        <td align="right">{{ fichier.nblignes }}</td>
                                        <td align="right">{{ fichier.taille }}</td>
                                        <td align="center">{{ fichier.date }}</td>
                                      </tr>
                                {% endif %}
                           {% endfor %}   
                            {% for fichier in fichiers %}
                                {% if fichier.nom == 'frd_etat_Frais.csv'%}
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary" id="confirme_{{ fichier.indice }}" class="btn green" href="#">
                                               <i class="fa fa-download"> Charger</i>
                                            </a>
                                        </td>
                                        <td aligne="left">Etats des Frais de déplacement</td>
                                        <td align="left">{{ fichier.nom }}</td>
                                        <td align="right">{{ fichier.nblignes }}</td>
                                        <td align="right">{{ fichier.taille }}</td>
                                        <td align="center">{{ fichier.date }}</td>
                                      </tr>
                                {% endif %}
                           {% endfor %}        
                            {% for fichier in fichiers %}
                                {% if fichier.nom == 'frd_mandatement.csv'%}
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary" id="confirme_{{ fichier.indice }}" class="btn green" href="#">
                                               <i class="fa fa-download"> Charger</i>
                                            </a>
                                        </td>
                                        <td aligne="left">Mandatements</td>
                                        <td align="left">{{ fichier.nom }}</td>
                                        <td align="right">{{ fichier.nblignes }}</td>
                                        <td align="right">{{ fichier.taille }}</td>
                                        <td align="center">{{ fichier.date }}</td>
                                      </tr>
                                {% endif %}
                           {% endfor %}            
                          </tbody>
                     </table>
                     <input type="hidden" id="ficent" name="ficent" value="">
                     
                     <div class="col-sm-offset-3 col-sm-8">
                       <a class="btn btn-danger" href="{{ path('AeagFrdBundle_admin') }}"><i class="fa fa-power-off"></i> Retour</a>
                     </div>
                     
                 </form> 
                     
                <div id='idMessage1'></div> 
                <div id='idMessage2'>
                      {% if message | length %} 
                           <div class="col-sm-offset-3 col-sm-8">
                             <div class="alert alert-block alert-success fade in">
                                 <p>
                                    {{ message}}
                                </p>
                             </div>
                           </div>
                       {% endif %}
                 </div> 
                 <div id="idAttente"></div>
             </div>
          </div>
        </div>
     {%endblock content %}
 
 {% block scripts %}
     
     
 
       $('#idMessage1').hide();
            $('#idMessage2').hide();
        {#    $('#modalTraitementEncours').hide();#}
            {% for fichier in fichiers %}
                $('#confirme_{{fichier.indice}}').click(function (e) {
                        e.preventDefault();
                        $('#idMessage1').show();
                        $('#modalTraitementEncours').modal('show');
                        $('#idMessage2').hide();
                        $('#ficent').val('{{fichier.nom}}');
                        $('form').submit();
                        return false;
                    });
               {% endfor %}

            {% if message %}
               $('#idMessage1').hide(); 
               $('#modalTraitementEncours').modal('hide'); 
               $('#idMessage2').show();
            {%endif%}
  {% endblock scripts %}