{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_saisieDonnees_index') }}">Saisie des données</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_saisieDonnees_index') }}">Lots</a> 
    </li>
    <li class="active">
          Périodes
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
    <div class="row">
            <div class="col-md-offset-3 col-md-7">
                    <h3 class="page-title">
                        <table>
                            <tr><td>Saisie des données </td></tr>
                            <tr><td>Liste des périodes</td></tr>
                             <tr><td>Lot  {{ lotan.lot.nomLot }} - {{ lotan.anneeProg }} - version :  {{ lotan.version }}</td></tr>
                        </table>
                    </h3>
            </div>
    </div>
{%endblock panel_heading %}

{%block content %}
    <div class="form-body">        
        <table class="table table-bordered table-condensed table-advance" id="idTable_demandes">
            <thead>
                <tr>
                    <th width="1%">Actions</th>
                    <th width="80%">Périodes</th>
                    <th width="19%">Nombre de stations</th>
                  </tr>
            </thead>
            <tbody>
                 {%if periodeAns | length%} 
                    {% for periodeAn in periodeAns %}
                        {% if  periodeAn.nbStationCorrectes == periodeAn.nbStations %}
                           <tr class="success">
                        {% else %}
                            <tr> 
                        {% endif %}
                            <td align="center" nowrap> 
                                {%  if periodeAn.nbStations > 0 %}
                                    {% if typeMilieu.codeMilieu != 'LPC' %}
                                        <ul class="list-inline">
                                            <li>
                                                <a id="id_{{ periodeAn.pgProgLotPeriodeAn.id }}" class="btn btn-primary" href="{{path('AeagSqeBundle_saisieDonnees_lot_periode_stations',{ 'periodeAnId': periodeAn.pgProgLotPeriodeAn.id })}}" title="Stations">
                                                   <i class="fa fa-eye"></i> 
                                               </a>
                                            </li>
                                             {% if  periodeAn.nbStationCorrectes == periodeAn.nbStations %}
                                                <li>
                                                    <a id="idTelechargerSuivi{{ periodeAn.pgProgLotPeriodeAn.id }}" class="btn btn-success btn-telecharger" href="{{ path('AeagSqeBundle_saisieDonnees_lot_periode_telecharger',{ 'periodeAnId': periodeAn.pgProgLotPeriodeAn.id })}}" title="Télécharger les resultats">
                                                                  <i class="fa fa-upload"></i> 
                                                     </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% else %}
                                         <ul class="list-inline">
                                             <li>
                                                <a id="id_{{ periodeAn.pgProgLotPeriodeAn.id }}" class="btn btn-primary" href="{{path('AeagSqeBundle_saisieDonnees_lot_periode_lacs',{ 'periodeAnId': periodeAn.pgProgLotPeriodeAn.id })}}" title="Stations">
                                                   <i class="fa fa-eye"></i> 
                                               </a>
                                             </li>
                                              {% if  periodeAn.nbStationCorrectes == periodeAn.nbStations %}
                                                <li>
                                                    <a id="idTelechargerSuivi{{ periodeAn.pgProgLotPeriodeAn.id }}" class="btn btn-success btn-telecharger" href="{{ path('AeagSqeBundle_saisieDonnees_lot_periode_telecharger',{ 'periodeAnId': periodeAn.pgProgLotPeriodeAn.id })}}" title="Télécharger les resultats">
                                                                  <i class="fa fa-upload"></i> 
                                                     </a>
                                                </li>
                                            {% endif %}
                                         </ul>
                                     {% endif %}
                              {% endif %}
                            </td>
                               <td>{{ periodeAn.pgProgLotPeriodeAn.periode.labelPeriode }} (du {{ periodeAn.pgProgLotPeriodeAn.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;au&nbsp;&nbsp; {{ periodeAn.pgProgLotPeriodeAn.periode.dateFin | date("d/m/Y") }})</td>
                               <td class="text-center">{{ periodeAn.nbStationCorrectes }}/{{ periodeAn.nbStations }}{#</br>
                                      {% for station in periodeAn.stations %}
                                          {{ station.code }} {{ station.libelle }}</br>
                                      {% endfor %}#}
                               </td>
                          </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <div class="row">
           <div class="col-md-12 pull-right text-info">
             <ul class="list-inline">
                 <li><span class="label label-success">Correct</span></li>
              </ul>  
           </div>
       </div>      
    </div>
{%endblock content %}    

{% block modal %}
   
{%endblock modal %}

{% block scripts %}
    jQuery(document).ready(function() {
        var table = $('#idTable_demandes').DataTable(
            {"stateSave": true,
             "order": [[ 1, "asc" ]],
            "language": {
                                 "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                             },
            "aLengthMenu": [
                                [10, 25, 50, 100, -1],
                                [10, 25, 50, 100, "Tous"]
                            ],
             "iDisplayLength": -1
           });
    });
    
{%endblock scripts %}    