{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_saisieDonnees_index') }}">Saisie des données</a> 
    </li>
    <li>
           <a href="{{ path('AeagSqeBundle_saisieDonnees_index') }}">Lots</a> 
    </li>
    <li>
           <a href="{{path('AeagSqeBundle_saisieDonnees_lot_periodes',{ 'lotanId': lotan.id })}}">Périodes</a> 
    </li>
     <li class="active">
          Stations
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
     <div class="row">
            <div class="col-md-offset-3 col-md-7">
                 <h3 class="page-title ">
                     <table>
                         <tr><td>Saisie des données</td></tr>
                         <tr><td>Liste des stations</td></tr>
                         <tr><td>entre le  {{ periodeAn.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;et&nbsp;&nbsp; {{periodeAn.periode.dateFin | date("d/m/Y") }}</td></tr>
                         <tr><td>Lot  {{ lotan.lot.nomLot }} - {{ lotan.anneeProg }}  - version :  {{ lotan.version }}</td></tr>
                     </table>
                </h3>
            </div>
     </div>
{%endblock panel_heading %}

{%block content %}
    
   
    <div class="form-body">        
        <table class="table table-bordered t table-advance" id="idTable_demandes">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Libellé</th>
                    <th>Support</th>
                    <th>Données terrains</th>
                    <th>Analyses</th>
                  </tr>
            </thead>
            <tbody>
                 {%if stations | length%} 
                    {% for station in stations %}
                         {% for cmdPrelev in station.cmdPrelev %}
                             {% if cmdPrelev.devalider == 'O' %}
                               <tr class="success">
                              {% else %}
                              <tr>
                           {% endif %}
                              <td nowrap>
                                   <ul class="list-inline">
                                  {% if cmdPrelev.valider == 'O' %}
                                      <li>
                                             <a class="btn btn-success" id="idValider{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Valider la saisie des données terrains et des analyses">
                                                <i class="fa fa-check">Valider</i>
                                             </a>
                                      </li>
                                  {% endif %}
                                  {% if cmdPrelev.devalider == 'O' %}
                                      <li>
                                             <a class="btn btn-danger" id="idDevalider{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Dévalider la saisie des données terrains et des analyses">
                                                <i class="fa fa-close">Dévalider</i>
                                             </a>
                                      </li>
                                  {% endif %}
                                  <li>
                                    <a  href="{{ station.lien }}" target="_blank" title="Localisation">{{ station.station.code }}</a>
                                  </li>
                                   </ul>
                             </td>
                             <td>
                                    {{ station.station.libelle }}
                             </td>
                                  <td>
                                     {% if cmdPrelev.cmdPrelev.codeSupport %}
                                        {{ cmdPrelev.cmdPrelev.codeSupport.nomSupport }}
                                     {% endif %}
                                 </td>
                                    <td  class="text-nowrap text-center">
                                        {% if cmdPrelev.saisieTerrain == 'O' %}
                                                 {% if  cmdPrelev.nbParametresTerrain > 0 or is_granted('ROLE_ADMINSQE') %}
                                                      <ul class="list-inline">
                                                                <li>
                                                                   <a class="btn btn-warning" id="idSaisirDonneesTerrain{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Saisie des données terrains">
                                                                      <i class="fa fa-pencil"> Saisir </i>
                                                                   </a>
                                                                </li>
                                                                <li><span  class="label label-success">{{ cmdPrelev.nbSaisisParametresTerrainCorrect}}</li>
                                                                <li><span  class="label label-warning">{{ cmdPrelev.nbSaisisParametresTerrainIncorrect}}</li>
                                                                <li><span  class="label label-danger">{{ cmdPrelev.nbSaisisParametresTerrainErreur}}</li>
                                                            {% if is_granted('ROLE_ADMINSQE') and cmdPrelev.nbParametresTerrain == 0 and cmdPrelev.nbAutresParametresTerrain > 0 %}
                                                                    <li><span  class="label label-default">{{ cmdPrelev.nbAutresParametresTerrain }}</li>
                                                             {% else %}
                                                                     <li><span  class="label label-default">{{ cmdPrelev.nbSaisisParametresTerrain  }}/{{ cmdPrelev.nbParametresTerrain}}</li>
                                                             {% endif %}
                                                      </ul> 
                                                 {% elseif cmdPrelev.nbAutresParametresAnalyse > 0 %}
                                                          <ul class="list-inline">
                                                               <li>
                                                                  <a class="btn btn-success" id="idConsulterDonneesTerrain{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Consulter les données terrains">
                                                                     <i class="fa fa-eye"> Consulter </i>
                                                                   </a>
                                                                </li>
                                                                <li><span  class="label label-default">{{ cmdPrelev.nbAutresParametresTerrain }}</li>
                                                         </ul> 
                                                {% endif %}
                                              {% else %}
                                                   {% if  cmdPrelev.nbParametresTerrain > 0 %}
                                                        <ul class="list-inline">
                                                                  <li>
                                                                    <a class="btn btn-success" id="idConsulterDonneesTerrain{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Consulter les données terrains">
                                                                       <i class="fa fa-eye"> consulter</i>
                                                                    </a>
                                                                  </li>
                                                                  <li><span  class="label label-success">{{ cmdPrelev.nbSaisisParametresTerrainCorrect}}</li>
                                                                 <li><span  class="label label-warning">{{ cmdPrelev.nbSaisisParametresTerrainIncorrect}}</li>
                                                                 <li><span  class="label label-danger">{{ cmdPrelev.nbSaisisParametresTerrainErreur}}</li>
                                                                 {% if is_granted('ROLE_ADMINSQE') and cmdPrelev.nbParametresTerrain == 0 and cmdPrelev.nbAutresParametresTerrain > 0 %}
                                                                    <li><span  class="label label-default">{{ cmdPrelev.nbAutresParametresTerrain }}</li>
                                                             {% else %}
                                                                     <li><span  class="label label-default">{{ cmdPrelev.nbSaisisParametresTerrain  }}/{{ cmdPrelev.nbParametresTerrain}}</li>
                                                             {% endif %}
                                                          </ul>  
                                                   {% elseif cmdPrelev.nbAutresParametresAnalyse > 0 %}
                                                          <ul class="list-inline">
                                                               <li>
                                                                  <a class="btn btn-success" id="idConsulterDonneesTerrain{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Consulter les données terrains">
                                                                     <i class="fa fa-eye"> Consulter </i>
                                                                   </a>
                                                                </li>
                                                                <li><span  class="label label-default">{{ cmdPrelev.nbAutresParametresTerrain }}</li>
                                                         </ul> 
                                                {% endif %}
                                            {% endif %}
                                   </td>
                                   <td  class="text-nowrap text-center">
                                         {% if cmdPrelev.saisieAnalyse == 'O' %}
                                             {% if  cmdPrelev.nbParametresAnalyse > 0 or is_granted('ROLE_ADMINSQE')%}
                                                      <ul class="list-inline">
                                                           <li>
                                                               <a class="btn btn-warning" id="idSaisirAnalyses{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Saisie des analyses">
                                                                  <i class="fa fa-pencil"> Saisir</i>
                                                                 </a>
                                                            </li>
                                                            <li><span  class="label label-success">{{ cmdPrelev.nbSaisisParametresAnalyseCorrect}}</li>
                                                           <li><span  class="label label-warning">{{ cmdPrelev.nbSaisisParametresAnalyseIncorrect}}</li>
                                                           <li><span  class="label label-danger">{{ cmdPrelev.nbSaisisParametresAnalyseErreur}}</li>
                                                            {% if is_granted('ROLE_ADMINSQE') and cmdPrelev.nbParametresAnalyse == 0 and cmdPrelev.nbAutresParametresAnalyse > 0 %}
                                                                <li><span  class="label label-default">{{ cmdPrelev.nbAutresParametresAnalyse }}</li>
                                                           {% else %}
                                                                 <li><span  class="label label-default">{{ cmdPrelev.nbSaisisParametresAnalyse }}/{{ cmdPrelev.nbParametresAnalyse }}</li>
                                                          {% endif %}
                                                     </ul> 
                                                {% elseif cmdPrelev.nbAutresParametresAnalyse > 0 %}
                                                          <ul class="list-inline">
                                                               <li>
                                                                  <a class="btn btn-success" id="idConsulterAnalyses{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Consulter les analyses">
                                                                     <i class="fa fa-eye"> Consulter </i>
                                                                   </a>
                                                                </li>
                                                                <li><span  class="label label-default">{{ cmdPrelev.nbAutresParametresAnalyse }}</li>
                                                         </ul> 
                                                {% endif %}
                                            {% else %}
                                                 {% if  cmdPrelev.nbParametresAnalyse > 0 %}
                                                      <ul class="list-inline">
                                                               <li>
                                                                  <a class="btn btn-success" id="idConsulterAnalyses{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Consulter les analyses">
                                                                     <i class="fa fa-eye"> Consulter </i>
                                                                   </a>
                                                                </li>
                                                                <li><span  class="label label-success">{{ cmdPrelev.nbSaisisParametresAnalyseCorrect}}</li>
                                                               <li><span  class="label label-warning">{{ cmdPrelev.nbSaisisParametresAnalyseIncorrect}}</li>
                                                               <li><span  class="label label-danger">{{ cmdPrelev.nbSaisisParametresAnalyseErreur}}</li>
                                                              {% if is_granted('ROLE_ADMINSQE') and cmdPrelev.nbParametresAnalyse == 0 and cmdPrelev.nbAutresParametresAnalyse > 0 %}
                                                                <li><span  class="label label-default">{{ cmdPrelev.nbAutresParametresAnalyse }}</li>
                                                           {% else %}
                                                                 <li><span  class="label label-default">{{ cmdPrelev.nbSaisisParametresAnalyse }}/{{ cmdPrelev.nbParametresAnalyse }}</li>
                                                          {% endif %}
                                                         </ul> 
                                                 {% elseif cmdPrelev.nbAutresParametresAnalyse > 0 %}
                                                           <ul class="list-inline">
                                                               <li>
                                                                  <a class="btn btn-success" id="idConsulterAnalyses{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Consulter les analyses">
                                                                     <i class="fa fa-eye"> Consulter </i>
                                                                   </a>
                                                                </li>
                                                                <li><span  class="label label-default">{{ cmdPrelev.nbAutresParametresAnalyse }}</li>
                                                         </ul> 
                                                 {% endif %}
                                           {% endif %}
                                   </td>
                           </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
         <div class="row">
                <div class="col-md-12 pull-right text-info">
                  <ul class="list-inline">
                      <li><span class="label label-success">Correct</span></li>
                      <li><span class="label label-warning">Avertissement</span></li>
                       <li><span class="label label-danger">Erreur</span></li>
                  </ul>  
                </div>
            </div>      
    </div>
{%endblock content %}    

{% block modal %}
   
{%endblock modal %}

{% block scripts %}
    
    jQuery(document).ready(function() {
    
        var table = $('#idTable_demandes').DataTable(
            {"stateSave": true,
             "order": [[ 1, "desc" ]],
            "language": {
                                 "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                             },
            "aLengthMenu": [
                                        [10, 25, 50, 100, -1],
                                        [10, 25, 50, 100, "Tous"]
                                    ],
              "iDisplayLength": 10
            }
            );

     {%if stations | length%} 
                    {% for station in stations %}
                        {% for cmdPrelev in station.cmdPrelev %}
                             $(document).on('click','#idSaisirDonneesTerrain{{ cmdPrelev.cmdPrelev.id }}',function(e){
                                    e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                                    $('#modalTraitementEncours').modal('toggle');
                                   var url = '{{ path("AeagSqeBundle_saisieDonnees_lot_periode_station_saisir_env_situ",{"prelevId":  "par1", "periodeAnId": "par2", "stationId": "par3","maj" : "par4"}) }}', // Le nom du fichier indiqué dans le formulaire
                                    url = url.replace("par1", {{ cmdPrelev.cmdPrelev.id }});
                                    url = url.replace("par2", {{ periodeAn.id }});
                                    url = url.replace("par3", {{ station.station.ouvFoncId }});
                                    {% if cmdPrelev.valider == 'O' %}
                                         url = url.replace("par4", "V");
                                    {% else %}
                                         url = url.replace("par4", "M");
                                    {% endif %}
                                    url = url.replace("amp;","");
                                    window.location.replace(url);
                              });
                             
                              $(document).on('click','#idConsulterDonneesTerrain{{ cmdPrelev.cmdPrelev.id }}',function(e){
                                    e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                                    $('#modalTraitementEncours').modal('toggle');
                                   var url = '{{ path("AeagSqeBundle_saisieDonnees_lot_periode_station_saisir_env_situ",{"prelevId":  "par1", "periodeAnId": "par2", "stationId": "par3","maj" : "C"}) }}', // Le nom du fichier indiqué dans le formulaire
                                    url = url.replace("par1", {{ cmdPrelev.cmdPrelev.id }});
                                    url = url.replace("par2", {{ periodeAn.id }});
                                    url = url.replace("par3", {{ station.station.ouvFoncId }});
                                    url = url.replace("amp;","");
                                    window.location.replace(url);
                              });
                     
                            $(document).on('click','#idSaisirAnalyses{{ cmdPrelev.cmdPrelev.id }}',function(e){
                                    e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                                    $('#modalTraitementEncours').modal('toggle');
                                   var url = '{{ path("AeagSqeBundle_saisieDonnees_lot_periode_station_saisir_ana",{"prelevId":  "par1", "periodeAnId": "par2", "stationId": "par3", "maj" : "par4"}) }}', // Le nom du fichier indiqué dans le formulaire
                                    url = url.replace("par1", {{ cmdPrelev.cmdPrelev.id }});
                                    url = url.replace("par2", {{ periodeAn.id }});
                                    url = url.replace("par3", {{ station.station.ouvFoncId }});
                                    {% if cmdPrelev.valider == 'O' %}
                                         url = url.replace("par4", "V");
                                    {% else %}
                                         url = url.replace("par4", "M");
                                    {% endif %}
                                    url = url.replace("amp;","");
                                    window.location.replace(url);
                              });
                              
                              $(document).on('click','#idConsulterAnalyses{{ cmdPrelev.cmdPrelev.id }}',function(e){
                                    e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                                    $('#modalTraitementEncours').modal('toggle');
                                   var url = '{{ path("AeagSqeBundle_saisieDonnees_lot_periode_station_saisir_ana",{"prelevId":  "par1", "periodeAnId": "par2", "stationId": "par3", "maj" : "C"}) }}', // Le nom du fichier indiqué dans le formulaire
                                    url = url.replace("par1", {{ cmdPrelev.cmdPrelev.id }});
                                    url = url.replace("par2", {{ periodeAn.id }});
                                    url = url.replace("par3", {{ station.station.ouvFoncId }});
                                    url = url.replace("amp;","");
                                    window.location.replace(url);
                              });
                              
                                $(document).on('click','#idValider{{ cmdPrelev.cmdPrelev.id }}',function(e){
                                    e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                                    $('#modalTraitementEncours').modal('toggle');
                                   var url = '{{ path("AeagSqeBundle_saisieDonnees_lot_periode_station_valider",{"prelevId":  "par1","periodeAnId": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                                    url = url.replace("par1", {{ cmdPrelev.cmdPrelev.id }});
                                    url = url.replace("par2", {{ periodeAn.id }});
                                     url = url.replace("amp;","");
                                    window.location.replace(url);
                              });
                              
                                   $(document).on('click','#idDevalider{{ cmdPrelev.cmdPrelev.id }}',function(e){
                                    e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                                    $('#modalTraitementEncours').modal('toggle');
                                   var url = '{{ path("AeagSqeBundle_saisieDonnees_lot_periode_station_devalider",{"prelevId":  "par1", "periodeAnId": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                                    url = url.replace("par1", {{ cmdPrelev.cmdPrelev.id }});
                                    url = url.replace("par2", {{ periodeAn.id }});
                                     url = url.replace("amp;","");
                                    window.location.replace(url);
                              });
                              
                         {% endfor %}    
                   {% endfor %}
          {% endif %}
                    
    });
{%endblock scripts %}    