{% trans_default_domain 'FOSUserBundle' %}



<div class="col-xs-offset-3 col-xs-8">
    
   
    <form  role="form" action="{{ path('AeagUserBundle_ChangePassword') }}" {{ form_enctype(form) }} method="POST">
      
        <h3 class="form-title">Changement du mot de passe</h3>
      
      {% spaceless %}
            {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                       {% for children in form.children %}
                             {% if not children.vars.valid %}
                                {% if children.vars.name == 'plainPassword' %}
                                       la double saisi du nouveau mot de passe est incorrecte
                                {% endif %}
                                {{ form_errors(children) }}
                           {% endif %}
                        {% endfor %}
                        {% if form_errors(form.plainPassword) %}
                              form_errors(form.plainPassword)
                        {% endif %}
                    </div>
            {% endif %}
        {% endspaceless %}
     
     
      <div class="form-group">
         <label for="fos_user_change_password_form_current_password" class="required">Mot de passe actuel :</label>
         {% if form_errors(form.current_password) %}
                 <div class="input-group has-error has-feedback">
         {% else %}
                 <div class="input-group">
         {% endif %}
                     <span class="input-group-addon"><i class="fa fa-key"></i><i class="fa fa-asterisk text-danger"></i></span>
                {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe actuel', 'required':'required'} }) }}
              </div>
        </div>
        
           
         <div class="form-group">
             <label class="required" for="fos_user_change_password_form_plainPassword_first">Nouveau mot de passe :</label>
             {% if form_errors(form.plainPassword) %}
                    <div class="input-group has-error has-feedback">
             {% else %}
                    <div class="input-group">
             {% endif %}
                        <span class="input-group-addon"><i class="fa fa-key"></i><i class="fa fa-asterisk text-danger"></i></span>
                   <input class="form-control" id="fos_user_change_password_form_plainPassword_first" type="password" placeholder="Nouveau mot de passe" required="required" name="fos_user_change_password_form[plainPassword][first]">
               </div>
         </div>
             
           <div class="form-group">
             <label class="required" for="fos_user_change_password_form_plainPassword_second">Resaisir nouveau mot de passe :</label>
             {% if form_errors(form.plainPassword) %}
                    <div class="input-group has-error has-feedback">
             {% else %}
                    <div class="input-group">
             {% endif %}
                        <span class="input-group-addon"><i class="fa fa-key"></i><i class="fa fa-asterisk text-danger"></i></span>
                   <input class="form-control" id="fos_user_change_password_form_plainPassword_second" type="password" placeholder="Resaisir nouveau mot de passe" required="required" name="fos_user_change_password_form[plainPassword][second]">
              </div>
         </div>
            
            
             
         {{form_row (form._token)}} 
             
        
       <div class="btn-group pull-right">
       <button type="submit" class="btn btn-success  pull-right" value="{{ 'profile.edit.submit'|trans }}">Modifier le mot de passe</button>
        <a class="btn btn-danger" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-power-off"></i> Retour</a> 
       </div>
   
    </form>
   
</div>

