{% extends "AeagAideBundle::layout.html.twig" %}


{%block panel_heading %}
    <h3 class="page-title">
       Critères de recherches
    </h3>
  {%endblock panel_heading %}

{%block content %}

        <form  class="form-horizontal small" role="form" action="{{ path('aeag_aide') }}"  id="idForm" method="post" {{ form_enctype(form) }}>
            

            {% spaceless %}
                     {% if not form.vars.valid %}
                             <div class="alert alert-danger">
                                {% for children in form.children %}
                                     {% if not children.vars.valid %}
                                         {{ form_errors(children) }}
                                    {% endif %}
                                 {% endfor %}
                             </div>
                     {% endif %}
            {% endspaceless %}
     
            <div class="form-group">
                    <label class="col-md-3 col-md-offset-1 left">Domaine d'intervention</label>
                    <div class="col-md-6 input-group">
                       {{ form_widget(form.ligne, { 'attr': {'class': 'form-control ', 'placeholder': 'Domaine d intervention'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-md-offset-1 left">Catégorie du bénéficiaire</label>
                    <div class="col-md-2 input-group">
                       {{ form_widget(form.cate, { 'attr': {'class': 'form-control ', 'placeholder': 'Catégorie du bénéficiaire'} }) }}
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-md-offset-1 left">Décision prise entre le 1er janvier </label>
                    <div class="col-md-2 input-group">
                        {{ form_widget(form.DebutAnnee, { 'attr': {'class': 'form-control ', 'placeholder': 'Annee début'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 col-md-offset-1 left"> et le 31 décembre </label>
                    <div class="col-md-2 input-group">
                      {{ form_widget(form.FinAnnee, { 'attr': {'class': 'form-control ', 'placeholder': 'Annee fin'} }) }}
                   </div>
                </div>
                   
                <div class="form-group">
                    <label  class="col-md-11 col-md-offset-1 left"><h3>Localisation de l'action</h3></label>
                </div>
                   
                <div class="form-group">
                    <label class="col-md-10 col-md-offset-1 left"><h4>Administrative</h4></label>
                </div>
                   
                <div class="form-group form-inline">
                    <label class="col-md-1 col-md-offset-1 left">Région</label>
                    <div class="col-md-3  input-group text-right">
                        <div id="regionmap" style="width: 200px; height: 200px;"></div>
                     </div>
                      <label class="col-md-1 col-md-offset-1 left">Département</label>
                      <div class="col-md-3 input-group text-left">
                        <div id="idDepartements">
                        {{ form_widget(form.departement, { 'attr': {'class': 'form-control ', 'placeholder': 'Département'} }) }}
                         </div>
                         <div id="region76map" style="width: 400px; height: 400px;"></div>
                     </div>
                   </div>  
                 
                   <label  class="col-md-1 col-md-offset-1 left">Ou</label>
                    <div class="col-md-4 input-group left">
                        {{ form_widget(form.regionAdmin, { 'attr': {'class': 'form-control ', 'placeholder': 'Région administrative'} }) }}
                     </div>
           
                   
                 <div class="form-group">
                    <label class="col-md-10 col-md-offset-2 left"><h4>Hydrographique</h4></label>
                </div>
                   
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-3 left">hydrographique</label>
                      <div class="col-md-4 input-group left">
                       {{ form_widget(form.regionHydro, { 'attr': {'class': 'form-control ', 'placeholder': 'Région hydrographique'} }) }}
                     </div>
                 </div> 

        
             <div class="form-group">
                <div class="col-md-offset-4 col-md-7">
                   <button id="btForm" type="submit" class="btn btn-success"><i class="fa fa-download"></i> Lancer la recherche</button>
                   {% if is_granted('ROLE_ADMIN') %}
                   <a class="btn btn-danger" href="{{ path('aeag_homepage') }}"><i class="fa fa-power-off"></i> Annuler</a>
                   {% else %}
                       <a id="btFermer" class="btn btn-danger" href="#"><i class="fa fa-power-off"></i> Annuler</a>
                   {% endif %}
                </div>
             </div>
                           
            <div class="hide">
              {{ form_rest(form) }}
            </div>
             
         </form>

       
              
{% endblock content %}

{% block scripts %}          
      
    
    
       $('#btFermer').click(function (e) {
           e.preventDefault();
           $('#criteres_ligne').val(null);
           $('#criteres_regionAdmin').val(null);
           $('#criteres_regionHydro').val(null);
            var requestData = {
            region :  $('#criteres_regionAdmin').val()
            }
            $.get( "{{path("AeagAideBundle_region_departements")}}", requestData , function( responseData ) { 
            $("#idDepartements" ).empty().html( responseData ); 
            $('#idAttente').hide();
            });
           window.setTimeout("window.close()", 1);
           return false;
      });
      
      $(document).on('change','#criteres_regionAdmin',function(){
            $('#idAttente').show();
             cache: false  
            var requestData = {
            region :  $('#criteres_regionAdmin').val()
            }
            $.get( "{{path("AeagAideBundle_region_departements")}}", requestData , function( responseData ) { 
            $("#idDepartements" ).empty().html( responseData ); 
            $('#idAttente').hide();
            });
    } );  
    
   	$(document).ready(function() {
                                      $('#region76map').hide();
		$('#regionmap').vectorMap({
		    map: 'france_fr',
			hoverOpacity: 0.5,
			hoverColor: "#426cfa",
			backgroundColor: "#ffffff",
			color: "#abbdfd",
			borderColor: "#000000",
			selectedColor: "#426cfa",
			enableZoom: false,
			showTooltip: true,
		    onRegionClick: function(element, code, region)
		    {
		         $('#idAttente').show();
                                                $('#criteres_regionAdmin').val(code);
                                                cache: false  
                                               var requestData = {
                                               region :  code
                                               }
                                               $.get( "{{path("AeagAideBundle_region_departements")}}", requestData , function( responseData ) { 
                                               $("#idDepartements" ).hide(); 
                                               $('#region76map').empty().show().html( responseData ); 
                                               $('#idAttente').hide();
                                               });
                        
		    }
		});
	});

      
{% endblock scripts %}