{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li class="active">
        Export des données brutes
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
    <h3 class="page-title">
        Export des données brutes
    </h3>
{%endblock panel_heading %}

{%block content %}
    <form class="form"  id="idForm" role="form" action="{{path('AeagSqeBundle_exportdonneesbrutes_index')}}" method="post">
         <div class="form-group">
            <label class="col-xs-3 control-label">Type de milieu</label>
            <div class="col-xs-8 input-group">
                <select id="codemilieu" name="codemilieu" class="form-control">
                    {% for typeMilieu in typesMilieux %}
                        <option value="{{typeMilieu.codeMilieu}}"
                        {%if codemilieuVal != '' and codemilieuVal == typeMilieu.codeMilieu%}
                            selected="selected"
                        {%endif%}
                        >{{typeMilieu.nomMilieu}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>     
        <div class="form-group">
            <label class="col-xs-3 control-label">Zone(s) géographique(s) *</label>
            <div class="col-xs-8 input-group">
                <select name="zgeorefs[]" id="zgeorefs" class="form-control" multiple>
                </select>
            </div>
        </div>
        <div class="form-group">        
            <div class="form-group row">
                <label for="datedeb" class="control-label col-xs-3">Prélèvements effectués entre le </label>
                <div class="col-xs-2">
                    <input name="datedeb" id="datedeb" class="form-control datetime-calendar-form" type="date" placeholder = "Date de début" value="{{datedeb}}"/>       
                </div>
                <label for="datefin" class="control-label col-xs-1">et le </label>
                <div class="col-xs-2">
                    <input name="datefin" id="datefin" class="form-control datetime-calendar-form" type="date" placeholder = "Date de fin" value="{{datefin}}"/>      
                </div>
            </div> 
        </div>
        <button type="submit" id="btn-submit" class="btn btn-default">Exporter</button>
        <br/><br/><i>(*) Utiliser la touche Ctrl pour en sélectionner plusieurs</i><br/>
        
    </form>
{%endblock content %}    

{% block scripts %}
    var dateJour = new Date();

    $('#datedeb').datepicker({
        allowInputToggle: false,
        format: 'dd/mm/yyyy',
        autoclose: true,
        defaultDate: $('#datedeb').val(),
    });
    
    var month = dateJour.getMonth()+1;
    if (month < 10) {
        month = '0'+month;
    }
    var day = dateJour.getDate();
    if (day < 10) {
        day = '0'+day;
    }
    
    $('#datefin').datepicker({
        allowInputToggle: false,
        format: 'dd/mm/yyyy',
        autoclose: true,
        startDate: $('#datedeb').val(),
        defaultDate: $('#datefin').val()
    });
    
    $('#datedeb').datepicker().on('changeDate', function(ev){
        $('#datefin').datepicker('setStartDate',$('#datedeb').val() ) ;
    });
    
    $('#btn-submit').click(function(){
        if ($('#zgeorefs').val() == null) {
            alert('Veuillez saisir au moins une zone géographique');
            return;
        } else {
            $('#modalTraitementEncours').modal();
        }
    });
    
    getGeoRefValues($('#codemilieu').val());
    
    $('#codemilieu').change(function(){
        getGeoRefValues($(this).val());
    });
    
    function getGeoRefValues(codemilieu) {
        var zgeorefVals = '{{ zgeorefVals }}';
        var zgeorefTab = zgeorefVals.split(',');
    
        $.ajax({url: "{{ path('AeagSqeBundle_exportdonneesbrutes_zonegeo') }}", 
                method: "GET",
                data: { codemilieu: codemilieu, user: {{ webUser.id }}},
                success: function (results) {
                    window.console.log(results);
                    var tabs = JSON.parse(results);
                    var html = '';
                    for (var tab in tabs) {
                        html += '<option id="opt_'+tab+'" value="'+tab+'">'+tabs[tab]+'</option>';
                    }
                    $('#zgeorefs').empty().html(html);
                    for (var tab in tabs) {
                        for(i = 0; i < zgeorefTab.length; i++) {
                            if (tab == zgeorefTab[i]) {
                                $('#opt_'+tab).attr('selected','selected');
                            }
                        }
                    }
                    
                }
        });
    }
    
    
{%endblock scripts %}    