{% extends "AeagDecBundle::layout.html.twig" %}

{% block breadcrumb %}
          <li>
          <i class="icon-home"></i>
          <a href="{{ path('aeag_homepage') }}">Accueil</a> 
       </li>
       <li class="active">
           Centres de transit
       </li>
 {% endblock breadcrumb %}
       
 {%block panel_heading %}
       <h3>
          Liste des centres de transit
          <a class="btn btn-primary pull-right" href="{{ path('AeagDecBundle_admin_pdfListeCentresTransits') }}" title="Imprimer la liste"> 
             <i class="fa fa-print"> Imprimer la liste</i>
         </a>
      </h3>
    {%endblock panel_heading %}

  {%block content %}
       <div class="row">
          <div class="col-md-12">
              <div class="small ">
                  <table class="table table-bordered table-condensed table-advance" id="idTable">
                        <thead>
                           <tr>
                                <th width="1%">Action</th>
                                <th>Numéro</th>
                                <th>Siret</th>
                                <th>Libelle</th>
                                <th>Déchet aidable</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                {%if  entity.dec == 'N' %}
                                    <tr style="background-color:#f2dede;">
                                {%else%}
                                    <tr>
                                {%endif%}
                                     <td nowrap>
                                       <a class="btn btn-info" href="{{ path('AeagDecBundle_collecteur_consulterCentreTransit', { 'id': entity.id }) }}"  title="Consulter">
                                          <i class="fa fa-eye"></i> 
                                       </a>
                                        <a class="btn btn-warning" href="{{ path('Aeag_majOuvrage', { 'id': entity.id }) }}" title="Editer">
                                          <i class="fa fa-edit"></i> 
                                       </a>
                                     </td>
                                    <td>{{ entity.numero }}</td>
                                    <td>{{ entity.siret }}</td>
                                    <td>{{ entity.libelle }}</td>
                                    <td align="center">{{ entity.dec }}</td>
                                  </tr>
                             {% endfor %}
                        </tbody>
                     </table>
            </div>
          </div>
        </div>
     {%endblock content %}
 
{% block scripts %}
     
       // DataTable
          var table = $('#idTable').DataTable(
                      {"stateSave": true,
                       "oLanguage": {
                          "sSearch": "Filtre",
                          "sFirst": "1ere page",
                          "sLast": "Dernière page",
                          "sNext": "Prochaine page",
                          "sPrevious": "Page précédente",
                          "EmptyTable": "Pas de données",
                          "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                          "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                          "sZeroRecords": "Pas d'enregistrement à afficher",
                          "sInfoEmpty": "Pas d'enregistrement à afficher",
                          "sInfoThousands": " ",
                          "sLengthMenu": 'Afficher <select>' +
                                  '<option value="10">10</option>' +
                                  '<option value="20">20</option>' +
                                  '<option value="30">30</option>' +
                                  '<option value="40">40</option>' +
                                  '<option value="50">50</option>' +
                                  '<option value="-1">Tous</option>' +
                                  '</select> enregistrements',
                          "sPaginationType": "full_numbers"
                      }
                     }
                    );
   {% endblock scripts %}  
   