{% extends "AeagUserBundle::layout.html.twig" %}

{% block breadcrumb %}
      <li>
          <a href="{{ path('aeag_homepage') }}">Accueil</a> 
      </li>
       <li class="active">
         Liste utilisateurs
       </li>
   {% endblock breadcrumb %}
      
   {% block panel_heading %}
        <h3>
       Liste des utilisateurs
       </h3>
   {% endblock panel_heading %}


 {%block content %}
   
       <div class="row">
           <div class="offset3 col-xm9">
                <a class="btn btn-success" href="{{ path('AeagUserBundle_User_new') }}" title="Ajouter">
                      <i class="fa fa-plus"> Nouveau</i>
                </a>
               <a class="btn btn-info" href="{{ path('Aeag_envoyerMessageAll') }}" title="message à tous les utilisateurs">
                      <i class="fa fa-inbox"> Message à tous les utilisateurs</i>
                </a>
          </div>
       </div>
     
       <div class="row">
          <div class="col-xm-12">
              <div class="small ">
                  <table class="table table-bordered table-striped table-condensed table-advance table-hover" id="idTable">
                        <thead>
                           <tr>
                                <th width="1%">Actions</th>
                                <th>Identifiant</th>
                                <th>Nom</th>
                                <th>Ville</th>
                                <th>Autoriser</th>
                                <th>Rôles</th>
                                <th>dernière connexion</th>
                           </tr>
                         </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                     <td nowrap>
                                       <a class="btn btn-warning" href="{{ path('AeagUserBundle_User_edit', { 'id': entity.0.id }) }}" title="Editer">
                                          <i class="fa fa-edit"></i> 
                                       </a>
                                       <a class="btn btn-info" href="{{ path('Aeag_envoyerMessage', { 'id': entity.0.id }) }}" title="Message">
                                          <i class="fa fa-inbox"></i> 
                                       </a>
                                     </td>
                                    <td>{{ entity.0.username  }}</td>
                                    <td>
                                        {%if entity.1%}
                                         {{ entity.1.adr1 }}  {{ entity.1.adr2 }}
                                        {%endif%}
                                    </td>
                                    <td>
                                        {%if entity.1%}
                                            {{ entity.1.cp }} {{ entity.1.ville }}
                                        {%endif%}     
                                    </td>
                                    <td>{% if entity.0.enabled %} {{ 'Oui' }} {% else %} {{ 'Non' }} {% endif %}</td>
                                     <td>
                                     {% for key, role in entity.0.roles %}
                                         {% if role == 'ROLE_ADMIN' %} {{'Gestionnaire Site'}} {% endif %}
                                         {% if role == 'ROLE_ADMINDEC' %} {{'Gestionnaire Déchet'}} {% endif %}
                                         {% if role == 'ROLE_ADMINFRD' %} {{'Gestionnaire Frd'}} {% endif %}
                                         {% if role == 'ROLE_ADMINSQE' %} {{'Gestionnaire Sqe'}} {% endif %}
                                         {% if role == 'ROLE_ADMINEDL' %} {{'Gestionnaire Edl'}} {% endif %}
                                         {% if role == 'ROLE_ODEC' %} {{'Collecteur Déchet'}} {% endif %}
                                         {% if role == 'ROLE_FRD' %} {{'Membre Frd'}} {% endif %}
                                         {% if role == 'ROLE_SQE' %} {{'Intervenant Sqe'}} {% endif %}
                                         {% if role == 'ROLE_COMMENTATEUREDL' %} {{'Commentateur Edl'}} {% endif %}
                                         {% if role == 'ROLE_SUPERVISEUREDL' %} {{'Superviseur Edl'}} {% endif %}
                                    {% endfor %}
                                     </td>
                                    <td>{% if entity.0.lastLogin %}{{ entity.0.lastLogin|date('d/m/Y H:i:s') }}{% endif%}</td>
                                 </tr>
                            {% endfor %}
                        </tbody>
                     </table>
            </div>
          </div>
        </div>
  {%endblock content %}
 
  {% block scripts %}
      jQuery(document).ready(function() {
        var table = $('#idTable').DataTable(
            {"stateSave": true,
             "order": [[ 1, "asc" ]],
            "language": {
                                 "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                             },
            "aLengthMenu": [
                                [10, 25, 50, 100, -1],
                                [10, 25, 50, 100, "Tous"]
                            ],
             "iDisplayLength": 10
           });
    });
   {% endblock scripts %}
