{% extends "AeagUserBundle::layout.html.twig" %}

{% block breadcrumb %}
      <li>
          <a href="{{ path('aeag_homepage') }}">Accueil</a> 
      </li>
       <li class="active">
         Liste utilisateurs
       </li>
   {% endblock breadcrumb %}
      
   {% block panel_heading %}
        <h3>
       Liste des utilisateurs
       </h3>
   {% endblock panel_heading %}


 {%block content %}
   
       <div class="row">
           <div class="offset3 col-xm9">
                <a class="btn btn-success" href="{{ path('AeagUserBundle_User_new') }}" title="Ajouter">
                      <i class="fa fa-plus"> Nouveau</i>
                </a>
               <a class="btn btn-info" href="{{ path('Aeag_envoyerMessageAll') }}" title="message à tous les utilisateurs">
                      <i class="fa fa-inbox"> Message à tous les utilisateurs</i>
                </a>
          </div>
       </div>
     
       <div class="row">
          <div class="col-xm-12">
              <div class="small ">
                  <table class="table table-bordered table-striped table-condensed table-advance table-hover" id="idTable">
                        <thead>
                           <tr>
                                <th width="1%">Actions</th>
                                <th>Identifiant</th>
                                <th>Nom</th>
                                <th>Ville</th>
                                <th>Autoriser</th>
                                <th>Rôles</th>
                                <th>dernière connexion</th>
                           </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                     <td nowrap>
                                       <a class="btn btn-warning" href="{{ path('AeagUserBundle_User_edit', { 'id': entity.0.id }) }}" title="Editer">
                                          <i class="fa fa-edit"></i> 
                                       </a>
                                       <a class="btn btn-info" href="{{ path('Aeag_envoyerMessage', { 'id': entity.0.id }) }}" title="Message">
                                          <i class="fa fa-inbox"></i> 
                                       </a>
                                     </td>
                                    <td>{{ entity.0.username  }}</td>
                                    <td>
                                        {%if entity.1%}
                                         {{ entity.1.adr1 }}  {{ entity.1.adr2 }}
                                        {%endif%}
                                    </td>
                                    <td>
                                        {%if entity.1%}
                                            {{ entity.1.cp }} {{ entity.1.ville }}
                                        {%endif%}     
                                    </td>
                                    <td>{% if entity.0.enabled %} {{ 'Oui' }} {% else %} {{ 'Non' }} {% endif %}</td>
                                     <td>
                                     {% for key, role in entity.0.roles %}
                                         {% if role == 'ROLE_ADMIN' %} {{'Gestionnaire Site'}} {% endif %}
                                         {% if role == 'ROLE_ADMINDEC' %} {{'Gestionnaire Déchet'}} {% endif %}
                                         {% if role == 'ROLE_ADMINFRD' %} {{'Gestionnaire Frd'}} {% endif %}
                                         {% if role == 'ROLE_ADMINSQE' %} {{'Gestionnaire Sqe'}} {% endif %}
                                         {% if role == 'ROLE_ODEC' %} {{'Collecteur Déchet'}} {% endif %}
                                         {% if role == 'ROLE_FRD' %} {{'Membre Frd'}} {% endif %}
                                         {% if role == 'ROLE_SQE' %} {{'Intervenant Sqe'}} {% endif %}
                                    {% endfor %}
                                     </td>
                                    <td>{% if entity.0.lastLogin %}{{ entity.0.lastLogin|date('d/m/Y H:i:s') }}{% endif%}</td>
                                 </tr>
                            {% endfor %}
                        </tbody>
                     </table>
            </div>
          </div>
        </div>
  {%endblock content %}
 
  {% block scripts %}
   
      // DataTable
          var table = $('#idTable').DataTable(
                      {"stateSave": true,
                       "oLanguage": {
                          "sSearch": "Filtre",
                          "sFirst": "1ere page",
                          "sLast": "Dernière page",
                          "sNext": "Prochaine page",
                          "sPrevious": "Page précédente",
                          "EmptyTable": "Pas de données",
                          "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                          "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                          "sZeroRecords": "Pas d'enregistrement à afficher",
                          "sInfoEmpty": "Pas d'enregistrement à afficher",
                          "sInfoThousands": " ",
                          "sLengthMenu": 'Afficher <select>' +
                                  '<option value="10">10</option>' +
                                  '<option value="20">20</option>' +
                                  '<option value="30">30</option>' +
                                  '<option value="40">40</option>' +
                                  '<option value="50">50</option>' +
                                  '<option value="-1">Tous</option>' +
                                  '</select> enregistrements',
                          "sPaginationType": "full_numbers"
                      }
                     }
                    );
       
  
    $("#idTable thead td").each( function ( i ) {
    
     if (i != 0){
        var select = $('<select><option value=""></option></select>')
            .appendTo( $(this).empty() )
            .on( 'change', function () {
                table.column( i )
                    .search( $(this).val() )
                    .draw();
            } );
 
        table.column( i ).data().unique().sort().each( function ( d, j ) {
            select.append( '<option value="'+d+'">'+d+'</option>' )
        } );
        };
    } );
   
   {% endblock scripts %}
