 {% extends 'AeagDecBundle::layout.html.twig' %}

{% block titre %}Aide à l'élimination des déchets industriels {% endblock titre %}

 {% block menu %}
    {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('aeag_homepage') }}"><i class="fa fa-home"></i>&nbsp; Acceuil</a></li>
    {% else %}
          <li><a href="{{ path('aeag_dec') }}"><i class="fa fa-home"></i>&nbsp; Acceuil</a></li>
    {% endif %}
     
    {%if app.session.get('menu') == 'declarations'%}
        <li  id="idDeclarations" class="active">
            <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
                <span class="selected"></span>
                Déclarations
                <i class="fa fa-angle-down"></i>     
            </a>
     {%else%}
        <li  id="idDeclarations">
            <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
                Déclarations
                <i class="fa fa-angle-down"></i>     
            </a>
     {%endif%}
            <ul class="dropdown-menu">
                            {% for annee in app.session.get('annees') %}
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                                      {{ annee.annee}}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_listeDeclarationCollecteurs', { 'annee': annee.annee, 'statut': '99' }) }}">
                                Toutes
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_listeDeclarationCollecteurs', { 'annee': annee.annee, 'statut': '20' }) }}">
                                Conformes
                            </a>
                        </li> 
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_listeDeclarationCollecteurs', { 'annee': annee.annee, 'statut': '21' }) }}">
                                Non conformes
                            </a>
                        </li> 
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_listeDeclarationCollecteurs', { 'annee': annee.annee, 'statut': '22' }) }}">
                                Pré-validées
                            </a>
                        </li> 
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_listeDeclarationCollecteurs', { 'annee': annee.annee, 'statut': '30' }) }}">
                                Validées
                            </a>
                        </li> 
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_listeDeclarationCollecteurs', { 'annee': annee.annee, 'statut': '40' }) }}">
                                Transferées
                            </a>
                        </li> 
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_listeDeclarationCollecteurs', { 'annee': annee.annee, 'statut': '50' }) }}">
                                Traitées
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_listeDeclarationCollecteurs', { 'annee': annee.annee, 'statut': '60' }) }}">
                                Payées
                            </a>
                        </li> 
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_majCompteurs', { 'annee': annee.annee }) }}">
                                Mise à jours des compteurs
                            </a>
                        </li> 
                    </ul>
                </li>
                           {% endfor %}
            </ul> 
        </li>
            
       
   {%if app.session.get('menu') == 'parametres'%}
        <li class="active">
            <a href="{{ path('AeagDecBundle_admin_parametres') }}">
                <span class="selected"></span>
                Paramètres
            </a>
        </li>
   {%else%}
        <li>
            <a href="{{ path('AeagDecBundle_admin_parametres') }}">
                Paramètres
            </a>
        </li>
    {%endif%}
       
    {%if app.session.get('menu') == 'referentiel'%}   
        <li class="active">
            <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
                <span class="selected"></span>
                Référentiel
                <i class="fa fa-angle-down"></i>     
            </a>
    {%else%}
        <li>
            <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
                Référentiel
                <i class="fa fa-angle-down"></i>     
            </a>
     {%endif%}
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                        Importer
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_chargeReferentiel') }}">
                                Référentiel
                            </a>
                        </li>  
                        <li>
                            <a href="{{ path('AeagDecBundle_admin_chargeDeclaration') }}">
                                Déclarations
                            </a>
                        </li> 
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                        Consulter
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('AeagDecBundle_admin_listeTaux') }}">Taux</a></li>
                        <li><a href="{{ path('AeagDecBundle_admin_listeDechet') }}">Codes déchets</a></li>
                        <li><a href="{{ path('AeagDecBundle_admin_listeFiliere') }}">Filières</a></li>
                        <li><a href="{{ path('Aeag_listeOuvrage') }}">Ouvrages</a></li>
                        <li><a href="{{ path('AeagDecBundle_admin_listeNaf') }}">Codes NAF</a></li>
                        <li><a href="{{ path('Aeag_listeDepartement') }}">Départements</a></li>
                        <li><a href="{{ path('Aeag_listeCommune') }}">Communes</a></li>
                        <!--<li><a href="{{ path('AeagDecBundle_admin_listeOperation') }}">Types opération</a></li>-->
                        <li><a href="{{ path('AeagDecBundle_admin_listeProducteurNonPlafonne') }}">Producteurs non plafonnés</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    {%if app.session.get('menu') == 'acteurs'%}  
        <li class="active">
            <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
                <span class="selected"></span>
                Acteurs
                <i class="fa fa-angle-down"></i>     
            </a>
     {%else%}
        <li>
            <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
                Acteurs
                <i class="fa fa-angle-down"></i>     
            </a>   
     {%endif%}
            <ul class="dropdown-menu">
                <li><a href="{{ path('AeagUserBundle_User') }}">Users</a></li>
                <li><a href="{{ path('Aeag_listeCorrespondants') }}">Correspondants</a></li>
                <li><a href="{{ path('AeagDecBundle_admin_listeCollecteurs') }}">Collecteurs</a></li>
                <li><a href="{{ path('AeagDecBundle_admin_listeCentresTransits') }}">Centres de transit</a></li>
                <li><a href="{{ path('AeagDecBundle_admin_listeCentresTraitements') }}">Centres de traitement</a></li>
                <li><a href="{{ path('AeagDecBundle_admin_listeProducteurs') }}">Producteurs</a></li>
            </ul>
        </li>
    {%if app.session.get('menu') == 'aide'%}
        <li class="active">
            <a href="{{ path('AeagDecBundle_admin_aide') }}">
                <i class="fa fa-question"></i> 
                <span class="selected"></span>
            </a>
        </li>
    {%else%}
        <li>
            <a href="{{ path('AeagDecBundle_admin_aide') }}">
                <i class="fa fa-question"></i> 
            </a>
        </li>
   {%endif%}
{% endblock menu %}
        
 {% block javascripts %}
        {{ parent() }}
 {% endblock javascripts %}
