{% extends "AeagEdlBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('Aeag_edl') }}">Accueil</a> 
    </li>
    <li>
       <a href="{{ path('AeagEdlBundle_listeMasseEau') }}">Résultat</a> 
    </li>
     <li class="active">
         {{ me.euCd }}
    </li>
{% endblock breadcrumb %}

{% block modal %}
    <div class="modal fade" id="modal-historique">
        <div class="modal-dialog modal-window">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >Historique</h4>
                </div>
                <div class="modal-body">
                    {% if avisHistorique %}
                        {{ avisHistorique.avis | nl2br }}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Fermer</button>
                </div>
            </div>
        </div>
    </div>  
                    
   <div class="modal fade" id="modalPressionEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><div class="label label-primary">Proposer une nouvelle évaluation</div></h4>
        </div>
        <div id="idPressionEdit" class="modal-body"></div>
        <div class="modal-footer">
          <button id="annuler" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <button  id="valider" type="button" class="btn btn-primary">valider</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
{% endblock modal %}

{%block panel_heading %}
     <div class="row">
            <div class="col-md-offset-3 col-md-7">
                    <h3 class="page-title">
                        Masse d'eau {{ me.euCd }}
                    </h3>
            </div>
    </div>
   
{%endblock panel_heading %}


{% block content %}
  
    <div class="row">
        <h2 class="text-center">{{ me.nomMasseEau }}</h2>
        <div class="col-sm-offset-5  col-sm-2">
            <img class="img-responsive" alt="Responsive image" width="100px" height="100px" src="http://adour-garonne.eaufrance.fr/porteau/index.php/carto/vignetteMasdo?id={{ me.euCd }}"/>
        </div>
        <div class="col-sm-4">
            </br>
            <a  TARGET="_blanck" href="http://adour-garonne.eaufrance.fr/massedeau/{{me.euCd}}">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-eye"> Voir la fiche sur le portail de bassin</i>
                </button>
            </a>
            </br></br>
            <a class="btn btn-warning" data-toggle="modal" href="#modal-historique" title="Historique">
                <i class="fa fa-archive"> Historique</i>
             </a>
           </div> 
    </div>
                     
      </br>
      
      <div class="row">
     <div class="col-sm-2 col-sm-push-10">
             <a  href="{{ path('AeagEdlBundle_etatGroupe', {'code':me.euCd}) }}">
                <button type="button" class="btn btn-default">
                    Etats
                </button>
            </a>
            <a  href=#">
                <button type="button" class="btn btn-success">
                    Pressions
                </button>
            </a>
        </div>
    </div>
    
                  
     </br>

          <div class="panel panel-primary">
            <div class="panel-heading">
                 <div class="row">
                     <div class="col-sm-10">
                                <h3 class="panel-title">Pressions sur la masse d'eau  {{ me.euCd }}</h3>
                     </div>
                    <div class="col-sm-2  pull-left">
                            <a id="expandAll" href="#" class="btn btn-primary" role="button"><i class="fa fa-expand"></i></a>
                            <a id="collapseAll" href="#" class="btn btn-primary" role="button"><i class="fa fa-compress"></i></a>
                    </div>
                 </div>
            </div>
            <div class="panel-body">
                    <!-- --------------------------------- PRESSIONS ----------------------------------------- -->        
                    <div id="tabPressions">
                        <input type='hidden' id='euCd' value="{{ me.euCd }}" />
                        <br>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          {% for pressionGroupe in pressionGroupes %}
                              {#{{ render(controller('AeagEdlBundle:Default:pression', {'code': me.euCd, 'cdGroupe': pressionGroupe.cdGroupe})) }}#}
                              {% if pressionGroupe.nbPressions > 0 %} 
                                            <div class="panel panel-primary">
                                                <div class="panel-heading" role="tab" id="heading{{pressionGroupe.pressionGroupe.cdGroupe }}">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ pressionGroupe.pressionGroupe.cdGroupe }}" aria-expanded="true" aria-controls="collapse{{ pressionGroupe.pressionGroupe.cdGroupe }}">
                                                            {{pressionGroupe.pressionGroupe.libelle}}  
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse{{ pressionGroupe.pressionGroupe.cdGroupe }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ pressionGroupe.pressionGroupe.cdGroupe }}">
                                                    <div class="panel-body">

                                                         {% for tabPression in pressionGroupe.pressions %} 
                                                                <div class="row" id="row-{{ pressionGroupe.pressionGroupe.cdGroupe }}-{{ tabPression.pression.euCd }}-{{ tabPression.pression.cdPression }}">
                                                                     <table class="table table-bordered table-advance" id='idtable-{{ tabPression.pression.euCd }}-{{ tabPression.pression.cdPression }}'>
                                                                                   <tr class="info">
                                                                                       <td>
                                                                                           {% if  is_granted("ROLE_COMMENTATEUREDL") %}
                                                                                                            <a id="newPression-{{ pressionGroupe.pressionGroupe.cdGroupe }}-{{ tabPression.pression.euCd }}-{{ tabPression.pression.cdPression }}" title="Proposer une nouvelle évaluation" cdPression="{{ tabPression.pression.cdPression }}">
                                                                                                                <button type="button" class="btn btn-primary"><i class="fa fa-commenting"></i></button> 
                                                                                                           </a>
                                                                                          {% else %}
                                                                                              &nbsp;
                                                                                         {% endif %}
                                                                                       </td>
                                                                                       <td class="text-nowrap">
                                                                                              <input type='hidden' id='UrlActuel' value="{{ path('AeagEdlBundle_pression', { 'code': tabPression.pression.euCd }) }}" /> 
                                                                                             <input type='hidden' id='newPressionRoute' value="{{ path('AeagEdlBundle_pressionForm') }}" /> 
                                                                                             {{ tabPression.pression.type.libelle }} 
                                                                                       </td>
                                                                                       <td class="text-nowrap">
                                                                                             SDAGE 2016 : <span class="dce_pression_{{ tabPression.pression.valeur }}">{{ tabPression.pression.getValueLib() }}</span>
                                                                                        </td>
                                                                                       <td id="td-{{ pressionGroupe.pressionGroupe.cdGroupe }}-{{ tabPression.pression.euCd }}-{{ tabPression.pression.cdPression }}" class="text-nowrap">
                                                                                              {% if tabPression.derniereProp %}
                                                                                                      Proposition :<span class="dce_pression_{{ tabPression.derniereProp.valeur }}"> {{ tabPression.derniereProp.getValueLib() }}</span>
                                                                                              {% else %}
                                                                                                     Proposition :
                                                                                             {% endif %}
                                                                                       </td>
                                                                                </tr>
                                                                               <tr>
                                                                                    <td></td>
                                                                                   <td colspan='3' id="divPression-{{ pressionGroupe.pressionGroupe.cdGroupe }}-{{ tabPression.pression.euCd }}-{{ tabPression.pression.cdPression }}">
                                                                                             {{ render(controller('AeagEdlBundle:Pression:pressionListProposed', {'euCd':tabPression.pression.euCd, 'cdPression':tabPression.pression.cdPression})) }}
                                                                                     </td>
                                                                               </tr>
                                                                     </table>
                                                                </div>
                                                        {% endfor %}
                                                      </div>
                                                </div>
                                            </div>    
                                        {% endif %} 
                            {% endfor %}
                        </div>
                        <br><br>
                        <div align="center">
                            <a  href="{{ path('AeagEdlBundle_listeMasseEau') }}">
                               <button type="button" class="btn btn-primary"><i class="fa fa-undo"></i> retour</button>
                             </a>
                        </div>
                </div>    
            </div>
          </div>

{% endblock %}

{% block scripts %}
    
           $('#expandAll').hide();
            $('#collapseAll').show();          

           $('#expandAll').on('click',function(){
                   {% for pressionGroupe   in  pressionGroupes %}
                           $('#collapse{{ pressionGroupe.pressionGroupe.cdGroupe }}').collapse('show');
                     {% endfor %}
                      $('#expandAll').hide();
                      $('#collapseAll').show();
               });

           $('#collapseAll').on('click',function(){
                    {% for pressionGroupe   in  pressionGroupes %}
                           $('#collapse{{ pressionGroupe.pressionGroupe.cdGroupe }}').collapse('hide');
                       {% endfor %}
                      $('#expandAll').show();
                      $('#collapseAll').hide();
           });
           
           {% for pressionGroupe   in  pressionGroupes %}
                {% for tabPression in pressionGroupe.pressions %}
                        // Sur clic "Proposer un nouvel pression"
                        $('#newPression-{{ pressionGroupe.pressionGroupe.cdGroupe }}-{{ tabPression.pression.euCd }}-{{ tabPression.pression.cdPression }}').click(function(e){
                           e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                          $('#modalTraitementEncours').modal('toggle');
                            //conserver l'url actuel
                            var $urlActuel = $('input#UrlActuel').val();
                            // obtenir l'url
                            var $url = $('input#newPressionRoute').val();
                            // conserver l'id du div qui hébergera le formulaire de saisie
                             idTr = '#row-{{ pressionGroupe.pressionGroupe.cdGroupe }}-{{ tabPression.pression.euCd }}-{{ tabPression.pression.cdPression }}';
                             $.post($url,
                                    {
                                        euCd: "{{ tabPression.pression.euCd }}",
                                        cdPression: "{{ tabPression.pression.cdPression }}",
                                        cdGroupe: "{{ pressionGroupe.pressionGroupe.cdGroupe }}"
                                    },
                            function (data) {
                                $('#idPressionEdit').empty().append(data);
                                $('#modalTraitementEncours').modal('hide');
                                $('#modalPressionEdit').modal();
                            }
                            ).error(function () {
                                alert("Erreur non déterminée");
                            });

                        });
                {% endfor %}
            {% endfor %}
           
              
{%endblock scripts %}    