{% if nbPressions > 0 %} 
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{pressionGroupe.cdGroupe }}">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ pressionGroupe.cdGroupe }}" aria-expanded="true" aria-controls="collapse{{ pressionGroupe.cdGroupe }}">
                    {{pressionGroupe.libelle}}  
                </a>
            </h4>
        </div>
        <div id="collapse{{ pressionGroupe.cdGroupe }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ pressionGroupe.cdGroupe }}">
            <div class="panel-body">
                <div class="row row-border">
                    {% if  is_granted("ROLE_COMMENTATEUREDL") %}
                    <div class="col-sm-1 alert  alert-info">Action</div>
                    {% endif %}
                    <div class="col-sm-5 alert  alert-info">Libelle</div>
                    <div class="col-sm-3 alert  alert-info">Valeur provisoire</div>   
                    <div class="col-sm-3 alert  alert-info">Proposition STL</div>
                
                {% for pression in pressions %}
                    <div id="divPression-{{ pression.euCd }}-{{ pression.cdPression }}" >
                        {{ render(controller('AeagEdlBundle:Pression:pressionListProposed', {'euCd':pression.euCd, 'cdPression':pression.cdPression})) }}
                    </div>     
                    </br>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>    
{% endif %} 


