
    {% if pression.proposed|length > 0 %} 
           <div class="row " id="rowProposed-titre-{{ pression.euCd }}-{{ pression.cdPression }}">
               {% if  is_granted("ROLE_COMMENTATEUREDL") %}
                    <div class=" col-sm-offset-1  col-sm-1 alert alert-warning">Action</div>
                    <div class="col-sm-2 alert alert-warning">Date</div>
                    {% else %}
                     <div class="col-sm-offset-1 col-sm-2 alert alert-warning">Date</div>   
                {% endif %}
                    <div class="col-sm-2 alert alert-warning">Auteur</div>   
                   <div class="col-sm-3 alert alert-warning">Commentaire</div>
                   <div class="col-sm-3 alert alert-warning">Pression  proposée</div>  
                 </div>
          {% set i = 1 %}
          {% for pp in pression.proposed %}
                    <div class="row" id="rowProposed-ligne-{{ pression.euCd }}-{{ pression.cdPression }}-{{ i }}">
                        {% if  is_granted("ROLE_COMMENTATEUREDL") %}
                            <div class="  col-sm-offset-1  col-sm-1">
                                 {% if  is_granted("ROLE_COMMENTATEUREDL") and  pp.role ==  'local' and pp.utilisateur.id == user.id %} 
                                  <a id="removePression-{{ pression.euCd }}-{{ pression.cdPression }}-{{ i }}"  title="Supprimer cette proposition" login="{{ pp.utilisateur.id }}" propositionDate="{{ pp.propositionDate }}">
                                            <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i> </button>
                                   </a>
                                 {% elseif  is_granted("ROLE_SUPERVISEUREDL") %}
                                    <a id="removePression-{{ pression.euCd }}-{{ pression.cdPression }}-{{ i }}" title="Supprimer cette proposition" login="{{ pp.utilisateur.id }}" propositionDate="{{ pp.propositionDate }}">
                                            <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i> </button>
                                     </a>
                               {% endif %}
                            </div>
                             <div class="col-sm-2">
                                {{ pp.propositionDate }}
                            </div>
                            {% else %}
                               <div class="col-sm-offset-1 col-sm-2">
                                {{ pp.propositionDate }}
                            </div> 
                         {% endif %}
                          
                           <div class="col-sm-2">
                                  {% if pp.role == 'local' %}
                                   Acteur local : {{ pp.utilisateur.username }}
                                    {% else %}
                                    Expert : {{ pp.utilisateur.username }}
                                    {% endif %}
                           </div>   
                           <div class="col-sm-3">
                               {{ pp.commentaire }}
                           </div>
                           <div class="col-sm-3">
                               <span class="dce_pression_{{ pp.valeur }}">{{ pp.getValueLib() }}</span>
                           </div>  
                   </div>
                    </br>
                   {% set i = i + 1 %}
         {% endfor %}
   
     {% endif %}
 
 

  <script type="text/javascript" src="{{ asset('bundles/aeagaeag/bootstrap/js/jquery-2.1.4.js') }}"> </script> 
  <script type="text/javascript">
            
        {% set i = 1 %}
         {% for pp in pression.proposed %}
               $('#removePression-{{ pression.euCd }}-{{ pression.cdPression }}-{{ i }}').click(function (e) {
                e.preventDefault();
                // obtenir l'url
                var $url = "{{ path('AeagEdlBundle_removePression') }}";
                idTr = '#rowProposed-ligne-{{ pression.euCd }}-{{ pression.cdPression }}-{{ i }}';
                 // lancer la requête ajax  
                $.post($url,
                        {
                            euCd: "{{ pression.euCd }}",
                            cdPression: "{{ pression.cdPression }}",
                            login: $(this).attr('login'),
                            propositionDate: $(this).attr('propositionDate')
                        },
                function (data) {
                    // placer le formulaire sous le div
                    $(idTr).remove();
                   {% if  i == 1 %}
                            idTr = '#rowProposed-titre-{{ pression.euCd }}-{{ pression.cdPression }}';
                            $(idTr).remove();
                    {% endif %}
                     idTr = '#divPression-{{ pression.euCd }}-{{ pression.cdPression }}';
                    $(idTr).html(data);
                    
                     }
                ).error(function () {
                    // rétablir curseur
                    alert("Erreur non déterminée");
                });
            });
             {% set i = i + 1 %}
          {% endfor %}
    
    </script>





