{% extends "AeagEdlBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('Aeag_edl') }}">Accueil</a> 
    </li>
    <li>
       <a href="{{ path('AeagEdlBundle_listeMasseEau') }}">Résultat</a> 
    </li>
     <li class="active">
         {{ me.euCd }}
    </li>
{% endblock breadcrumb %}

{% block modal %}
    <div class="modal fade" id="modal-historique">
        <div class="modal-dialog modal-window">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >Historique</h4>
                </div>
                <div class="modal-body">
                    {% if avisHistorique %}
                        {{ avisHistorique.avis | nl2br }}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Fermer</button>
                </div>
            </div>
        </div>
    </div>  
{% endblock modal %}

{%block panel_heading %}
     <div class="row">
            <div class="col-md-offset-3 col-md-7">
                    <h3 class="page-title">
                        Masse d'eau {{ me.euCd }}
                    </h3>
            </div>
    </div>
   
{%endblock panel_heading %}


{% block content %}
  
    <div class="row">
        <h2 class="text-center">{{ me.nomMasseEau }}</h2>
        <div class="col-sm-offset-5  col-sm-2">
            <img class="img-responsive" alt="Responsive image" width="100px" height="100px" src="http://adour-garonne.eaufrance.fr/porteau/index.php/carto/vignetteMasdo?id={{ me.euCd }}"/>
        </div>
        <div class="col-sm-4">
            </br>
            <a  TARGET="_blanck" href="http://adour-garonne.eaufrance.fr/massedeau/{{me.euCd}}">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-eye"> Voir la fiche sur le portail de bassin</i>
                </button>
            </a>
            </br></br>
            <a class="btn btn-warning" data-toggle="modal" href="#modal-historique" title="Historique">
                <i class="fa fa-archive"> Historique</i>
             </a>
           </div> 
    </div>
                     
      </br>
      
      <div class="row">
     <div class="col-sm-2 col-sm-push-10">
             <a  href="{{ path('AeagEdlBundle_etatGroupe', {'code':me.euCd}) }}">
                <button type="button" class="btn btn-default">
                    Etats
                </button>
            </a>
            <a  href=#">
                <button type="button" class="btn btn-success">
                    Pressions
                </button>
            </a>
        </div>
    </div>
    
                  
     </br>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Pressions sur la masse d'eau  {{ me.euCd }}</h3>
            </div>
            <div class="panel-body">
                    <!-- --------------------------------- ETATS ----------------------------------------- -->        
                    <div id="tabPressions">
                        <input type='hidden' id='euCd' value="{{ me.euCd }}" />
                        <br>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          {% for pressionGroupe in pressionGroupes %}
                             {{ render(controller('AeagEdlBundle:Default:pression', {'code': me.euCd, 'cdGroupe': pressionGroupe.cdGroupe})) }}
                            {% endfor %}
                        </div>
                        <br><br>
                        <div align="center">
                            <a  href="{{ url }}">
                               <button type="button" class="btn btn-primary"><i class="fa fa-undo"></i> retour</button>
                             </a>
                        </div>
                </div>    
            </div>
          </div>

{% endblock %}

