<form id="form{{ cdPression }}" action="#" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_widget(form.euCd) }}
    {{ form_widget(form.cdPression) }}

    {{ form_widget(form.valeur) }}
    {{ form_errors(form.valeur) }}

    {{ form_errors(form.commentaire) }}
    {{ form_widget(form.commentaire) }}

    <h3>{{ form_label(form.valeur, 'Choisir une valeur') }}</h3>
    </br>
    {%if cdPression == 'RW_HYM_CONT' or cdPression == 'RW_HYM_HYD' or cdPression == 'RW_HYM_MOR' %} 
        <span id="{{ cdPression|e }}_U" p="U" class="dce_pression_U unselected">Inconnue</span>
        <span id="{{ cdPression|e }}_1" p="1" class="dce_pression_1 unselected">Minime</span>
        <span id="{{ cdPression|e }}_2" p="2" class="dce_pression_2 unselected">Modérée</span>
        <span id="{{ cdPression|e }}_3" p="3" class="dce_pression_3 unselected">Elevée</span>
    {%else%}
        <span id="{{ cdPression|e }}_U" p="U" class="dce_pression_U unselected">Inconnue</span>
        <span id="{{ cdPression|e }}_1" p="1" class="dce_pression_1 unselected">Pas de pression</span>
        <span id="{{ cdPression|e }}_2" p="2" class="dce_pression_2 unselected">Pression non significative</span>
        <span id="{{ cdPression|e }}_3" p="3" class="dce_pression_3 unselected">Pression significative</span>
    {%endif%} 
    </br></br>
    <h3>{{ form_label(form.commentaire, 'Saisir un commentaire et éventuellement vos coordonnées') }}</h3></p>
<textarea id="commentaire" cols=60, rows=5 wrap="soft" onkeyup="EnvoyerCommentaire(this)" ></textarea>
</form>

<script type="text/javascript">

    $('textarea#form_commentaire').hide();

    function EnvoyerCommentaire(textarea) {
        if (textarea != '') {
            $('textarea#form_commentaire').val($(textarea).val());
        }
        ;
    }
    ;

    //$("#{{ cdPression }}_{{ derniereProposition }}").removeClass('unselected');
    //$("#form{{ cdPression }} > #form_valeur").val("{{ derniereProposition }}");

    // choix de la valeur de l pression
    $("span[id^='{{ cdPression }}_']").click(function (e) {
        var $newPression = $(this).attr("p");

        // IHM
        $("span[id='{{ cdPression }}_U']").addClass('unselected');
        $("span[id='{{ cdPression }}_1']").addClass('unselected');
        $("span[id='{{ cdPression }}_2']").addClass('unselected');
        $("span[id='{{ cdPression }}_3']").addClass('unselected');
        $("span[id='{{ cdPression }}_" + $newPression + "']").removeClass('unselected');

        // affecter valeur 
        $("#form{{ cdPression }} > #form_valeur").val($newPression);
    });

    // validation de la saisie
    $("#valider").click(function (e) {

        if ($("#form{{ cdPression }} > #form_commentaire").val() == '' || $("#form{{ cdPression }} > #form_valeur").val() == '')
        {
            alert("Choisissez un état et saisissez un commentaire svp");

        } else
        {
            // lancer la requête ajax qui valide la saisie
            $('#modalPressionEdit').modal('hide');
            $('#modalTraitementEncours').modal('toggle');
                     e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire

            //alert($("#form{{ cdPression }} > #form_valeur").val());

                     // obtenir l'url
            var $url = "{{ path('AeagEdlBundle_pressionSubmit') }}";

            $.getJSON($url,
                        {
                                 euCd: $("#form{{ cdPression }} > #form_euCd").val(),
                                 cdPression: $("#form{{ cdPression }} > #form_cdPression").val(),
                                 commentaire: $("#form{{ cdPression }} > #form_commentaire").val(),
                        valeur: $("#form{{ cdPression }} > #form_valeur").val()
                   },
            function (json) {
                //alert(json.message);

                         // rétablir le style du bouton crayon
                $('a[name="newPression{{ cdPression }}"]').removeClass("inEdit");


                // charger et afficher les propositions pour cette etat
                //alert(json.message);

                $.post("{{ path('AeagEdlBundle_pressionListProposed') }}",
                        {
                            euCd: "{{ euCd }}",
                            cdPression: "{{ cdPression }}"
                        },
                function (data) {
                    //alert(data);
                    var $div = "#divPression-{{ euCd }}-{{ cdPression }}";
                    // placer le formulaire sous le div
                    $($div).empty().html(data);
                    $('#modalTraitementEncours').modal('hide');

                }
                ).error(function () {
                    // rétablir curseur
                    $("body").css("cursor", "auto");
                    alert("Erreur non déterminée");
                });


            }
            );
        }
    });

    // annulation de la saisie
             $("#annuler").click(function (e) {
        $.post("{{ path('AeagEdlBundle_pressionListProposed') }}",
                {
                    euCd: "{{ euCd }}",
                    cdPression: "{{ cdPression }}"
                },
        function (data) {
            //alert(data);
            var $div = "#divPression{{ cdPression }}";
            // placer le formulaire sous le div
            $($div).html(data);
            // rétablir curseur
            $("body").css("cursor", "auto");

        }
        ).error(function () {
            // rétablir curseur
            $("body").css("cursor", "auto");
            alert("Erreur non déterminée");
        });

    });



</script>
