{% extends "AeagEdlBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('Aeag_edl') }}">Accueil</a> 
    </li>
    <li>
       <a href="{{ path('AeagEdlBundle_listeMasseEau') }}">Résultat</a> 
    </li>
     <li class="active">
         Pression
    </li>
{% endblock breadcrumb %}

{%block panel_heading %}
     <div class="row">
            <div class="col-md-offset-3 col-md-7">
                    <h3 class="page-title">
                        Masse d'eau {{ me.euCd }}
                    </h3>
            </div>
    </div>
   
{%endblock panel_heading %}


{% block content %}
  
   <div class="row">
    <div class="colx3-left-double">
            <div class="align-center">
                <h2>{{ me.nomMasseEau }}</h2>
                   <img width="100px" height="100px" src="http://adour-garonne.eaufrance.fr/porteau/index.php/carto/vignetteMasdo?id={{ me.euCd }}"/>
            </div>
        </div>
        <div class="colx3-right" width="10%">
            <div class="align-left">
                <a class="big-button blue" TARGET="_blanck" href="http://adour-garonne.eaufrance.fr/massedeau/{{me.euCd}}">
                     <button type="button" class="btn btn-primary">
                     Voir la fiche sur le portail de bassin
                      </button>
                </a>
            </div>
        </div>
    </div>
                     
      </br>
      
       <div class="row">
              <a  href="{{ path('AeagEdlBundle_etatGroupe', {'code':me.euCd}) }}">
                  <button type="button" class="btn btn-default">
                       Etats
                  </button>
              </a>
            <a href="#">
                <button type="button" class="btn btn-success">
                        Etats
                 </button>
            </a>
    </div>   
                  
     </br>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Pressions sur la masse d'eau  {{ me.euCd }}</h3>
            </div>
            <div class="panel-body">
                    <!-- --------------------------------- ETATS ----------------------------------------- -->        
                    <div id="tabPressions">
                        <input type='hidden' id='euCd' value="{{ me.euCd }}" />
                        <br>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          {% for pressionGroupe in pressionGroupes %}
                             {{ render(controller('AeagEdlBundle:Default:pression', {'code': me.euCd, 'cdGroupe': pressionGroupe.cdGroupe})) }}
                            {% endfor %}
                        </div>
                        <br><br>
                        <div align="center">
                            <a  href="{{ url }}">
                               <button type="button" class="btn btn-primary"><i class="fa fa-undo"></i> retour</button>
                             </a>
                        </div>
                </div>    
            </div>
          </div>

{% endblock %}

