{% extends "AeagEdlBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('aeag_edl') }}">Accueil</a> 
    </li>
{% endblock breadcrumb %}

{%block panel_heading %}
    <h3 class="page-title">
        Sélection
    </h3>
{%endblock panel_heading %}

{% block content %}

    <form class="form" id="form_recherche" action="{{ path('AeagEdlBundle_listeMasseEau') }}" method="post">

        {% spaceless %}
            {% if form_errors(form) | length %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ form_errors(form) }}   
                </div>
            {% endif %}
        {% endspaceless %}

        <table class="table table-bordered table-condensed table-advance" id="idTable">
            <thead>
                <tr>
                    <th>Département</th>
                    <th>Type</th>   
                    <th>Code</th>
                    <th>Masse d'eau</th>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <th>Mes masses d'eau</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <div class="form-group">
                            {%if form_errors(form.deptcle) %}
                                <div class="col-sm-8 input-group has-error has-feedback">
                                {% else %}
                                    <div class="col-sm-8 input-group">
                                    {% endif %}
                                    {{ form_widget(form.deptcle, { 'attr': {'class': 'form-control ', 'preferred_choices': app.session.get('deptcle'), 'separator': '=====' } } ) }}
                                </div>
                            </div> 
                    </td>
                    <td align="center">
                        <div class="form-group">
                            {%if form_errors(form.typecle) %}
                                <div class="col-sm-8 input-group has-error has-feedback">
                                {% else %}
                                    <div class="col-sm-8 input-group">
                                    {% endif %}
                                    {{ form_widget(form.typecle, { 'attr': {'class': 'form-control ', 'preferred_choices': app.session.get('typecle'), 'separator': '=====' } }) }}
                                </div>
                            </div> 
                    </td>
                    <td align="center">
                        <div class="form-group">
                            {%if form_errors(form.codecle) %}
                                <div class="col-sm-8 input-group has-error has-feedback">
                                {% else %}
                                    <div class="col-sm-8 input-group">
                                    {% endif %}
                                    {{ form_widget(form.codecle, { 'attr': {'class': 'form-control ', 'value': app.session.get('codecle')} }) }}
                                </div>
                            </div> 
                    </td>
                    <td align="center">
                        <div class="form-group">
                            {%if form_errors(form.massecle) %}
                                <div class="col-sm-8 input-group has-error has-feedback">
                                {% else %}
                                    <div class="col-sm-8 input-group">
                                    {% endif %}
                                    {{ form_widget(form.massecle, { 'attr': {'class': 'form-control ', 'value': app.session.get('masseEaucle') } })}}
                                </div>
                            </div> 
                    </td>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <td align="center">
                            <div class="form-group">
                                {%if form_errors(form.territoirecle) %}
                                    <div class="col-sm-8 checkbox has-error has-feedback">
                                    {% else %}
                                        <div class="col-sm-8 checkbox">
                                        {% endif %}
                                        {{ form_widget(form.territoirecle)}}
                                    </div>
                                </div> 
                        </td>
                    {% endif %}
                </tr>

            </tbody>
        </table>
        <br>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-8">
                <button type="submit" class="btn btn-success"><i class="fa fa-search"></i>&nbsp;Rechercher</button>
            </div>
        </div>        

    </form>

{% endblock %}

{% block scripts %}

    $(document).ready(function () {

    $('#modalTraitementEncours').modal('hide');

    {% if app.session.get('deptcle')   %}
        var valeur = {{ app.session.get('deptcle') }};
        $("#masseeaurecherche_deptcle option[value='" + valeur + "']").attr('selected','selected');
        $("#masseeaurecherche_deptcle").val(valeur);
    {% endif %}
    {% if app.session.get('typecle')   %}
        var valeur = '{{ app.session.get('typecle') }}';
        $("#masseeaurecherche_typecle option[value='" + valeur + "']").attr('selected','selected');
        $("#masseeaurecherche_typecle").val(valeur);
    {% endif %}
    $("#masseeaurecherche_codecle").val('{{ app.session.get('codecle') }}');
    $("#masseeaurecherche_massecle").val('{{ app.session.get('masseEaucle') }}');
    $("#masseeaurecherche_territoirecle").val('{{ app.session.get('territoirecle') }}');

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        $("#masseeaurecherche_territoirecle").val("1");

    {% endif %}



    if ($("#masseeaurecherche_territoirecle").val() == "1")
    {
    $("#masseeaurecherche_territoirecle").attr('checked', 'checked');
    }
    else
    {
    $("#masseeaurecherche_territoirecle").removeAttr('checked');
    }
    ;


    });

{% endblock  scripts %}	