{% extends "AeagEdlBundle::layout.html.twig" %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/aeagetatdeslieux/js/etatdeslieux.js') }}"></script>
{% endblock %}

{% block contenu %}

   

<div style="display:block; float:left; width:530px;">
    <h1>Masse d'eau {{ me.euCd }}</h1>
    <h2>{{ me.nomMasseEau }}</h2>
</div>
<div style="float:right;">
    <img width="300px" height="300px" src="http://adour-garonne.eaufrance.fr/porteau/index.php/carto/vignetteMasdo?id={{ me.euCd }}"/>
</div>
<div style="clear:both;">&nbsp;</div>

<div id="en-tete" class="int">    
    <ul>
        <li><a href="{{ path('AeagEdlBundle_etat', {'code':me.euCd}) }}"><span>Etats</span></a></li>
        <li><a href="{{ path('AeagEdlBundle_pression', {'code':me.euCd}) }}"><span>Pressions</span></a></li>
        <li><a href="{{ path('AeagEdlBundle_impact', {'code':me.euCd}) }}"><span>Impacts</span></a></li>
        <li><a href="{{ path('AeagEdlBundle_risque', {'code':me.euCd}) }}"><span>Risques</span></a></li>
    </ul>
</div>  

<!-- --------------------------------- ETATS ----------------------------------------- -->        
<div id="tabEtats">
    <h3>Etats de la masse d'eau</h3>
    <input type='hidden' id='newEtatRoute' value="{{ path('AeagEdlBundle_etatForm') }}" /> 
    <input type='hidden' id='euCd' value="{{ me.euCd }}" />

   
    {% for etat in me.etats %}
        {% render "AeagEdlBundle:Etat:etatListProposed" with {'euCd':etat.euCd, 'cdEtat':etat.cdEtat} %}
          
{% else %}
             <ul>
            <li>Aucun état n'est affectée à la masse d'eau</li>
             </ul>
    {% endfor %}
   
</div>{# /tab etats #}


<!-- --------------------------------- PRESSIONS ----------------------------------------- -->        
<div id="tabPressions">
    <h3>Pressions sur la masse d'eau</h3>
    <input type='hidden' id='newPressionRoute' value="{{ path('AeagEdlBundle_pressionForm') }}" />
    <input type='hidden' id='euCd' value="{{ me.euCd }}" />

   
    {% for pression in me.pressions %}
    	  {% render "AeagEdlBundle:Pression:pressionListProposed" with {'euCd':pression.euCd, 'cdPression':pression.cdPression} %}
            <!-- include 'AeagEdlBundle:Pression:pressionListProposed.html.twig' with {'pression': pression}  -->
    {% else %}
             <ul>
            <li>Aucune pression n'est affectée à la masse d'eau</li>
             </ul>
    {% endfor %}
 </div> {# /tab pressions #}

    <!-- --------------------------------- IMPACTS ----------------------------------------- -->        
    <div id="tabImpacts">
        <h3>Impacts sur la masse d'eau</h3>
        <input type='hidden' id='newImpactRoute' value="{{ path('AeagEdlBundle_impactForm') }}" /> 
        <input type='hidden' id='euCd' value="{{ me.euCd }}" />


        {% for impact in me.impacts %}
            {% render "AeagEdlBundle:Impact:impactListProposed" with {'euCd':impact.euCd, 'cdImpact':impact.cdImpact} %}
        {% else %}
                <ul>
                <li>Aucun impact n'est affectée à la masse d'eau</li>
                </ul>
        {% endfor %}
    </div>{# /tab impacts #}

    <!-- --------------------------------- RISQUES ----------------------------------------- -->        
    <div id="tabRisques">
        <h3>Risques sur la masse d'eau</h3>
        <input type='hidden' id='newRisqueRoute' value="{{ path('AeagEdlBundle_risqueForm') }}" /> 
        <input type='hidden' id='euCd' value="{{ me.euCd }}" />
        {% for risque in me.risques %}
            {% render "AeagEdlBundle:Risque:risqueListProposed" with {'euCd':risque.euCd, 'cdRisque':risque.cdRisque} %}
         {% else %}
                <ul>
                <li>Aucun risque n'est affectée à la masse d'eau</li>
                </ul>
        {% endfor %}
    </div>{# /tab risques #}


</div> {# /tabs #}


<br>
<table  class="resultat">
    <tr>
        <td width="300"></td>
        <td>
            <div class="symfony-button-grey">
                 <a href="{{ url }}">Retour</a>
            </div>
        </td>
        <td width="20%"></td>
    </tr>
</table>   


{% endblock %}
