{% extends 'AeagDieBundle::layout.html.twig' %}

{% block navbar %}{% endblock navbar %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
     <li class="active">
        Demande
    </li>
{% endblock breadcrumb %} 

{% block modal %}
     {% for entity in entities %}
          <div class="modal fade" id="sup-{{ entity.id }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="supLabel-{{ entity.id }}">Suppression de la demande { entity.objet }}  de  {{ entity.nom }} {{ entity.prenom }}   </h4>
                    </div>
                    <div class="modal-body">
                        <h4>Cliquer sur la corbeille pour valider la suppression de la demande { entity.objet }}  de  {{ entity.nom }} {{ entity.prenom }}</h4>
                        <br/><br/>
                        <div class="alert alert-danger">Attention : Une fois supprimée, la demande sera supprimé définitivement</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Annuler</button>
                        <a  id="idSupprimerGroupe"  class="btn btn-danger"  href="{{ path('demande_delete', { 'id': entity.id }) }}" title="Supprimer">
                            <i class="fa fa-trash-o"> Supprimer</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
     {% endfor %}
{% endblock modal %}

{%block panel_heading %}
    <h1>Administration des demandes</H1>
{%endblock panel_heading %}

{%block content %}

 <div class="row">
        <div class="col-md-7">
                <a  class="btn btn-success"  href="{{ path('demande_new') }}" title="Nouveau organisme">
                    <i class="fa fa-plus"> Nouvelle demande</i> 
                 </a>
           </div>
      </div>
   
 <div class="row">
        <div class="col-xm-12">
            <div class="small">
                <table class="table table-bordered table-condensed table-advance" id="idTable">
                    <thead>
                        <tr>
                             <th nowrap>Actions</th>
                            <th>Id&nbsp;</th>
                            <th>Nom&nbsp;</th>
                            <th>Prénom&nbsp;</th>
                            <th>Email&nbsp;</th>
                            <th>Organisme&nbsp;</th>
                            <th>Objet&nbsp;</th>
                            <th nowrap>Date création&nbsp;</th>
                            <th nowrap>Date écheance&nbsp;</th>
                      </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                             <td nowrap class="texte-center">
                                  {% if is_granted('ROLE_ADMIN') %}
                                             <a  class="btn btn-warning" href="{{ path('demande_edit', { 'id': entity.id }) }}" title="Modifier la demande">
                                                <i class="fa fa-edit"></i> 
                                            </a>
                                            <a class="btn btn-danger" data-toggle="modal" href="#sup-{{ entity.id }}" title="Supprimer la demande">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                   {% endif %}
                            </td>
                            <td><a href="{{ path('demande_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nom }}&nbsp;</td>
                            <td>{{ entity.prenom }}&nbsp;</td>
                            <td>{{ entity.email }}&nbsp;</td>
                            <td>{{ entity.organisme }}&nbsp;</td>
                            <td>{{ entity.objet }}&nbsp;</td>
                             <td nowrap>
                                 {% if entity.dateCreation %}
                                    <span class="hidden">{{ entity.dateCreation | date("Y/m/d H:i") }}</span>
                                   {{ entity.dateCreation|date('d/m/Y') }}
                                {% endif%}
                             </td>
                            <td  nowrap>
                                {% if entity.dateEcheance %}
                                     <span class="hidden">{{ entity.dateEcheance | date("Y/m/d H:i") }}</span>
                                    {{ entity.dateEcheance|date('d/m/Y') }}
                                {% endif%}
                            </td>
                         </tr>
                    {% endfor %}
                    </tbody>
                </table>
         </div>
        </div>
  </div>
    
     <div class="form-group">
           <div class="col-xs-offset-4 col-xs-8">
              <a  id="btFermer" class="btn btn-danger" href="{{ path('aeag_die_admin') }}"><i class="fa fa-power-off"></i> Retour</a>
            </div>
        </div>


{% endblock  content%}

{% block scripts %}
    
     var table =  $('#idTable').DataTable( {
            "processing": true,
            "stateSave": true,
            "order": [[ 0, "asc" ]],
            "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "aLengthMenu": [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, "Tous"]
            ],
            "iDisplayLength": 10
            }
    );

 

{% endblock scripts %}