{% extends "AeagDieBundle::layout.html.twig" %}

{% block contenu %}

<div align="center">
   <h1>Administration des demandes</H1>
</div>
<br>
<table align="center">
    <tr>
        <td align="left">
            <a href="{{ path('demande_new') }}">
                <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/Add.png') }}">
                Nouvelle demande
            </a>
        </td>
    </tr>
</table>

<table class="table" cellspacing="0" width="50%" align="center">
    <thead>
            <tr>
                <th colspan="12">
                     {% if pager.isFirstPage == false %}    
                        <td class="first"><a href="{{ paginate_path(route, pager.getFirstPage, parameters) }}">&laquo;</a></td>
                        <td class="previous"><a href="{{ paginate_path(route, pager.getPreviousPage, parameters) }}">&lsaquo;</a></td>
                   {% endif %}
                    {% if pager.isPaginable %}
                        {{ paginate(pager, 'demande_listeDemandes') }}
                    {% endif %}
                </th>
                </tr>
            <tr>
            <th class="th-text" nowrap>Id&nbsp;</th>
            <th class="th-text" nowrap>Thème&nbsp;</th>
            <th class="th-text" nowrap>Sous-Thème&nbsp;</th>
            <th class="th-text" nowrap>Nom&nbsp;</th>
            <th class="th-text" nowrap>Prénom&nbsp;</th>
            <th class="th-text" nowrap>Email&nbsp;</th>
            <th class="th-text" nowrap>Organisme&nbsp;</th>
            <th class="th-text" nowrap>Objet&nbsp;</th>
            <th class="th-text" nowrap>D. création&nbsp;</th>
            <th class="th-text" nowrap>D. écheance&nbsp;</th>
            <th class="th-text" nowrap align="left">Modifier</th>
            <th class="th-text" nowrap align="left">Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% set i = 1 %}
    {% for entity in pager.getResults %}
        <tr class="resultat{{ i }}">
            <td width="10%"><a href="{{ path('demande_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.theme }}&nbsp;</td>
            <td>{{ entity.sousTheme }}&nbsp;</td>
            <td>{{ entity.nom }}&nbsp;</td>
            <td>{{ entity.prenom }}&nbsp;</td>
            <td>{{ entity.email }}&nbsp;</td>
            <td>{{ entity.Organisme }}&nbsp;</td>
            <td>{{ entity.objet }}&nbsp;</td>
            <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('d-m-Y') }}{% endif%}&nbsp;</td>
            <td>{% if entity.dateEcheance %}{{ entity.dateEcheance|date('d-m-Y') }}{% endif%}&nbsp;</td>
            <td width="10%" align="right">
               {% if is_granted('ROLE_ADMIN') %}
	              <a href="{{ path('demande_edit', { 'id': entity.id }) }}">
                          <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/Modify.png') }}">
                      </a>
	       {%  endif  %}
            </td>
            <td width="10%" align="left">
             {% if is_granted('ROLE_ADMIN') %}
		    <a href="{{ path('demande_delete', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/Delete.png') }}">
                    </a>
	      {%  endif  %}
	   </td>
        </tr>
    {% set i = i + 1 %}
    {% if i > 2 %}
    {% set i = 1 %}
    {% endif %}
    {% endfor %}
    </tbody>
</table>


 <table align="center">
        <tr>
            <td>
                <a class="button blue" href="{{ path('admin') }}">
                    <img src="{{ asset('bundles/aeagdie/images/icons/web-app/24/back.png') }}">  
                    Retour
                </a>
            </td>
        </tr>
    </table>

{% endblock %}