{% extends "AeagDieBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
        <a href="{{ path('demande') }}">Demande</a> 
    </li>
     <li class="active">
        Nouvelle
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
             <h3 class="page-title text-center">
                Création d'une demande
             </h3>
  {%endblock panel_heading %}

{% block content %}
    
    <div class="row">
          <div class="col-xs-offset-3 col-xs-8 small">
                 <div class="alert alert-info" role="alert">
                     Veuillez utiliser le formulaire ci-dessous pour nous adresser votre demande d’information<br>
                    (Tous les champs sont obligatoires)
                  </div>
          </div>
    </div>


        <form  class="form" id="contact"  action="{{ path('demande_create') }}"  method="post" {{ form_enctype(form) }}>

            {% spaceless %}
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        {% for children in form.children %}
                            {% if not children.vars.valid %}
                                {{ form_errors(children) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}


            {% endspaceless %}

     <div class="row">
          <div class="col-xs-offset-3 col-xs-8 small">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Informations personnelles</h2></div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="Nom" class="col-xs-3 control-label">Nom <i class="fa fa-asterisk text-danger btn-xs"></i></label>
                            {%if form_errors(form.nom) %}
                                <div class="col-xs-8 input-group has-error has-feedback">
                            {% else %}
                                <div class="col-xs-8 input-group">
                                {% endif %}
                                {{ form_widget(form.nom, { 'attr': {'class': 'form-control ', 'placeholder': 'Nom'} }) }}
                            </div>
                        </div> 

                        <div class="form-group">
                            <label for="Prenom" class="col-xs-3 control-label">Prénom <i class="fa fa-asterisk text-danger btn-xs"></i></label>
                                {%if form_errors(form.prenom) %}
                                   <div class="col-xs-8 input-group has-error has-feedback">
                                {% else %}
                                    <div class="col-xs-8 input-group">
                                    {% endif %}
                                    {{ form_widget(form.prenom, { 'attr': {'class': 'form-control ', 'placeholder': 'Prénom'} }) }}
                                </div>
                            </div> 

                            <div class="form-group">
                                <label for="Organisme" class="col-xs-3 control-label">Organisme<i class="fa fa-asterisk text-danger btn-xs"></i></label>
                                    {%if form_errors(form.organisme) %}
                                        <div class="col-xs-8 input-group has-error has-feedback">
                                    {% else %}
                                        <div class="col-xs-8 input-group">
                                        {% endif %}
                                        {{ form_widget(form.organisme, { 'attr': {'class': 'form-control ', 'placeholder': 'Organisme'} }) }}
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label for="Departement" class="col-xs-3 control-label">Département<i class="fa fa-asterisk text-danger btn-xs"></i></label>
                                        {%if form_errors(form.dept) %}
                                            <div class="col-xs-8 input-group has-error has-feedback">
                                        {% else %}
                                            <div class="col-xs-8 input-group">
                                            {% endif %}
                                            {{ form_widget(form.dept, { 'attr': {'class': 'form-control ', 'placeholder': 'Département'} }) }}
                                        </div>
                                    </div> 

                                    <div class="form-group">
                                        <label for="Courriel" class="col-xs-3 control-label">Courriel<i class="fa fa-asterisk text-danger btn-xs"></i></label>
                                            {%if form_errors(form.email) %}
                                               <div class="col-xs-8 input-group has-error has-feedback">
                                            {% else %}
                                                <div class="col-xs-8 input-group">
                                                {% endif %}
                                                {{ form_widget(form.email, { 'attr': {'class': 'form-control ', 'placeholder': 'Courriel'} }) }}
                                            </div>
                                        </div> 

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-xs-offset-3 col-xs-8 small">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h2>Votre message</h2></div>
                                    <div class="panel-body">

                                            <div class="form-group">
                                                <label for="Theme" class="col-xs-3 control-label">Thème<i class="fa fa-asterisk text-danger btn-xs"></i></label>
                                                    {%if form_errors(form.theme) %}
                                                         <div class="col-xs-8 input-group has-error has-feedback">
                                                    {% else %}
                                                        <div class="col-xs-8 input-group">
                                                        {% endif %}
                                                        {{ form_widget(form.theme, { 'attr': {'class': 'form-control ', 'placeholder': 'Theme'} }) }}
                                                    </div>
                                                </div> 
                                     
                                            <div class="form-group">
                                                <label for="Description" class="col-xs-3 control-label">Description<i class="fa fa-asterisk text-danger btn-xs"></i></label>
                                                    {%if form_errors(form.objet) %}
                                                        <div class="col-xs-8 input-group has-error has-feedback">
                                                    {% else %}
                                                        <div class="col-xs-8 input-group">
                                                        {% endif %}
                                                        {{ form_widget(form.objet, { 'attr': {'class': 'form-control ', 'placeholder': 'Description'} }) }}
                                                    </div>
                                                </div> 

                                                <div class="form-group">
                                                    <label for=Message" class="col-xs-3 control-label">Message<i class="fa fa-asterisk text-danger btn-xs"></i></label>
                                                        {%if form_errors(form.corps) %}
                                                             <div class="col-xs-8 input-group has-error has-feedback">
                                                        {% else %}
                                                            <div class="col-xs-8 input-group">
                                                            {% endif %}
                                                            {{ form_widget(form.corps, { 'attr': {'rows':5,'class': 'form-control ', 'placeholder': 'corps'} }) }}
                                                        </div>
                                                    </div> 

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hide">
                                    {{ form_rest(form) }}
                                </div>

                                <div  align="center">
                                    <button type="submit" class="btn btn-primary">Envoyer la demande</button>
                                </div>
                </form>      

    </div>

{% endblock content %}
    
