{% extends "AeagDieBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_die') }}">Accueil</a> 
    </li>
    <li>
        <a href="{{ path('demande') }}">Demande</a> 
    </li>
    <li class="active">
        {{ entity.id }}
    </li>
{% endblock breadcrumb %} 

{%block panel_heading %}
    <h3 class="page-title text-center">
        Demande : {{ entity.id }}
    </h3>
{%endblock panel_heading %}


{% block content %}

    <table class="table  table-striped table-condensed table-responsive" cellspacing="0" width="580px" align="center">

        <caption><h5 class="alertDie alert-info" align="center">Informations personnelles </h5></caption>
        <tbody>
            <tr>

                <td align="left" width="15%">Nom</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.nom }}
                    </div>
                </td>

            </tr>
            <tr>

                <td  align="left" width="15%" >Prénom</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.prenom }}
                    </div>
                </td>
            </tr>

            <tr>

                <td align="left"  width="15%">Organisme</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.organisme }}
                    </div>
                </td>
            </tr>
            <tr>

                <td align="left"  width="15%">Département</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.dept }}
                    </div>
                </td>
            </tr>
            <tr>

                <td align="left"  width="15%">Courriel</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.email }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table  table-striped table-condensed table-responsive" cellspacing="0" width="580px" align="center">

        <caption><h5 class="alertDie alert-info" align="center">Message</h5></caption>
        <tbody>
            <tr>
                <td align="left" width="15%">thème</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.theme }}
                    </div>
                </td>
            </tr>
            <tr>

                <td align="left">Objet</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.objet }}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" >Corps</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.corps | nl2br }}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" >Date création</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.dateCreation|date('Y-m-d') }}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" >Date échéance</td>
                <td width="85%">
                    <div class="col-xs-12 input-group">
                        {{ entity.dateEcheance|date('Y-m-d') }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<div class="form-group">
    <div class="col-xs-offset-4 col-xs-7">
        <a class="btn btn-primary" href="{{ path('demande') }}"><i class="fa fa-power-off"></i> Retour</a>
    </div>
</div>

{% endblock content %}

