{% extends "AeagAideBundle::layout.html.twig" %}


{%block panel_heading %}
    <div class="row">
        <div class="col-md-10 small">
            <div class="panel-primary">
                <h3>
                    {% if criteres.nb_dossiers == 0 %}
                        aucun dossier ne r&eacute;pond aux crit&egrave;res suivants : 
                    {% else %} 
                        {{ criteres.nb_dossiers |number_format(0,'.',' ') }}
                        dossiers r&eacute;pondent aux crit&egrave;res suivants :
                    {% endif %}
                </h3>
                <h5>
                    {% if criteres.ligne_libelle == ' Toutes les lignes' %}
                        {{ criteres.ligne_libelle }}
                    {% else %}
                        ligne : {{ criteres.ligne_libelle }}
                    {% endif %}
                    <br>Type de bénéficiaire : {{ criteres.categorie_libelle }}
                    {# <br>{{ criteres.annee_libelle }}#}
                    <br>{{ criteres.decision_libelle }}
                    {% if not(criteres.region_admin_libelle == null) %}
                        <br>Région administrative : {{ criteres.region_admin_libelle }}
                    {% endif %}
                    {% if not(criteres.departement_libelle == null) %}
                        <br>Département : {{ criteres.departement_libelle }}
                    {% endif %}
                    {% if not(criteres.region_hydro_libelle == null) %}
                        <br>{{ criteres.region_hydro_libelle }}
                    {% endif %}
                    {% if (criteres.categorie_libelle  == 'Association') %}
                        <br>Publication conform&eacute;ment au d&eacute;cretn&deg;2006-887 du 17 juillet 2006
                    {% endif %}
                </h5>
                {% if (criteres.total_dossiers > 0) %}
                    <h4>
                        <br>Montant total des travaux retenus : {{ criteres.total_retenu | number_format( 2,","," ") }} &euro;
                        &nbsp;&nbsp;Montant total des aides : {{ criteres.total_dossiers | number_format( 2,","," ") }} &euro;
                    </h4>
                {% endif %}
            </div>
        </div>
        {% if not full %}
            <div class="col-md-2">
                <div class="small pull-right">
                    <a class="btn btn-primary" href="{{ path('AeagAideBundle_pdf') }}" title="Version PDF"> 
                        <i class="fa fa-file-pdf-o"> Version PDF</i>
                    </a>
                    <br><br>
                    <a class="btn btn-primary" href="{{ asset('fichiers/') }}{{ criteres.fichier }}" title="Version CSV">
                        <i class="fa fa-file-excel-o "> Version CSV</i>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

{%endblock panel_heading %}

{% block modal %}
    {# modal progression #}
    <div class="modal fade" id="modaProgression">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        <div class="alert alert-warning" role="alert">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                            Merci de patienter
                        </div>
                    </h4>
                    <div id="idProgress" class="alert alert-warning text-center" role="alert"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock modal %}

{%block content %}
    {% if full %}
        <div class="row">
            <div class="alert alert-danger text-center" role="alert">
                <h3>
                    Désolé mais le nombre de dossiers étant trop important à afficher, si vous voulez la liste complète merci de </br>
                    cliquer sur un des  boutons suivants : </br></br>
                    <div id="idBtPdf">
                        <a class="btn btn-primary" id="idPdf" href="#" title="Version PDF"> 
                            <i class="fa fa-file-pdf-o"> Générer fichier PDF</i>
                        </a>
                    </div>
                    <br><br>
                    <div id="idBtCsv">
                        <a class="btn btn-primary" id="idCsv" href="#" title="Version CSV">
                            <i class="fa fa-file-excel-o "> Générer fichier CSV</i>
                        </a>
                    </div>
                </h3>
            </div>
        </div>
    {% else %}
         <div class="row">
        <div class="col-md-12">
            <div id="idTable_processing" class="alert alert-info text-center" >
               <i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
               <h3>Traitement en cours...</h3>
           </div>
        </div>
        </div>
        <div id="idResultat" class="row">
            <div class="col-md-12">
                <div class="small ">
                    <table class="table table-bordered table-condensed table-advance table-hover" id="idTable">
                        <thead>
                            <tr>
                                <th nowrap>Dossiers&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    {% if criteres.annees %}
                                    <th nowrap>Année&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    {% endif %}
                                <th nowrap>Montant des travaux retenus&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th nowrap>Montant de l'aide&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th nowrap>Nature de l'opération&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th nowrap>Raison Sociale&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th nowrap>Intitulé&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dossier in dossiers %}
                                <tr>        
                                    <td align="left" nowrap>{{ dossier.dossier }}</td>
                                    {% if criteres.annees %}
                                        <td align="center">{{ dossier.annee }}</td>
                                    {% endif %}
                                    <td align="right" >{{ dossier.montant_retenu | number_format( 2,","," ") }}</td>
                                    <td align="right" >{{ dossier.montant_aide_interne | number_format( 2,","," ") }}</td>
                                    <td align="left">{{ dossier.forme_aide }}</td>
                                    <td align="left">{{ dossier.raison_sociale }}</td>
                                    <td  align="left">{{ dossier.intitule }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>   
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-3 col-md-6 pull-right">
                <a class="btn btn-danger" href="{{ path('aeag_aide') }}"><i class="fa fa-power-off"></i> Retour</a> 
            </div>
        </div>
    </div>            

{% endblock %}

{% block scripts %}

    $('#modalTraitementEncours').modal('show');

    $(document).on('click', '#idPdf',function(e){
    e.preventDefault();
    $('#modaProgression').modal('show');
    html = 'Génération de {{ criteres.nb_dossiers |number_format(0,'.',' ') }} lignes en cours';
    $('#idProgress').empty().append(html);
    var url = '{{ path('AeagAideBundle_pdf') }}'; 
    $.ajax({
    url: url,
    type: 'get', // La méthode indiquée dans le formulaire (get ou post)
    success: function(html) { // Je récupère la réponse du fichier PHP
    $('#idBtPdf').empty().append(html);
    $('#modaProgression').modal('hide');
    }
    });
    });

    $(document).on('click', '#idCsv',function(e){
    e.preventDefault();
    $('#modaProgression').modal('show');
    html = 'Génération de {{ criteres.nb_dossiers |number_format(0,'.',' ') }} lignes en cours';
    $('#idProgress').empty().append(html);
    var url = '{{ path('AeagAideBundle_csv') }}'; 
    $.ajax({
    url: url,
    type: 'get', // La méthode indiquée dans le formulaire (get ou post)
    success: function(html) { // Je récupère la réponse du fichier PHP
    $('#idBtCsv').empty().append(html);
    $('#modaProgression').modal('hide');
    }
    });
    });

    // DataTable


    var table =  $('#idTable').DataTable( {
    "processing": true,
    "stateSave": false,
    "order": [[ 0, "asc" ]],
    "language": {
    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
    },
    "aLengthMenu": [
    [10, 25, 50, 100, -1],
    [10, 25, 50, 100, "Tous"]
    ],
    "iDisplayLength": 10
    }
    );
    var info = table.page.info();
    if (info.pages > 0 ){
    $('#idTable_processing').hide();
    $('#modalTraitementEncours').modal('hide');
    }

  
{% endblock scripts %}

