{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('aeag_sqe') }}">Accueil</a> 
    </li>
{% endblock breadcrumb %}

{% block modal %}

    {#modal avancement campagne  #}
    <div class="modal fade" id="modalCampagne" >
        <div class="modal-dialog ">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="modal-title" id="labelModalCampagne">Avancement campagne</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="bodyModalCampagne">
                        <div class="row responsive">
                            <div class="col-xm-12">
                                <div class="small"> 
                                    <div class="col-md-offset-2 col-md-6">
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-info"><a class="btn btn-primary btn-xs" href="{{ path('AeagSqeBundle_programmation_avancement_hydro') }}" title="Avancement campagne Hydrobio"><i class="fa fa-signal fa-2x"></i> Hydrobio </a></li>
                                            <li class="list-group-item list-group-item-info"><a class="btn btn-primary btn-xs" href="{{ path('AeagSqeBundle_programmation_avancement_analyse') }}" title="Avancement campagne Analyses"><i class="fa fa-signal fa-2x"></i> Analyses  </a></li>
                                            <li class="list-group-item list-group-item-info"><a class="btn btn-primary btn-xs" href="{{ path('AeagSqeBundle_programmation_avancement_prelevement') }}" title="Avancement campagne Global"><i class="fa fa-signal fa-2x"></i> Global </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>





{% endblock modal %}

{%block panel_heading %}
    {#<h4 class="page-title">
        Programmation SQE
     </h4>#}
{%endblock panel_heading %}


{% block content %}


    {% if   is_granted('ROLE_PROGSQE') %}

        <div class="row responsive">
            <div class="col-xm-12">
                <div class="col-md-offset-2 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center"><h4>Programmation</h4></div>
                        <div class="panel-body">
                            <div class="btn-group-vertical col-md-offset-2">
                                <a class="btn btn-primary  btn-group-justified" href="{{ path('Aeag_sqe_programmation_lots', {'action': 'V'}) }}" title="Consulter"><div class="text-left"><i class="fa fa-caret-right"></i> Consulter</div></a>
                                <a class="btn btn-primary  btn-group-justified" href="{{ path('Aeag_sqe_programmation_lots', {'action': 'P'}) }}" title="Programmer"><div class="text-left"><i class="fa fa-caret-right"></i> Programmer</div></a>
                             {#   {% if  not app.session.get('evolution')%}#}
                                    {% if   is_granted('ROLE_ADMINSQE') %}
                                        <a class="btn btn-primary btn-group-justified" data-toggle="modal" href="#modalCampagne" title="Avancement campagne"><div class="text-left"><i class="fa fa-caret-right"></i> Avancement campagne</div></a>
                                        <a class="btn btn-primary btn-group-justified" href="{{ path('AeagSqeBundle_programmation_avancement_programmation') }}" title="Avancement programmation"><div class="text-left"><i class="fa fa-caret-right"></i> Avancement programmation</div></a>
                                    {% endif %}
                             {#   {% endif %}#}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-offset-1 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center"><h4>Données</h4></div>
                        <div class="panel-body">
                            <div class="btn-group-vertical col-md-offset-2">
                                <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_echangefichiers_index')}}" title="Echange EDI LABO"><div class="text-left"><i class="fa fa-caret-right"></i> Echange EDI LABO</div></a>
                              {#  {% if  not app.session.get('evolution')%}#}
                                    <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_depotHydrobio_index')}}" title="Dépôt Hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i> Dépôt Hydrobio</div></a>
                                {#{% endif %}#}
                                {% if app.session.get('suiviDonnees') %}
                                    <a class="btn btn-primary btn-group-justified" href="{{ path('AeagSqeBundle_saisieDonnees_index')}}" title="Saisie Terrain / Labo"><div class="text-left"><i class="fa fa-caret-right"></i> Saisie Terrain / Labo</div></a>
                                {% endif %}
                                <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_exportdonneesbrutes_index')}}" title="Export des Données Brutes"><div class="text-left"><i class="fa fa-caret-right"></i> Export des Données Brutes</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if  app.session.get('suiviHb') or app.session.get('suiviQHb') or app.session.get('suiviSED') or app.session.get('suiviEau')  %}
            <div class="row responsive">
                <div class="col-xm-12">
                    <div class="col-md-offset-2 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center"><h4>Suivi des prélèvements</h4></div>
                            <div class="panel-body">
                                <div class="btn-group-vertical col-md-offset-2">
                                    {% if app.session.get('suiviHb') %}
                                        <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_suiviHydrobio_index')}}" title="hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i> Hydrobio</div></a>
                                    {% endif %}
                                    {% if app.session.get('suiviQHb') %}
                                        <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_suiviHydrobio_synthese')}}" title="Qualification Hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i> Qualification Hydrobio</div></a>
                                    {% endif %}
                                    {% if app.session.get('suiviSED') %}
                                        <a class="btn btn-primary btn-group-justified" href="{{ path('AeagSqeBundle_suiviSediment_index')}}" title="Sédiment"><div class="text-left"><i class="fa fa-caret-right"></i> Sédiment</div></a>
                                    {% endif %}
                                    {% if app.session.get('suiviEau') %}
                                        <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_suiviEau_index')}}"title="Eau"><div class="text-left"><i class="fa fa-caret-right"></i> Eau</div></a>
                                    {% endif %}
                                    {%if   is_granted('ROLE_ADMINSQE') %}
                                        <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_planning_index', {'typeMilieu': 'HB'}) }}" title="Planning Hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i> Planning Hydrobio</div></a>
                                        <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_planning_index', {'typeMilieu': 'PC'}) }}" title="Planning Autres"><div class="text-left"><i class="fa fa-caret-right"></i> Planning Autres</div></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                 {#   <div class="col-md-offset-1 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center"><h4>Aide</h4></div>
                            <div class="panel-body">
                                <div class="btn-group-vertical col-md-offset-2">
                                    <a class="btn btn-primary  btn-group-justified" href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur-prog.pdf') }}" target="_blank" title="Aide programmation"><div class="text-left">Aide programmation</div></a>
                                    <a class="btn btn-primary  btn-group-justified" href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur.pdf') }}" target="_blank" title="Aide utilisateur"><div class="text-left">Aide utilisateur</div></a>
                                </div>
                            </div>
                        </div>
                    </div>#}
                                
                </div>
            </div>
       {# {% else %}
            <div class="row responsive">
                <div class="col-xm-12">
                    <div class="col-md-offset-2 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center"><h4>Aide</h4></div>
                            <div class="panel-body">
                                <div class="btn-group-vertical col-md-offset-2">
                                    <a class="btn btn-primary  btn-group-justified" href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur-prog.pdf') }}" target="_blank" title="Aide programmation"><div class="text-left">Aide programmation</div></a>
                                    <a class="btn btn-primary  btn-group-justified" href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur.pdf') }}" target="_blank" title="Aide utilisateur"><div class="text-left">Aide utilisateur</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
        {% endif %}


    {%elseif   is_granted('ROLE_PRESTASQE') %}

        <div class="row responsive">
            <div class="col-xm-12">
                <div class="col-md-offset-2 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center"><h4>Données</h4></div>
                        <div class="panel-body">
                            <div class="btn-group-vertical col-md-offset-2">
                                <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_echangefichiers_index')}}" title="Echange EDI LABO"><div class="text-left"><i class="fa fa-caret-right"></i> Echange EDI LABO</div></a>
                                {#{% if  not app.session.get('evolution')%}#}
                                    <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_depotHydrobio_index')}}" title="Dépôt Hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i> Dépôt Hydrobio</div></a>
                               {# {% endif %}#}
                                {% if app.session.get('suiviDonnees') %}
                                    <a class="btn btn-primary btn-group-justified" href="{{ path('AeagSqeBundle_saisieDonnees_index')}}" title="Saisie Terrain / Labo"><div class="text-left"><i class="fa fa-caret-right"></i> Saisie Terrain / Labo</div></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if  app.session.get('suiviHb') or app.session.get('suiviQHb') or app.session.get('suiviSED') or app.session.get('suiviEau') %}

                    <div class="col-md-offset-1 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center"><h4>Suivi des prélèvements</h4></div>
                            <div class="panel-body">
                                <div class="btn-group-vertical col-md-offset-2">
                                    {% if app.session.get('suiviHb') %}
                                        <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_suiviHydrobio_index')}}" title="hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i> Hydrobio</div></a>
                                    {% endif %}
                                    {% if app.session.get('suiviQHb') %}
                                        <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_suiviHydrobio_synthese')}}" title="Qualification Hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i> Qualification Hydrobio</div></a>
                                    {% endif %}
                                    {% if app.session.get('suiviSED') %}
                                        <a class="btn btn-primary btn-group-justified" href="{{ path('AeagSqeBundle_suiviSediment_index')}}" title="Sédiment"><div class="text-left"><i class="fa fa-caret-right"></i> Sédiment</div></a>
                                    {% endif %}
                                    {% if app.session.get('suiviEau') %}
                                        <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_suiviEau_index')}}"title="Eau"><div class="text-left"><i class="fa fa-caret-right"></i>Eau</div></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        {#    <div class="row responsive">
                <div class="col-xm-12">
                    <div class="small "> 
                        <div class="col-md-offset-2 col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading text-center"><h4>Aide</h4></div>
                                <div class="panel-body">
                                    <div class="btn-group-vertical col-md-offset-2">
                                        <a class="btn btn-primary  btn-group-justified" href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur.pdf') }}" target="_blank" title="Aide utilisateur"><div class="text-left">Aide utilisateur</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}

      {#  {% else %}

            <div class="row responsive">
                <div class="col-xm-12">
                    <div class="col-md-offset-2 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center"><h4>Aide</h4></div>
                            <div class="panel-body">
                                <div class="btn-group-vertical col-md-offset-2">
                                    <a class="btn btn-primary  btn-group-justified" href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur.pdf') }}" target="_blank" title="Aide utilisateur"><div class="text-left">Aide utilisateur</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
        {% endif %}

    {%elseif   is_granted('ROLE_XHBIOSQE') %}

        <div class="row responsive">
            <div class="col-xm-12">
                <div class="col-md-offset-2 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center"><h4>Suivi des prélèvements</h4></div>
                        <div class="panel-body">
                            <div class="btn-group-vertical col-md-offset-2">
                                {% if app.session.get('suiviHb') %}
                                    <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_suiviHydrobio_index')}}" title="hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i> Hydrobio</div></a>
                                {% endif %}
                                {% if app.session.get('suiviQHb') %}
                                    <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_suiviHydrobio_synthese')}}" title="Qualification Hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i>Qualification Hydrobio</div></a>
                                {% endif %}
                                <a class="btn btn-primary  btn-group-justified" href="{{ path('AeagSqeBundle_planning_index', {'typeMilieu': 'HB'}) }}" title="Planning Hydrobio"><div class="text-left"><i class="fa fa-caret-right"></i> Planning Hydrobio</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       {# <div class="row responsive">
            <div class="col-xm-12">
                <div class="small "> 
                    <div class="col-md-offset-2 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center"><h4>Aide</h4></div>
                            <div class="panel-body">
                                <div class="btn-group-vertical col-md-offset-2">
                                    <a class="btn btn-primary  btn-group-justified" href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur.pdf') }}" target="_blank" title="Aide utilisateur"><div class="text-left">Aide utilisateur</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}

    {#{% else %}
        <div class="row responsive">
            <div class="col-xm-12">
                <div class="small "> 
                    <div class="col-md-offset-2 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center"><h4>Aide</h4></div>
                            <div class="panel-body">
                                   <div class="btn-group-vertical col-md-offset-2">
                                    <a class="btn btn-primary  btn-group-justified" href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur.pdf') }}" target="_blank" title="Aide utilisateur"><div class="text-left">Aide utilisateur</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
    {% endif %}



{% endblock content %}


{% block scriptsTr %}

    $('#idPanelHeading').hide();


{% endblock scriptsTr %} 
