<li><a href="{{ path('aeag_homepage') }}"><i class="fa fa-home"></i>&nbsp; Accueil</a></li>

{%if app.session.get('menu') == 'referentiel'%}
    <li  class="active">
    {% else %}
    <li>
    {%endif%}
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
        {%if app.session.get('menu') == 'referentiel'%}<span class="selected"></span>{%endif%}
        Référentiel
        <i class="fa fa-angle-down"></i>     
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a href="javascript:;">
                Sandre
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_parametres') }}">Paramètres</a></li>
                <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_supports') }}">Supports</a></li>
                    {#                           <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_fractions') }}">Fractions</a></li>#}
                <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_unites') }}">Unités de mesure</a></li>
                <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_methodes') }}">Méthodes</a></li>
                <li><a href="{{ path('AeagSqeBundle_referentiel_sandre_zone_verticale_prospectees') }}">Zones verticales prospectées</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a  href="javascript:;">
                Aeag
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('AeagSqeBundle_referentiel_pg_ref_station_mesures') }}">Stations de mesure</a></li>
                <li><a href="{{ path('AeagSqeBundle_referentiel_pg_ref_reseau_mesures') }}">Réseaux de mesure</a></li>
                    {#                           <li><a href="{{ path('AeagSqeBundle_referentiel_pg_ref_site_prelevement') }}">Sites de prélèvement</a></li>#}
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a  href="javascript:;">
                Programmation
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('AeagSqeBundle_referentiel_groupes') }}">Groupes de paramètres</a></li>
                    {#                            <li><a href="{{ path('AeagSqeBundle_referentiel_lots') }}">Lots</a></li>#}
            </ul>
        </li>
    </ul>
</li>   


{%if app.session.get('menu') == 'donnees'%}
    <li  class="active">
    {% else %}
    <li>
    {% endif %}   
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
        {%if app.session.get('menu') == 'echangeFichier'%}<span class="selected"></span>{%endif%}
        Données
        <i class="fa fa-angle-down"></i>     
    </a>

    <ul class="dropdown-menu">
        <li><a href="{{ path('AeagSqeBundle_echangefichiers_index')}}">Echange EDI LABO</a></li>
            {% if  not app.session.get('evolution')%}
            <li><a href="{{ path('AeagSqeBundle_depotHydrobio_index')}}">Dépôt Hydrobio</a></li>
            {% endif %}   
            {% if app.session.get('suiviDonnees') %}
            <li><a href="{{ path('AeagSqeBundle_saisieDonnees_index')}}">Saisie Terrain / Labo</a></li>
            {% endif %}   
    </ul>
</li>

{% if app.session.get('suiviDonnees')  or app.session.get('suiviHb') or app.session.get('suiviQHb') or app.session.get('suiviSED') %}

    {%if  app.session.get('menu') == 'syntheseHydrobio' or app.session.get('menu') == 'suiviHydrobio' or app.session.get('menu') == 'suiviSediment'%}
        <li  class="active">
        {% else %}
        <li>
        {% endif %}   
        <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="javascript:;">
            {%if app.session.get('menu') == 'programmation'%}<span class="selected"></span>{%endif%}
            Suivi des prélèvements
            <i class="fa fa-angle-down"></i>     
        </a>

        <ul class="dropdown-menu">
            <li><a href="{{ path('AeagSqeBundle_suiviHydrobio_index')}}">Hydrobio</a></li>
                {% if app.session.get('suiviQHb') %}
                <li><a href="{{ path('AeagSqeBundle_suiviHydrobio_synthese')}}">Qualification Hydrobio</a></li>
                {% endif %}
                {% if app.session.get('suiviSED') %}
                <li><a href="{{ path('AeagSqeBundle_suiviSediment_index')}}">Sédiment</a></li>
                {% endif  %}
                {# {% if  not app.session.get('evolution')%}#}
                {% if app.session.get('suiviEau') %}
                <li><a href="{{ path('AeagSqeBundle_suiviEau_index')}}">Eau</a></li>
                {% endif %}
                {#{% endif %}#}
        </ul>
    </li>
{% endif %}



{#<li>
    <a href="{{ asset('bundles/aeagsqe/doc/manuel-utilisateur.pdf') }}" target="_blank">Aide</a>
</li>#}

{%if app.session.get('menu') == 'contact'%}
    <li  class="active">
    {% else %}
    <li>
    {% endif %}
    <a href="{{ path('aeag_sqe_envoyerMessage') }}">
        Contact
    </a>
</li>
