
{% if nbEtats > 0 %} 
         <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading{{ etatGroupe.cdGroupe }}">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ etatGroupe.cdGroupe }}" aria-expanded="true" aria-controls="collapse{{ etatGroupe.cdGroupe }}">
                  {{etatGroupe.libelle}}
                </a>
               </h4>
            </div>
            <div id="collapse{{ etatGroupe.cdGroupe }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ etatGroupe.cdGroupe }}">
              <div class="panel-body">
                 <div class="row row-border">
                     {% if  is_granted("ROLE_COMMENTATEUREDL") %}
                      <div class="col-sm-1 alert  alert-info">Action</div>
                     {% endif %}
                    <div class="col-sm-7 alert  alert-info">Libelle</div>
                   <div class="col-sm-2 alert  alert-info">Valeur provisoire</div>   
                   <div class="col-sm-2 alert  alert-info">Proposition STL</div>
                </div>
                  {% for etat in etats %}
                      <div id="divEtat-{{ etat.euCd }}-{{ etat.cdEtat }}">
                       {{ render(controller('AeagEdlBundle:Etat:etatListProposed', {'euCd':etat.euCd, 'cdEtat':etat.cdEtat})) }}
                      </div>
                      </br>
                  {% endfor %}
              </div>
            </div>
          </div>
 {% endif %} 
 
 
