  {% if proposeds | length > 0 %} 
        <table class="table table-hover" id='idtableProposed-{{ cdGroupe }}-{{ etat.euCd }}-{{ etat.cdEtat }}'>
            <tr class="active">
                {% if  is_granted("ROLE_COMMENTATEUREDL") %}
                    <td width="1%">Action</td>
                    <td width="10%">Date</td>
                {% else %}
                    <td width="10%">Date</td>   
                {% endif %}
                <td width="20%">Auteur</td>   
                <td width="40%">Commentaire</td>
                <td width="19%">Etat  proposée</td>  
            </tr>
            {% set i = 1 %}
            {% for pp in proposeds %}
                <tr id="rowProposed-ligne-{{ cdGroupe }}-{{ etat.euCd }}-{{ etat.cdEtat }}-{{ i }}">
                    {% if  is_granted("ROLE_COMMENTATEUREDL") %}
                        <td>
                            {% if  is_granted("ROLE_COMMENTATEUREDL") and  pp.role ==  'local' and pp.utilisateur.id == user.id %} 
                                <a id="removeEtat-{{ cdGroupe }}-{{ etat.euCd }}-{{ etat.cdEtat }}-{{ i }}"  title="Supprimer cette proposition" login="{{ pp.utilisateur.id }}" propositionDate="{{ pp.propositionDate }}">
                                    <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i> </button>
                                </a>
                            {% elseif  is_granted("ROLE_SUPERVISEUREDL") %}
                                <a id="removeEtat-{{ cdGroupe }}-{{ etat.euCd }}-{{ etat.cdEtat }}-{{ i }}" title="Supprimer cette proposition" login="{{ pp.utilisateur.id }}" propositionDate="{{ pp.propositionDate }}">
                                    <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i> </button>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {{ pp.propositionDate }}
                        </td>
                    {% else %}
                        <td>
                            {{ pp.propositionDate }}
                        </td> 
                    {% endif %}

                    <td>
                        {% if pp.role == 'local' %}
                            Acteur local : {{ pp.utilisateur.username }}
                        {% else %}
                            Expert : {{ pp.utilisateur.username }}
                        {% endif %}
                    </td>   
                    <td>
                        {{ pp.commentaire }}
                    </td>
                    <td id="LibProposed-ligne-{{ cdGroupe }}-{{ etat.euCd }}-{{ etat.cdEtat }}-{{ i }}">
                        <span class="dce_etat_{{ pp.valeur }}">{{ pp.getValueLib() }}</span>
                    </td>  
                    </tr>

                    {% set i = i + 1 %}
                {% endfor %}
        </table>
    {% endif %} 

     <script type="text/javascript">
            
        {% set i = 1 %}
             
           {% for pp in proposeds %}
                              $('#removeEtat-{{ cdGroupe}}-{{ etat.euCd }}-{{ etat.cdEtat }}-{{ i }}').click(function (e) {
                               e.preventDefault();
                               // obtenir l'url
                               var $url = "{{ path('AeagEdlBundle_removeEtat') }}";
                               idTr = '#rowProposed-ligne-{{ cdGroupe}}-{{ etat.euCd }}-{{ etat.cdEtat }}-{{ i }}';
                               {% if  i > 1 %}
                                    {% if i == proposeds | length %}
                                         libPrec = $('#LibProposed-ligne-{{ cdGroupe}}-{{ etat.euCd }}-{{ etat.cdEtat }}-{{ i - 1}}').html();
                                      {% else %}
                                        libPrec = $('#LibProposed-ligne-{{ cdGroupe}}-{{ etat.euCd }}-{{ etat.cdEtat }}-{{ i + 1}}').html();  
                                     {% endif %}
                                   $(idTr).remove();
                               {% else %}
                                   libPrec = '';
                                   $('#idtableProposed-{{ cdGroupe }}-{{ etat.euCd }}-{{ etat.cdEtat }}').remove();
                               {% endif %}
                               var $div = "#tdProposition-{{ cdGroupe}}-{{ etat.euCd }}-{{ etat.cdEtat }}";
                                 $($div).empty().append('Proposition : ' + libPrec);
                            // lancer la requête ajax  
                               $.post($url,
                                       {
                                           cdGroupe: "{{ cdGroupe }}",
                                           euCd: "{{ etat.euCd }}",
                                           cdEtat: "{{ etat.cdEtat }}",
                                           login: $(this).attr('login'),
                                           propositionDate: $(this).attr('propositionDate')
                                       },
                               function (data) {
                                   // placer le formulaire sous le div
                                    idTr = '#divEtat-{{ cdGroupe}}-{{ etat.euCd }}-{{ etat.cdEtat }}';
                                  }
                               ).error(function () {
                                   // rétablir curseur
                                   alert("Erreur non déterminée");
                               });
                           });
                            {% set i = i + 1 %}
                {% endfor %}
    
    </script>
     



