
<div id="formEtatListProposed{{ etat.cdEtat }}">
         <input type='hidden' id='UrlActuel' value="{{ path('AeagEdlBundle_etat', { 'code': etat.euCd }) }}" /> 
        <input type='hidden' id='newEtatRoute' value="{{ path('AeagEdlBundle_etatForm') }}" /> 
        <tr>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED")and is_granted("ROLE_COMMENTATEUREDL") %}
                <td width="5%"><a id="newEtat{{ etat.cdEtat }}" title="Proposer une nouvelle évaluation" cdEtat="{{ etat.cdEtat }}">
                        <i class="fa fa-commenting fa-2x"></i> 
                    </a>
                </td>
           {% else %}
                <td width="10%"></td>
           {% endif %}
            <td align="left" width="70%">{{ etat.type.libelle }}</td>
            <td width="10%" nowrap><span class="dce_etat_{{ etat.valeur }}">{{ etat.getValueLib() }}</span></td>
       {% if derniereProp %}
            <td width="10%" nowrap><span class="dce_etat_{{ derniereProp.valeur }}">{{ derniereProp.getValueLib() }}</span></td>
       {% else %}
            <td width="10%" nowrap></td>
       {% endif %}
        </tr>
        <div id="EtatsParametre">  
            <div id="divProposed{{ etat.cdEtat }}">
             {% if etat.proposed|length > 0 %} 
                 <tr>
                    <td colspan=4>
                        <table class="table" cellspacing="0" width="90%" align="right">
                            <tr>
                                <th nowrap width="5%">Action</th>
                                <th nowrap width="5%">Date</th>
                                <th nowrap width="5%">Auteur</th>
                                <th nowrap width="55%">Commentaire</th>
                                <th nowrap width="10%">Etat proposé</th>
                           </tr>
                           {% set i = 1 %}
                           {% for pp in etat.proposed %}
                            <div id="EtatsProposed{{i}}">
                                  <tr>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED")and is_granted("ROLE_COMMENTATEUREDL") and  pp.role ==  'local' and pp.utilisateur.id == user.id %} 
                                    <td width="5%"><a name="removeEtat{{ pp.cdEtat }}" title="Supprimer cette proposition" login="{{ pp.utilisateur.id }}" propositionDate="{{ pp.propositionDate }}">
                                            <i class="fa fa-remove fa-2x"></i> 
                                        </a>
                                    </td>
                                        {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED")and is_granted("ROLE_SUPERVISEUREDL") %}
                                    <td width="10%"><a name="removeEtat{{ pp.cdEtat }}" title="Supprimer cette proposition" login="{{ pp.utilisateur.id }}" propositionDate="{{ pp.propositionDate }}">
                                            <i class="fa fa-remove fa-2x"></i> 
                                        </a>
                                    </td>
                                        {% else %}
                                    <td width="10%"></td>
                                        {% endif %}
                                    <td width="5%" nowrap>{{ pp.propositionDate }}</td>
                                    {% if pp.role == 'local' %}
                                    <td width="5%" nowrap>acteur local : {{ pp.utilisateur.username }}</td>
                                    {% else %}
                                    <td width="5%" nowrap>expert : {{ pp.utilisateur.username }}</td>
                                    {% endif %}
                                    <td width="55%" align="left">{{ pp.commentaire }}</td>
                                    <td width="10%" nowrap><span class="dce_etat_{{ pp.valeur }}">{{ pp.getValueLib() }}</span></td>
                               </tr>
                          </div>

                            {% set i = i + 1 %}
                            {% if i > 2 %}
                            {% set i = 1 %}
                            {% endif %}
                            {% endfor %}
                      </table>
                    </td>
                </tr>
             {% endif %}
         </div>
        </div>
     <div id ="divNewEtat{{ etat.cdEtat }}"></div> 
</div>

     <div class="modal fade" id="modalEtatEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><div class="label label-primary">Proposer une nouvelle évaluation</div></h4>
        </div>
        <div id="idEtatEdit" class="modal-body"></div>
        <div class="modal-footer">
          <button id="annuler" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <button  id="valider" type="button" class="btn btn-primary">valider</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<script type="text/javascript">

    $(document).ready(function () { 	// Sur clic "Proposer un nouvel etat"
        $('#newEtat{{ etat.cdEtat }}').click(function (e) {
            $('#modalTraitementEncours').modal('toggle');
            e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
            //conserver l'url actuel
            var $urlActuel = $('input#UrlActuel').val();
            // obtenir l'url
            var $url = $('input#newEtatRoute').val();
            // conserver l'id du div qui hébergera le formulaire de saisie
            var $div = "#divNewEtat{{ etat.cdEtat }}";
            $.post($url,
                    {
                        euCd: "{{ etat.euCd }}",
                        cdEtat: "{{ etat.cdEtat }}"
                    },
            function (data) {
                $('#idEtatEdit').empty().append(data);
                $('#modalEtatEdit').modal();
                $('#modalTraitementEncours').modal('hide');
            }
            ).error(function () {
                // rétablir curseur
                $("body").css("cursor", "auto");
                alert("Erreur non déterminée");
            });

        });

        $('a[name="removeEtat{{ etat.cdEtat }}"]').click(function (e) {
            $("body").css("cursor", "wait");

            // obtenir l'url
            var $url = "{{ path('AeagEdlBundle_removeEtat') }}";

            // lancer la requête ajax  
            $.post($url,
                    {
                        euCd: "{{ etat.euCd }}",
                        cdEtat: "{{ etat.cdEtat }}",
                        login: $(this).attr('login'),
                        propositionDate: $(this).attr('propositionDate')
                    },
            function (data) {
                // placer le formulaire sous le div
                $("#divEtat-{{ etat.euCd }}-{{ etat.cdEtat }}").html(data);

                // rétablir curseur
                $("body").css("cursor", "auto");
            }
            ).error(function () {
                // rétablir curseur
                $("body").css("cursor", "auto");
                alert("Erreur non déterminée");
            });
        });
    });
</script>





