{% extends "AeagEdlBundle::layout.html.twig" %}


{% block content %}



<div class="block-content"> 
    <h1>Masse d'eau {{ me.euCd }}</h1>

    <div class="columns">

        <div class="colx3-left-double">
            <div class="align-center">
                <h2>{{ me.nomMasseEau }}</h2>

                <img width="100px" height="100px" src="http://adour-garonne.eaufrance.fr/porteau/index.php/carto/vignetteMasdo?id={{ me.euCd }}"/>
            </div>
        </div>
        <div class="colx3-right" width="10%">
            <div class="align-left">
                <a class="big-button blue" TARGET="_blanck" href="http://adour-garonne.eaufrance.fr/massedeau/{{me.euCd}}">Voir la fiche sur le portail de bassin</a>
            </div>
        </div>
    </div>

    <div class="controls-buttons"> 
        <a class="button red" href="#">Etats</a>
        <a class="button" href="{{ path('AeagEdlBundle_pressionGroupe', {'code':me.euCd}) }}">Pressions</a>
       
    </div>


</div>    






<div class="block-content"> 

    <h1>Etats de la masse d'eau  {{ me.euCd }}</h1>



    <!-- --------------------------------- ETATS ----------------------------------------- -->        
    <div id="tabEtats">
        <input type='hidden' id='euCd' value="{{ me.euCd }}" />
        <br>
        <dl class="accordion"> 
            {% for etatGroupe in etatGroupes %}

                {{ render(controller('AeagEdlBundle:Default:etat', {'code': me.euCd, 'cdGroupe': etatGroupe.cdGroupe})) }}
                  


            {% endfor %}
        </dl>
        <br><br>
        <div align="center">
            <a  href="{{ url }}">
                <img src="{{ asset('bundles/aeageedl/images/icons/web-app/24/Exit.png')}}" width="24" height="24">
            </a>
        </div>

    </div>    


{% endblock content %}

