<form class="form-horizontal" id="idFormNewSuivi" role="form" action="{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_new",{"prelevId":  prelev.id, "periodeAnId": periodeAnId}) }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>

    <div class="form-group">
        <label class="col-xs-3 control-label">Date :</label>
        {%if form_errors(form.datePrel) %}
            <div class="col-xs-8 input-group has-error has-feedback">
            {% else %}
                <div class="col-xs-8 input-group">
                {% endif %}
                {{ form_widget(form.datePrel, { 'attr': {'class': 'form-control ', 'placeholder': 'Date'} }) }}
            </div>
        </div> 

        <div class="form-group">
            <label class="col-xs-3 control-label">Statut :</label>
            {%if form_errors(form.statutPrel) %}
                <div class="col-xs-8 input-group has-error has-feedback">
                {% else %}
                    <div class="col-xs-8 input-group">
                    {% endif %}
                    {{ form_widget(form.statutPrel, { 'attr': {'class': 'form-control ', 'placeholder': 'Statut'} }) }}
                </div>
            </div> 

            {% if is_granted("ROLE_ADMINSQE") %}
                <div class="form-group">
                    <label class="col-xs-3 control-label">Validation :</label>
                    {%if form_errors(form.validation) %}
                        <div class="col-xs-8 input-group has-error has-feedback">
                        {% else %}
                            <div class="col-xs-8 input-group">
                            {% endif %}
                            {{ form_widget(form.validation, { 'attr': {'class': 'form-control ', 'placeholder': 'validation'} }) }}
                        </div>
                    </div> 
                {% endif %}

                <div class="form-group">
                    <label class="col-xs-3 control-label">Commentaire : </label>
                    {%if form_errors(form.commentaire) %}
                        <div class="col-xs-8 input-group has-error has-feedback">
                        {% else %}
                            <div class="col-xs-8 input-group">
                            {% endif %}
                            {{ form_widget(form.commentaire, { 'attr': {'class': 'form-control ', 'placeholder': 'Commentaire'} }) }}
                        </div>
                    </div> 


                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Annuler</button>
                            <button id="btvalider" type="button" class="btn btn-success"><i class="fa fa-check"></i>Valider</button>
                        </div>
                    </div>   



                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>  
                    </form>      

                    <script type="text/javascript" language="javascript">
                        
                        jQuery(document).ready(function() {

                        $('#datePrel').datetimepicker(
                            {language:  'fr',
                             format: 'dd/mm/yyyy hh:ii'
                             }
                           );

                        $(document).on('change', '#statutPrel', function (e) {
                            e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                            if ($('#statutPrel').val() != 'N') {
                                $('#commentaire').removeAttr('required');
                            } else {
                                $('#commentaire').prop('required',true);
                            }
                            ;
                        });
                        
                        $(document).on('change', '#validation', function (e) {
                            e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                            if ($('#validation').val() != 'R') {
                                $('#commentaire').removeAttr('required');
                            } else {
                                $('#commentaire').prop('required', true);
                            }
                            ;
                        });
                        
                         $(document).on('click','#btvalider',function(e){
                             var erreur = false;
                             if ( $('#datePrel').val() ==  '') 
                            {
                                alert("Veuillez saisir une date  svp");
                                erreur = true;

                            }
                            
                            if ( ($('#statutPrel').val() == 'N' && $('#commentaire').val() == '')  || ($('#validation').val() == 'R' && $('#commentaire').val() == '') )
                            {
                                alert("Veuillez saisir un commentaire svp");
                                erreur = true;

                            }
                            
                            if (!erreur){
                                e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                                $('#modalTraitementEncours').modal('toggle');
                                $('#idFormNewSuivi').submit();
                                $('#modalTraitementEncours').modal('hide');
                            }
                          });
                  
                        });

                    </script>