{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li>
        <a href="{{ path('AeagSqeBundle_suiviHydrobio_index') }}">Suivi Hydrobio</a> 
    </li>
    <li>
        <a href="{{ path('AeagSqeBundle_suiviHydrobio_index') }}">Lots</a> 
    </li>
    <li>
        <a href="{{path('AeagSqeBundle_suiviHydrobio_lot_periodes',{ 'lotanId': lotan.id })}}">Périodes</a> 
    </li>
    <li class="active">
        Stations
    </li>
{% endblock breadcrumb %} 

{% block modal %}
    
    {#modal nouveau suivi #}
                    <div class="modal fade" id="modalNouveauSuivi" >
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="labelModalNouveauSuivi"></h4>
                                </div>
                                <div class="modal-body">
                                    <div id="idModalContentNouveauSuivi"></div>
                                </div>   
                            </div>
                        </div>
                    </div>

    {%if stations | length%} 
        {% for station in stations %}
            {% if  station.cmdPrelevs | length %}
                {% for cmdPrelev in station.cmdPrelevs %}
                    

                    {#modal saisie des résultats #}
                    <div class="modal fade" id="modalArchive{{ cmdPrelev.cmdPrelev.id }}" >
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h4 class="modal-title" id="myModalLabel">Historique des suivis de la station  {{ station.station.code }}  sur le support : {{ cmdPrelev.cmdPrelev.codeSupport.nomSupport }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div id="idModalContentSaisir{{ cmdPrelev.cmdPrelev.id }}">
                                        <table class="table table-bordered  table-advance" id="idTable_{{ cmdPrelev.cmdPrelev.id }}">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Statut</th>
                                                    <th>validation</th>
                                                    <th>Commentaire</th>
                                                    <th>Fichier joint</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%if cmdPrelev.suiviPrels | length%} 
                                                    {% for suiviPrel  in cmdPrelev.suiviPrels %}
                                                        {% if suiviPrel.suiviPrel %}
                                                            <tr>
                                                                <td>
                                                                    {{ suiviPrel.suiviPrel.datePrel | date("d/m/Y") }}
                                                                </td>
                                                                <td> 
                                                                    {% if suiviPrel.suiviPrel.statutPrel == 'P' %}
                                                                        Prévisionnel
                                                                    {% elseif suiviPrel.suiviPrel.statutPrel == 'F' %}
                                                                        Effectué
                                                                    {% elseif suiviPrel.suiviPrel.statutPrel == 'N' %}
                                                                        Non effectué
                                                                    {% elseif suiviPrel.suiviPrel.statutPrel == 'A' %}
                                                                        Analyses effectuées
                                                                    {% elseif suiviPrel.suiviPrel.statutPrel == 'V' %}
                                                                        Validé
                                                                    {% elseif suiviPrel.suiviPrel.statutPrel == 'R' %}
                                                                        Réfusé
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if suiviPrel.suiviPrel.validation == 'E' %}
                                                                        En attente
                                                                    {% elseif suiviPrel.suiviPrel.validation == 'R' %}
                                                                        Refusé
                                                                    {% elseif suiviPrel.suiviPrel.validation == 'A' %}
                                                                        Accepté
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {{ suiviPrel.suiviPrel.commentaire | nl2br }}
                                                                </td>
                                                                <td>
                                                                    {% if suiviPrel.suiviPrel.fichierRps %}
                                                                        {% if suiviPrel.suiviPrel.fichierRps.nomFichier %}
                                                                            <a id="idTelechargerSuivi{{ suiviPrel.suiviPrel.id }}" class="btn btn-success btn-telecharger" href="{{path('AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_fichier_telecharger',{'suiviPrelId': suiviPrel.suiviPrel.id })}}" title="Télécharger le fichier terrain">
                                                                               <i class="fa fa-upload"></i> 
                                                                           </a>
                                                                         {% endif %}
                                                                     {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>   
                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>

                    {%if cmdPrelev.suiviPrels.0.suiviPrel | length%} 
                        {#modal maj suivi #}
                        <div class="modal fade" id="maj-{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}" >
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content" >
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Suivi Hydrobio de la station  {{ station.station.code }}  sur le support : {{ cmdPrelev.cmdPrelev.codeSupport.nomSupport }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="idModalContentMajSuivi{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}"></div>
                                    </div>  
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>



                        {#modal suppression suivi #}                          
                        <div class="modal fade" id="sup-{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="supLabel-{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}">Suppression du suivi Hydrobio de la station  {{ station.station.code }}  sur le support : {{ cmdPrelev.cmdPrelev.codeSupport.nomSupport }} </h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Cliquer sur la corbeille pour valider la suppression du suivi {{ cmdPrelev.suiviPrels.0.suiviPrel.datePrel | date("d/m/Y") }}</h4>
                                        <br/><br/>
                                        <div class="alert alert-danger">Attention : Une fois supprimée, le suivi hydobio sera supprimé définitivement</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Annuler</button>
                                        <a  id="idSupprimerGroupe"  class="btn btn-danger"  href="{{ path('AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_supprimer', { 'suiviPrelId': cmdPrelev.suiviPrels.0.suiviPrel.id, 'periodeAnId': periodeAn.id }) }}" title="Supprimer">
                                            <i class="fa fa-trash-o"> Supprimer</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    {% endif %}
                {% endfor %}
            {% endif%}
        {% endfor %}
    {% endif %}
    
      {#modal integrer fichier #}
                        <div class="modal fade" id="integrerFichier" >
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content" >
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        {% if demande %}
                                             <h4 class="modal-title" id="integrerFichierHeader">Integration d'un fichier de suivi de la demande du {{ demande.dateDemande | date("d/m/Y") }}</h4>
                                        {% else %}
                                             <h4 class="modal-title" id="integrerFichierHeader">Integration d'un fichier de suivi </h4>
                                         {% endif %}
                                    </div>
                                    <div class="modal-body">
                                        <div id="idModalContentIntegrerFichier"></div>
                                    </div>  
                                   <div class="modal-footer">
                                        <div class="form-group">
                                                <div class="col-xs-offset-4 col-xs-8">
                                                         <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Annuler</button>
                                                 </div>
                                           </div>        
                                    </div>
                                </div>
                            </div>
                        </div>
                                    
            {#modal integrer plusieurs fichiers #}
                        <div class="modal fade" id="importerFichier" >
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content" >
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        {% if demande %}
                                             <h4 class="modal-title" id="importerFichierHeader">Importation de plusieurs fichiers de terrain de la demande du {{ demande.dateDemande | date("d/m/Y") }}</h4>
                                        {% else %}
                                             <h4 class="modal-title" id="importerFichierHeader">mportation de plusieurs fichiers de terrain  </h4>
                                         {% endif %}
                                    </div>
                                    <div class="modal-body">
                                        <div id="idModalContentImporterFichier"></div>
                                    </div>  
                                    <div class="modal-footer">
                                        <div class="form-group">
                                                <div class="col-xs-offset-4 col-xs-8">
                                                         <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Annuler</button>
                                                 </div>
                                           </div>        
                                    </div>
                                </div>
                            </div>
                        </div>

{% endblock modal %}

{%block panel_heading %}
             <h3 class="page-title text-center">
                Liste des stations entre le  {{ periodeAn.periode.dateDeb | date("d/m/Y") }}&nbsp;&nbsp;et&nbsp;&nbsp; {{ dateFin | date("d/m/Y") }}</br>
                 {{ lotan.lot.nomLot }} - {{ lotan.anneeProg }}  - version :  {{ lotan.version }}
             </h3>
  {%endblock panel_heading %}

{%block content %}
     {% if is_granted('ROLE_PRESTASQE') %}
            <div class="row">
                <div class="col-md-offset-3 col-md-7">
                     <a id="idImporterFichier" class="btn btn-primary"  title="Intégrer plusieurs fichiers de suivi">
                         <i class="fa fa-download"> Intégrer plusieurs fichiers de terrain</i> 
                      </a>
                       ou
                       <a id="idIntegrerFichier" class="btn btn-primary"  title="Intégrer un fichier de suivi">
                         <i class="fa fa-download"> Intégrer un fichier de suivi</i> 
                      </a>
                    {% if rapport %}
                         <a  class="btn btn-default"  href="{{path("AeagSqeBundle_suiviHydrobio_lot_periode_stations_telecharger_rapport",{"periodeAnId": periodeAn.id ,"fichier": rapport})}}" title="Rapport d'integration du fichier de suivi">
                            <i class="fa fa-book"> Rapport d'integration</i> 
                         </a>
                   {% endif %}
                  </div>
            </div>
          {% endif %}

    <div class="form-body">        
        <table class="table table-bordered t table-advance" id="idTable_demandes">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Station</th>
                    <th>Libellé</th>
                    <th>Réseau</th>
                    <th>Autres prélèvements</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Validation</th>
                </tr>
            </thead>
            <tbody>
                {%if stations | length%} 
                    {% for station in stations %}
                        {% if  station.cmdPrelevs | length %}
                            {% for cmdPrelev in station.cmdPrelevs %}
                                <tr>
                                    <td width="10%" nowrap>
                                        {% if is_granted('ROLE_PRESTASQE') %}
                                            {% if  cmdPrelev.suiviPrels.0.maj == 'O' %}
                                                <a class="btn btn-success" id="idNouveauSuivi{{ cmdPrelev.cmdPrelev.id  }}" href="#" title="Nouveau suivi">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                        {%if cmdPrelev.suiviPrels.0.suiviPrel | length%}
                                            <a id="idVoirSuivi{{ cmdPrelev.cmdPrelev.id }}" class="btn btn-primary" href="#" title="consulter l'historique">
                                                <i class="fa fa-archive"></i> 
                                            </a>
                                            
                                            {% if cmdPrelev.suiviPrels.0.suiviPrel.statutPrel  == 'F' %}
                                                {% if  not cmdPrelev.suiviPrels.0.suiviPrel.fichierRps %}
                                                    {% if is_granted('ROLE_PRESTASQE') %}
                                                    <a id="idDeposerSuivi{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}" class="btn btn-primary btn-deposer-reponse"  title="Déposer un fichier terrain">
                                                        <i class="fa fa-download"></i> 
                                                    </a>
                                                    {% endif %}
                                                {% else %}
                                                     {% if cmdPrelev.suiviPrels.0.suiviPrel.fichierRps.nomFichier %}
                                                        <a id="idTelechargerSuivi{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}" class="btn btn-success btn-telecharger" href="{{path('AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_fichier_telecharger',{'suiviPrelId': cmdPrelev.suiviPrels.0.suiviPrel.id })}}" title="Télécharger le fichier terrain">
                                                            <i class="fa fa-upload"></i> 
                                                        </a>
                                                       {% endif %}
                                                 {% endif %}
                                            {% endif %}
                                            {% if is_granted('ROLE_ADMINSQE') %}
                                                <a  id="idMaj-{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}" class="btn btn-warning"  title="valider le suivi">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                                <a class="btn btn-danger" data-toggle="modal" href="#sup-{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}" title="Supprimer le suivi">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}

                                    </td>
                                    <td>
                                        <a  href="{{ station.lien }}" target="_blank" title="Localisation">{{ station.station.code }}</a>
                                    </td>
                                    <td>
                                        {{ station.station.libelle }}
                                    </td>
                                    <td>
                                        {{ station.reseau.nomRsx }}
                                    </td>
                                    <td>
                                        {%if  cmdPrelev.autrePrelevs %}
                                             {% for autrePrelev in cmdPrelev.autrePrelevs  %}
                                                 {{ autrePrelev.datePrel | date("d/m/Y H:i") }} : {{ autrePrelev.support }} </br>
                                              {% endfor %}
                                        {% endif %}
                                    </td>
                                    {%if not cmdPrelev.suiviPrels.0.suiviPrel | length %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    {% else %}
                                          {% if cmdPrelev.suiviPrels.0.suiviPrel.validation  == 'A' %}
                                                <td class="success" nowrap>
                                                {% elseif cmdPrelev.suiviPrels.0.suiviPrel.validation  == 'R' %}
                                                <td class="danger" nowrap>
                                                {% else %}
                                                <td class="warning" nowrap>
                                              {% endif %}
                                             {{cmdPrelev.suiviPrels.0.suiviPrel.datePrel | date("d/m/Y H:i") }}
                                      </td>
                                        {% if cmdPrelev.suiviPrels.0.suiviPrel.validation  == 'A' %}
                                            <td class="success" nowrap>
                                            {% elseif cmdPrelev.suiviPrels.0.suiviPrel.validation  == 'R' %}
                                            <td class="danger" nowrap>
                                            {% else %}
                                            <td class="warning" nowrap>
                                          {% endif %}
                                            {% if cmdPrelev.suiviPrels.0.suiviPrel.statutPrel == 'P' %}
                                                Prévisionnel
                                            {% elseif cmdPrelev.suiviPrels.0.suiviPrel.statutPrel == 'F' %}
                                                Effectué
                                            {% elseif cmdPrelev.suiviPrels.0.suiviPrel.statutPrel == 'N' %}
                                                Non effectué
                                            {% endif %}
                                        </td>
                                          {% if cmdPrelev.suiviPrels.0.suiviPrel.validation  == 'A' %}
                                            <td class="success" nowrap>
                                            {% elseif cmdPrelev.suiviPrels.0.suiviPrel.validation  == 'R' %}
                                            <td class="danger" nowrap>
                                            {% else%}
                                            <td class="warning" nowrap>
                                            {% endif %}
                                            {% if cmdPrelev.suiviPrels.0.suiviPrel.validation  == 'A' %}
                                                Accepté
                                            {% elseif cmdPrelev.suiviPrels.0.suiviPrel.validation  == 'R' %}
                                               Refusé
                                            {% else %}
                                               En attente
                                              {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12 pull-right text-info">
                <ul class="list-inline">
                    <li><span class="label label-success">Accepté</span></li>
                    <li><span class="label label-warning">En attente</span></li>
                    <li><span class="label label-danger">Refusé</span></li>
                </ul>  
            </div>
        </div>        

    </div>
{%endblock content %}    


{% block scripts %}
    jQuery(document).ready(function() {

    var table = $('#idTable_demandes').DataTable(
    {"stateSave": true,
    "order": [[ 1, "asc" ]],
    "language": {
    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
    },
    "aLengthMenu": [
    [10, 25, 50, 100, -1],
    [10, 25, 50, 100, "Tous"]
    ],
    "iDisplayLength": -1
    }
    );

  $("#modalNouveauSuivi").draggable({
                    handle: ".modal-header"
                    }); 

    {%if stations | length%} 
        {% for station in stations %}
            {% if  station.cmdPrelevs | length %}
                {% for cmdPrelev in station.cmdPrelevs %}

                    $("#modalArchive{{ cmdPrelev.cmdPrelev.id }}").draggable({
                    handle: ".modal-header"
                    }); 
                    
                    

                    $(document).on('click','#idVoirSuivi{{ cmdPrelev.cmdPrelev.id }}',function(e){
                    e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                    $('#modalTraitementEncours').modal('toggle');
                    $('#modalArchive{{ cmdPrelev.cmdPrelev.id }}').modal('show');
                    $('#modalTraitementEncours').modal('hide');
                    });


                    $(document).on('click','#idNouveauSuivi{{ cmdPrelev.cmdPrelev.id }}',function(e){
                    e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                    $('#modalTraitementEncours').modal('toggle');
                    var url = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_new",{"prelevId":  "par1", "periodeAnId": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                    url = url.replace("par1", {{ cmdPrelev.cmdPrelev.id }});
                    url = url.replace("par2", {{ periodeAn.id }});
                    url = url.replace("amp;","");
                    $.ajax({
                    url: url,
                    type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                    success: function(html) { // Je récupère la réponse du fichier PHP
                    $('#idModalContentNouveauSuivi').empty().append(html);
                    var html = 'Suivi Hydrobio de la station  {{ station.station.code }} sur le support :  {{ cmdPrelev.cmdPrelev.codeSupport.nomSupport }}';
                    $('#labelModalNouveauSuivi').html(html);
                    $('#modalNouveauSuivi').modal('show');
                    $('#modalTraitementEncours').modal('hide');
                    }
                    });
                    });

                    {%if cmdPrelev.suiviPrels.0.suiviPrel | length%} 

                        $(document).on('click','#idMaj-{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}',function(e){
                        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                        $('#modalTraitementEncours').modal('toggle');
                        var url = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_maj",{"suiviPrelId":  "par1", "periodeAnId": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                         url = url.replace("par1", {{ cmdPrelev.suiviPrels.0.suiviPrel.id }});
                         url = url.replace("par2", {{ periodeAn.id }});
                        url = url.replace("amp;","");
                        $.ajax({
                        url: url,
                        type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                        success: function(html) { // Je récupère la réponse du fichier PHP
                         $('#idModalContentNouveauSuivi').empty().append(html);
                        var html = 'Validation du suivi Hydrobio de la station  {{ station.station.code }} sur le support :  {{ cmdPrelev.cmdPrelev.codeSupport.nomSupport }}';
                        $('#labelModalNouveauSuivi').html(html);
                        $('#modalNouveauSuivi').modal('show');
                        $('#modalTraitementEncours').modal('hide');
                        }
                        });
                        });

                        $(document).on('click','#idDeposerSuivi{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}',function(e){
                        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                        $('#modalTraitementEncours').modal('toggle');
                        var url = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_deposer",{"suiviPrelId":  "par1", "periodeAnId": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                        url = url.replace("par1", {{ cmdPrelev.suiviPrels.0.suiviPrel.id }});
                        url = url.replace("par2", {{ periodeAn.id }});
                        url = url.replace("amp;","");
                        $.ajax({
                        url: url,
                        type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                        success: function(html) { // Je récupère la réponse du fichier PHP
                        $('#idModalContentMajSuivi{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}').empty().append(html);
                        $('#maj-{{ cmdPrelev.suiviPrels.0.suiviPrel.id }}').modal('show');
                        $('#modalTraitementEncours').modal('hide');
                        }
                        });
                        });

                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}              
    {% endif %}   
    
    $(document).on('click','#idIntegrerFichier',function(e){
                        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                        $('#modalTraitementEncours').modal('toggle');
                        var url = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_stations_integrer",{"periodeAnId": "par1"}) }}', // Le nom du fichier indiqué dans le formulaire
                        url = url.replace("par1", {{ periodeAn.id }});
                        url = url.replace("amp;","");
                        $.ajax({
                        url: url,
                        type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                        success: function(html) { // Je récupère la réponse du fichier PHP
                        $('#idModalContentIntegrerFichier').empty().append(html);
                        $('#integrerFichier').modal('show');
                        $('#modalTraitementEncours').modal('hide');
                        }
                        });
                        });
                        
       $(document).on('click','#idImporterFichier',function(e){
                        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                        $('#modalTraitementEncours').modal('toggle');
                        var url = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_stations_importer",{"periodeAnId": "par1"}) }}', // Le nom du fichier indiqué dans le formulaire
                        url = url.replace("par1", {{ periodeAn.id }});
                        url = url.replace("amp;","");
                        $.ajax({
                        url: url,
                        type: 'get', // La méthode indiquée dans le formulaire (get ou post)
                        success: function(html) { // Je récupère la réponse du fichier PHP
                        $('#idModalContentImporterFichier').empty().append(html);
                        $('#importerFichier').modal('show');
                        $('#modalTraitementEncours').modal('hide');
                        }
                        });
                        });
    

    });




{%endblock scripts %}    