         
     <div class="form-group">
         <label class="col-xs-3 control-label">Fichier terrain : </label>
         <div id="idResultat">
                <div id="idSelection" class="col-xs-7">
                       <form method="POST" enctype="multipart/form-data" action="#" id="idFormFichier">
                          <input class="form-control" type="file" name="file" >
                      </form> 
                </div>
                 <div class="col-xs-1">
                     <button type="button" id="idDeposer" class="btn btn-success" >Déposer</button> 
                     <button type="button" id="idSupprimer" class="btn btn-danger" >Supprimer</button> 
                  </div>
            </div>
         </div>

        <br><br>
        <div class="form-group text-center">
            <div class="col-xs-offset-2 col-xs-8 info alert-info text-info text-center">
                seul l'extension zip est acceptée et la taille du fichier doit ête inférieure à 100 MB. 
            </div>
        </div>

        <div class="form-group">
            <div id="idImportMessage" class="col-xs-offset-3 col-xs-5 alert alert-warning text-danger text-center" role="alert"></div>
            <div id="idImportProgress" class="col-xs-offset-3 col-xs-5 alert alert-info"><progress></progress></div>
            </br></br>
        </div>
       

    {#   <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
           <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i> Annuler</button>
        </div>
     </div>        
        #}
        <script type="text/javascript" language="javascript">
            
             jQuery(document).ready(function() {
           
                          
                    $('#idSupprimer').hide();
                    $('#idImportProgress').hide();
                    $('#idImportSupprimer').hide();
                    $('#idImportMessage').hide();
                    $('#idImportRapport').hide();
                    
                   $('#idAnnuler{{ suiviPrel.id }}').on('click', function (e) {
                        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                        if ($("#file").val() == '' ){
                                $('#maj-{{ suiviPrel.id }}').modal('hide');
                        }else{
                                var url1 = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_stations",{"periodeAnId": "par1"}) }}', // Le nom du fichier indiqué dans le formulaire
                                url1 = url1.replace("par1", {{ periodeAnId }});
                                url1 = url1.replace("amp;", "");
                                window.location.replace(url1);
                            };
                    });
             
                    $('#idDeposer').on('click', function (e) {
                         e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                         $('#idProgress').show();
                        var url = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_fichier_deposer",{"stationId": "par1", "suiviPrelId":  "par2", "periodeAnId": "par3"}) }}', // Le nom du fichier indiqué dans le formulaire
                         url = url.replace("par1", {{ stationId }});
                         url = url.replace("par2", {{ suiviPrel.id }});
                         url = url.replace("par3", {{ periodeAnId }});
                         url = url.replace("amp;","");
                         var formulaire = new FormData($('form')[0]);
                         $.ajax({
                                      url: url,
                                      type: 'post',
                                      xhr: function() { // xhr qui traite la barre de progression
                                            myXhr = $.ajaxSettings.xhr();
                                            if(myXhr.upload){ // vérifie si l'upload existe
                                            myXhr.upload.addEventListener('progress',afficherAvancement, false); // Pour ajouter l'évènement progress sur l'upload de fichier
                                            }
                                            return myXhr;
                                       },
                                      //Traitements AJAX
                                    {#  success: function(html) { // Je récupère la réponse du fichier PHP
                                            $('#tdFichierRps{{ suiviPrel.id }}').empty().append(html);
                                             $('#idMessage').show();
                                            $('#idMessage').empty().append(html).show();
                                             $('#idProgress').hide();
                                            $('#idDeposer').hide();
                                            $('#idSupprimer').show();
                                            var url = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_stations",{"suiviPrelId":  "par1", "periodeAnId": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                                            url = url.replace("par1", {{ suiviPrel.id }});
                                            url = url.replace("par2", {{ periodeAnId }});
                                            url = url.replace("amp;","");
                                            window.location.replace(url);
                                      },#}
                                      success: function (reponses) { // Je récupère la réponse du fichier PHP
                                            tabReponse = JSON.parse(reponses)
                                            fichier = tabReponse[0];
                                            rapport = tabReponse[1];
                                            tabMessages = tabReponse[2];
                                            tabRapports = tabReponse[3];
                                            ficRapport = tabReponse[4];
                                           var erreur = false;
                                           var nbMessage = 0;
                                            var html = "<ul>";
                                           for (var ii = 0; ii < tabMessages.length; ii++){
                                                    var typeMessage = tabMessages[ii][0];
                                                    if (typeMessage == 'ko'){
                                                      erreur = true;
                                                    }
                                                    var message = tabMessages[ii][1];
                                                   if (message){
                                                            nbMessage = nbMessage + 1;
                                                            html = html + '<li>' + message + '</li>';
                                                    }
                                            }
                                            html = html + '<ul>';
                                            if (nbMessage > 0){
                                                    $('#idImportMessage').show();
                                                    $('#idImportMessage').empty().append(html).show();
                                             }else{
                                                    var html = "</br>";
                                                    for (var ii = 0; ii < tabRapports.length; ii++){
                                                            var rapport = tabRapports[ii];
                                                            html = html + rapport + "</br>" ;
                                                     }
                                                     erreur = true;
                                                    $('#idImportMessage').show();
                                                    $('#idImportMessage').empty().append(html).show();
                                                    var urlRapport = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_stations_telecharger_rapport",{"periodeAnId": "par1", "fichier": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                                                    urlRapport = urlRapport.replace("par1", {{ periodeAnId }});
                                                    urlRapport = urlRapport.replace("par2", ficRapport);
                                                    urlRapport = urlRapport.replace("amp;", "");
                                                    html =  '<a  class="btn btn-info"  href="' + urlRapport + '" title="Rapport d\'integration du fichier de suivi">';
                                                    html = html + '<i class="fa fa-book"> Rapport d\'integration</i></a>';
                                                    $('#idImportRapport{{ suiviPrel.id }}').empty().append(html).show();
                                            }
                                            $('#idImportProgress').hide();
                                           if (!erreur){
                                                    var url1 = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_stations",{"periodeAnId": "par1"}) }}', // Le nom du fichier indiqué dans le formulaire
                                                            url1 = url1.replace("par1", {{ periodeAnId }});
                                                            url1 = url1.replace("amp;", "");
                                                    window.location.replace(url1);
                                           };          
                                        },
                                       error: function(html) { // Je récupère la réponse du fichier PHP
                                               {# $('#idResultat').empty().append('erreur lors du dépot');#}
                                                $('#idMessage').show();
                                                 $('#idMessage').empty().append(html).show();
                                                 $('#idProgress').hide();
                                      },
                                      data: formulaire,
                                      cache: false,
                                      contentType: false,
                                      processData: false
                             });
                   });
                   
                     $('#idSupprimer').on('click', function (e) {
                         e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
                           $('#idProgress').show();
                        var url = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_fichier_supprimer",{"suiviPrelId":  "par1", "periodeAnId": "par2"}) }}', // Le nom du fichier indiqué dans le formulaire
                         url = url.replace("par1", {{ suiviPrel.id }});
                         url = url.replace("par2", {{ periodeAnId }});
                         url = url.replace("amp;","");
                        $.ajax({
                                      url: url,
                                      type: 'post',
                                      xhr: function() { // xhr qui traite la barre de progression
                                            myXhr = $.ajaxSettings.xhr();
                                            if(myXhr.upload){ // vérifie si l'upload existe
                                            myXhr.upload.addEventListener('progress',afficherAvancement, false); // Pour ajouter l'évènement progress sur l'upload de fichier
                                            }
                                            return myXhr;
                                       },
                                      //Traitements AJAX
                                      success: function(html) { // Je récupère la réponse du fichier PHP
                                            $('#tdFichierRps{{ suiviPrel.id }}').empty();
                                            $('#idMessage').hide();
                                            $('#idProgress').hide();
                                            $('#idDeposer').show();
                                            $('#idSupprimer').hide();
                                      },
                                       error: function(html) { // Je récupère la réponse du fichier PHP
                                                {#$('#idResultat').empty().append('erreur lors du dépot');#}
                                                $('#idProgress').hide();
                                                $('#idDeposer').hide();
                                                 $('#idSupprimer').show();
                                                  $('#idMessage').empty().append(html).show();
                                      },
                                      cache: false,
                           });
                   });
                   
                   
                   function afficherAvancement(e){
                        if(e.lengthComputable){
                                  $('progress').attr({value:e.loaded,max:e.total});
                        }
                   }
              
        
       });
            
        </script>