<table class="table">
    <theading>
        <tr>
            <th></th>
            <th>Lundi {{joursemaine[0]}}</th>
            <th>Mardi {{joursemaine[1]}}</th>
            <th>Mercredi {{joursemaine[2]}}</th>
            <th>Jeudi {{joursemaine[3]}}</th>
            <th>Vendredi {{joursemaine[4]}}</th>
            <th>Samedi {{joursemaine[5]}}</th>
            <th>Dimanche {{joursemaine[6]}}</th>
        </tr>
    </theading>
    <tbody>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-info">station1 - support2 - presta1</button>
                <button type="button" class="btn btn-info">station1 - support1 - presta2</button>
                <button type="button" class="btn btn-warning">station2 - support1 - presta2</button>
            </td>
            <td></td>
            <td>
                <button type="button" class="btn btn-warning">station2 - support2 - presta1</button>
            </td>
            <td>
                <button type="button" class="btn btn-warning">station2 - support2 - presta2</button>
                <button type="button" class="btn btn-success">station3 - support1 - presta2</button>
            </td>
            <td>
                <button type="button" class="btn btn-info">station1 - support2 - presta2</button>
                <button type="button" class="btn btn-success">station3 - support1 - presta2</button>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>