<div class="row responsive">
    <div class="col-xm-12">
        <div class="small ">          
            <table class="table table-bordered  table-advance table-condensed table-responsive table-striped" id="idTablePrelevSuiviPrels">
                <thead>
                    <tr>
                        <th>N°ordre</th>
                        <th>Date</th>
                        <th>Statut</th>
                        <th>Validation</th>
                        <th>Avis</th>
                        <th>Commentaire</th>
                        <th>Fichier joint</th>
                    </tr>
                </thead>
                <tbody>
                    {%if cmdPrelev.suiviPrels | length%} 
                        {% for suiviPrel  in cmdPrelev.suiviPrels %}
                            {% if suiviPrel %}
                                <tr>
                                     <td>
                                        {{ suiviPrel.id }}
                                    </td>
                                    <td>
                                        <span class="hidden">{{ suiviPrel.datePrel | date("Y/m/d H:i") }}</span>
                                        {{ suiviPrel.datePrel | date("d/m/Y") }}
                                    </td>
                                     <td>
                                        {% if suiviPrel.statutPrel == 'P' %}
                                            Prévisionnel
                                        {% elseif suiviPrel.statutPrel == 'F' %}
                                            Effectué
                                        {% elseif suiviPrel.statutPrel == 'N' %}
                                            Non effectué
                                        {% elseif suiviPrel.statutPrel == 'A' %}
                                            Analyses effectuées
                                        {% elseif suiviPrel.statutPrel == 'V' %}
                                            Validé
                                        {% elseif suiviPrel.statutPrel == 'R' %}
                                            Reporté
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if suiviPrel.validation == 'E' %}
                                            En attente
                                        {% elseif suiviPrel.validation == 'R' %}
                                            Refusé
                                        {% elseif suiviPrel.validation == 'A' %}
                                            Accepté
                                        {% endif %}
                                    </td>
                                    <td>
                                       {% if suiviPrel.avis == 'F' %}
                                               {% if suiviPrel.validAuto == 'O' %}
                                                         Favorable (auto)
                                                {% elseif suiviPrel.validAuto == 'N' %}
                                                         Favorable (manu)
                                                {% else %}
                                                          Favorable
                                               {% endif %}
                                      {% elseif suiviPrel.avis == 'D' %}
                                                {% if suiviPrel.validAuto == 'O' %}
                                                          Défavorable (auto)
                                               {% elseif  suiviPrel.validAuto == 'N' %}
                                                          Défavorable (manu)
                                               {% else %}
                                                          Défavorable
                                               {% endif %}
                                      {% endif %}
                                      {% if  suiviPrel.commentaireAvis | length %}
                                                :<br/>{{ suiviPrel.commentaireAvis | nl2br }}
                                       {% endif %}
                                    </td>
                                    <td>
                                        {{ suiviPrel.commentaire | nl2br }}
                                    </td>
                                    <td>
                                        {% if suiviPrel.statutPrel  == 'F' %}
                                            {% if suiviPrel.fichierRps %}
                                                {% if suiviPrel.fichierRps.nomFichier %}
                                                    <a id="idTelechargerSuivi-{{ suiviPrel.id }}" class="btn btn-success btn-telecharger" data-id="{{ suiviPrel.id }}"  title="Télécharger le fichier terrain">
                                                        <i class="fa fa-upload"></i> 
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript" language="javascript">

    jQuery(document).ready(function () {
        $('#idTablePrelevSuiviPrels').DataTable(
                {"stateSave": false,
                    "order": [[0, "desc"]],
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                    },
                    "aLengthMenu": [
                        [10, 25, 50, 100, -1],
                        [10, 25, 50, 100, "Tous"]
                    ],
                    "iDisplayLength": 10
                }
        );

        $("#idTablePrelevSuiviPrels").draggable({
            handle: ".modal-header"
        });
        
         $('.btn-telecharger').click(function (e){
           e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
           $('#modalTraitementEncours').modal('toggle');
            var url = '{{ path("AeagSqeBundle_suiviHydrobio_lot_periode_station_demande_suivi_fichier_liste_fichiers",{"suiviPrelId":  "par1" }) }}';
            var suiviPrelId = $(this).data('id');
            url = url.replace("par1", suiviPrelId);
           $.ajax({
                url: url,
                type: 'get',
                success: function(html) {
                  $('#idListeFichiers').empty().append(html);
                   $('#modalTraitementEncours').modal('hide');
                   $('#modal_fichiers').modal();
                }
            });
         });
        
        
    });

</script>

