{% extends 'AeagDieBundle::layout.html.twig' %}

{% block navbar %}{% endblock navbar %}

{% block breadcrumb %}{% endblock breadcrumb %}

{%block panel_heading %}{%endblock panel_heading %}

{% block content %}
    
   <p class="alertDie alert-info" align="center">
        Veuillez utiliser le formulaire ci-dessous pour nous adresser votre demande d’information<br>
        (Tous les champs sont obligatoires)
    </p>


        <form  class="form" id="contact"  action="{{ path('aeag_die_createLight', {'theme' : theme}) }}"  method="post" {{ form_enctype(form) }}>

            {% spaceless %}
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        {% for children in form.children %}
                            {% if not children.vars.valid %}
                                {{ form_errors(children) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}


            {% endspaceless %}

         <table class="table tableDie table-striped table-condensed table-responsive" cellspacing="0" width="580px" align="center">

        <caption><h5 class="alertDie alert-info" align="center">Informations personnelles </h5></caption>
        <tbody>
            <tr>

                <td align="left" width="15%">{{ form_label(form.nom,'Nom') }}</td>
                <td width="85%">
                   {%if form_errors(form.nom) %}
                        <div class="col-xs-12 input-group has-error has-feedback">
                    {% else %}
                        <div class="col-xs-12 input-group">
                        {% endif %}
                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control ', 'placeholder': 'Nom'} }) }}
                    </div>
                  </td>
                     
            </tr>
            <tr>

                <td  align="left" width="15%" >{{ form_label(form.prenom, "Prénom") }}</td>
                <td width="85%">
                    {%if form_errors(form.prenom) %}
                                   <div class="col-xs-12 input-group has-error has-feedback">
                    {% else %}
                        <div class="col-xs-12 input-group">
                        {% endif %}
                        {{ form_widget(form.prenom, { 'attr': {'class': 'form-control ', 'placeholder': 'Prénom'} }) }}
                    </div>
                </td>
            </tr>

            <tr>

                <td align="left"  width="15%">{{ form_label(form.organisme, "Catégorie/Organisme") }}</td>
                <td width="85%">
                   {%if form_errors(form.organisme) %}
                        <div class="col-xs-12 input-group has-error has-feedback">
                    {% else %}
                        <div class="col-xs-12 input-group">
                        {% endif %}
                        {{ form_widget(form.organisme, { 'attr': {'class': 'form-control ', 'placeholder': 'Organisme'} }) }}
                    </div>
                </td>
            </tr>
             <tr>

                <td align="left"  width="15%">{{ form_label(form.dept,'Département') }}</td>
                <td width="85%">
                   {%if form_errors(form.dept) %}
                        <div class="col-xs-12 input-group has-error has-feedback">
                    {% else %}
                        <div class="col-xs-12 input-group">
                        {% endif %}
                        {{ form_widget(form.dept, { 'attr': {'class': 'form-control ', 'placeholder': 'Département'} }) }}
                    </div>
                </td>
            </tr>
            <tr>

                <td align="left"  width="15%">{{ form_label(form.email, "Courriel") }}</td>
                <td width="85%">
                   {%if form_errors(form.email) %}
                        <div class="col-xs-12 input-group has-error has-feedback">
                     {% else %}
                         <div class="col-xs-12 input-group">
                         {% endif %}
                         {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Courriel'} }) }}
                     </div>
                 </td>
            </tr>
        </tbody>
    </table>
   
           <table class="table tableDie table-striped table-condensed table-responsive" cellspacing="0" width="580px" align="center">

        <caption><h5 class="alertDie alert-info" align="center">Votre message</h5></caption>
        <tbody>
        
         {% if not theme %}
            <tr>

                <td align="left" width="15%">{{ form_label(form.theme) }}</td>
                <td width="85%">
                   {%if form_errors(form.theme) %}
                    <div class="col-xs-12 input-group has-error has-feedback">
                    {% else %}
                        <div class="col-xs-12 input-group">
                        {% endif %}
                        {{ form_widget(form.theme, { 'attr': {'class': 'form-control ', 'placeholder': 'Theme'} }) }}
                    </div>
                </td>
            </tr>
           {% endif %}
            <tr>

                <td align="left">{{ form_label(form.objet, "Description") }}</td>
                <td width="85%">
                  {%if form_errors(form.objet) %}
                        <div class="col-xs-12 input-group has-error has-feedback">
                    {% else %}
                        <div class="col-xs-12 input-group">
                        {% endif %}
                        {{ form_widget(form.objet, { 'attr': {'class': 'form-control ', 'placeholder': 'Description'} }) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" >{{ form_label(form.corps, "Message") }}</td>
                <td width="85%">
                  {%if form_errors(form.corps) %}
                        <div class="col-xs-12 input-group has-error has-feedback">
                   {% else %}
                       <div class="col-xs-12 input-group">
                       {% endif %}
                       {{ form_widget(form.corps, { 'attr': {'rows':5,'class': 'form-control ', 'placeholder': 'corps'} }) }}
                   </div>
                </td>
            </tr>
        </tbody>
    </table>
                   
    <div class="hide">
        {{ form_rest(form) }}
    </div>

    <div  align="center">
        <button type="submit" class="btn btn-primary">Envoyer la demande</button>
    </div>
    </form>      

    </div>

{% endblock content %}

{% block scripts %}

     jQuery(document).ready(function() {
        // controle formulaire
                  $("#contact").validate();
     });
{% endblock scripts %}  

