{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('aeag_sqe') }}">Accueil</a> 
    </li>
    <li class="active">
        Paramètres sandre
    </li>
{% endblock breadcrumb %}


{%block panel_heading %}
    <h3 class="page-title">
        Liste des paramètres Sandre
        {# <a class="btn btn-primary pull-right" href="{{ path('AeagDecBundle_admin_pdfListeDechets') }}" title="Imprimer la lister"> 
                <i class="fa fa-print"> Imprimer la liste</i>
         </a>#}
        <a class="btn btn-primary pull-right" href="{{ asset('fichiers/') }}{{ fichier }}">
            <i class="fa fa-file-excel-o "> CSV</i>
        </a>
    </h3>
{%endblock panel_heading %}



{%block content %}


    <div class="row">
        <div class="col-xm-12">
            <div class="small">
                <table class="table table-bordered table-condensed table-advance" id="idTable">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Nom</th>
                            <th>Libellé court</th>
                            <th>Type</th>
                            <th>Cas</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
								<td>
									<a  href="http://id.eaufrance.fr/par/{{ entity.pgSandreParametre.codeParametre }}" target="_blank" title="Fiche Sandre">
                                             {{ entity.pgSandreParametre.codeParametre }}
                                    </a>
								</td>
                                <td>{{ entity.pgSandreParametre.nomParametre }}</td>
                                <td>{{ entity.pgSandreParametre.libelleCourt }}</td>
                                <td>{{ entity.pgSandreParametre.typeParametre }}</td>
                                <td>{{ entity.pgSandreParametre.codeCas }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock content %}


{% block scripts %}

    // DataTable
    var table = $('#idTable').DataTable(
    {"stateSave": false,
    "oLanguage": {
    "sSearch": "Filtre",
    "sFirst": "1ere page",
    "sLast": "Dernière page",
    "sNext": "Prochaine page",
    "sPrevious": "Page précédente",
    "EmptyTable": "Pas de données",
    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
    "sZeroRecords": "Pas d'enregistrement à afficher",
    "sInfoEmpty": "Pas d'enregistrement à afficher",
    "sInfoThousands": " ",
    "sLengthMenu": 'Afficher <select>' +
        '<option value="10">10</option>' +
        '<option value="20">20</option>' +
        '<option value="30">30</option>' +
        '<option value="40">40</option>' +
        '<option value="50">50</option>' +
        '<option value="-1">Tous</option>' +
        '</select> enregistrements',
    "sPaginationType": "full_numbers"
    }
    }
    );

    $("#idTable thead td").each( function ( i ) {
    var select = $('<select><option value=""></option></select>')
    .appendTo( $(this).empty() )
    .on( 'change', function () {
    table.column( i )
    .search( $(this).val() )
    .draw();
    } );

    table.column( i ).data().unique().sort().each( function ( d, j ) {
    select.append( '<option value="'+d+'">'+d+'</option>' )
    } );
    } );


{% endblock scripts %}
