{% extends "AeagFrdBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
    </li>
    <li class="active">
        Etat des Frais de déplacements
    </li>
{% endblock breadcrumb %}


{% block panel_heading %}
    <h3>
       {{ entities | length }}  Etats des frais de déplacements de {{user.username}} {{ user.prenom}} {% if annee != 9999 %} pour l'année {{ annee }} {% endif %}
    </h3>
{% endblock panel_heading %}



{%block content %}
    <div  id="idMessage" class="row"></div>
    
      <div class="row">
            <div class="col-md-6">
                <a class="btn btn-success" href="{{ path('AeagFrdBundle_membre_fraisDeplacement') }}" title="Nouvelle demande"> 
                   <i class="fa fa-plus"> Nouvelle demande</i>
                </a>
             </div>
       </div>
    
    <div class="row">
        <div class="col-xm-12">
            <div class="small ">
                <table class="table table-bordered table-striped table-condensed table-advance table-hover" id="idTable">
                    <thead>
                        <tr>
                            <th>Actions</th>
                            <th>Numéro</th>
                            <th>Statut</th>
                            <th>Montant rembourser </th>
                            <th>Observations</th>
                            <th>Nombres de frais de déplacements</th>
                          </tr>
                     </thead>
                    <tbody id="idTbody">
                        {%if entities | length > 0 %}
                            {% for entity in entities %}
                                <tr id="idTr-{{ entity.etatFrais.id }}">
                                    <td  nowrap id="idTd1-{{ entity.etatFrais.id }}" width="1%">
                                            <a class="btn btn-primary" href="{{ path('AeagFrdBundle_membre_consulterFraisDeplacementsParEtatFrais', { 'id': entity.etatFrais.id }) }}" title="Voir">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                           {# <a class="btn btn-info" href="{{ path('AeagFrdBundle_declaration_pdf', { 'id': entity.etatFrais.id }) }}" title="Imprimer">
                                                <i class="fa fa-print"></i>
                                            </a>#}
                                           </td>
                                    <td class="text-center" nowrap width="1%">{{ entity.etatFrais.num }}</td>
                                    <td nowrap width="10%">{{ entity.phase.libelle }}</td>
                                    <td class="text-right" nowrap width="5%">{{ entity.etatFrais.mntRemb | number_format(2,'.',' ') }} €</td>
                                    <td nowrap width="10%">
                                        {% if entity.etatFrais.obsGen | length %}
                                              {{ entity.etatFrais.obsGen | nl2br }}
                                              {% if entity.etatFrais.obsSup | length > 0  %}
                                                    <br/>{{ entity.etatFrais.obsSup  | nl2br }}
                                               {% endif %}
                                         {% else %}
                                              {% if entity.etatFrais.obsSup | length > 0  %}
                                                    {{ entity.etatFrais.obsSup  | nl2br }}
                                            {% endif %}
                                        {% endif %}
                                       </td>
                                       <td class="text-right" width="5%">{{ entity.nbFraisDeplacements }}</td>
                                  </tr>
                            {% endfor %}
                        {%endif%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pull-left text-info">
            <ul class="list-inline">
                <li><a class="btn btn-primary btn-xs" href="#" title="Consulter"><i class="fa fa-eye"></i></a> Consulter</li>
                <li><a class="btn btn-info btn-xs" href="#" title="Valider"> <i class="fa fa-print"></i></a> Imprimer</li>
                <li><a class="btn btn-warning btn-xs" href="#" title="Editerr"><i class="fa fa-edit"></i></a> Editer</li>
            </ul>  
        </div>
    </div>  

{%endblock content %}

{% block scripts %}


    // DataTable
    var table = $('#idTable').DataTable(
    {"stateSave": true,
     "order": [[ 2, "asc" ]],
     "language": {
                                 "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                             },
             "aLengthMenu": [
                                        [10, 25, 50, 100, -1],
                                        [10, 25, 50, 100, "Tous"]
                                    ],
              "iDisplayLength": 10
            }
            );


{% endblock scripts %}

