{% extends "AeagAeagBundle::layout.html.twig" %}

{% block breadcrumb %}{% endblock breadcrumb %}

{%block panel_heading %}
{%if region %}
       <h3>
          Liste des départements de la region {{ region.libelle }}
                 <a class="btn btn-primary pull-right" href="{{ path('Aeag_pdfListeDepartement', { 'reg': region.reg }) }}" title="Imprimer la lister"> 
                    <i class="fa fa-print"> Imprimer la liste</i>
                 </a>
      </h3>
{% else %}
      <h3>
          Liste des départements
      </h3>
{% endif %}
     
{%endblock panel_heading %}


  {%block content %}
  {#  <div class="row center-block">
          <div class="offset3 col-xm-12">
                <a  href="{{ path('Aeag_pdfDepartement') }}" title="Imprimer">
                      <button type="button" class="btn btn-info pull-right">
                        <i class="fa fa-print"> Pdf</i>
                      </button>
                 </a>
          </div>
     </div>
  #}
     
     <div class="row">
          <div class="col-xm-12">
              <div class="small ">
                  <table class="table table-bordered table-condensed table-advance" id="idTable">
                        <thead>
                           <tr>
                                {% if is_granted('ROLE_ADMINDEC') %} 
                                <th width="1%">Actions</th>
                               {% endif %}
                                <th>Code</th>
                                <th>Libelle</th>
                                {% if is_granted('ROLE_ADMINDEC') %} 
                                <th width="1%" nowrap>Aidable</th>
                               {% endif %}
                               <th width="1%" align="center" nowrap>Communes</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                              {% if is_granted('ROLE_ADMINDEC') %}
                                    {%if  entity.dec == 'N' %}
                                        <tr style="background-color:#f2dede;">
                                    {%else%}
                                        <tr>
                                    {%endif%}
                                      <td nowrap>
                                        <a class="btn btn-warning" href="{{ path('Aeag_departement_editer', { 'dept': entity.dept }) }}" title="Editer">
                                            <i class="fa fa-edit"></i> 
                                        </a>
                                    </td>
                             {% else %}
                                 <tr>
                             {% endif %}
                                    <td>{{ entity.dept }}</td>
                                    <td>{{ entity.libelle }}</td>
                                    {% if is_granted('ROLE_ADMINDEC') %}
                                    <td align="center">{{ entity.dec }}</td>
                                    {% endif %}
                                    <td>
                                         <a class="btn btn-primary"  href="{{ path('Aeag_listeCommune', { 'dept': entity.dept }) }}"  title="Communes">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                             {% endfor %}
                        </tbody>
                     </table>
            </div>
          </div>
        </div>
       
        <div class="row">
            <div class="col-xs-offset-4 col-xs-8">
               <a  id="btFermer" class="btn btn-danger" href="{{ path('Aeag_listeRegion')}}"><i class="fa fa-power-off"></i> Retour</a>
            </div>
         </div>
       
  {%endblock content %}
 
{% block scripts %}
     
       // DataTable
          var table = $('#idTable').DataTable(
                      {"stateSave": true,
                       "oLanguage": {
                          "sSearch": "Filtre",
                          "sFirst": "1ere page",
                          "sLast": "Dernière page",
                          "sNext": "Prochaine page",
                          "sPrevious": "Page précédente",
                          "EmptyTable": "Pas de données",
                          "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                          "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                          "sZeroRecords": "Pas d'enregistrement à afficher",
                          "sInfoEmpty": "Pas d'enregistrement à afficher",
                          "sInfoThousands": " ",
                          "sLengthMenu": 'Afficher <select>' +
                                  '<option value="10">10</option>' +
                                  '<option value="20">20</option>' +
                                  '<option value="30">30</option>' +
                                  '<option value="40">40</option>' +
                                  '<option value="50">50</option>' +
                                  '<option value="-1">Tous</option>' +
                                  '</select> enregistrements',
                          "sPaginationType": "full_numbers"
                      }
                     }
                    );
   {% endblock scripts %}  