{% extends "AeagSqeBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('aeag_sqe') }}">Accueil</a> 
    </li>
    <li>
        <i class="icon-home"></i>
        <a href="{{ app.session.get('retour') }}">Réseaux de mesure</a> 
    </li>
    <li class="active">
        Stations de mesure
    </li>
{% endblock breadcrumb %}


{%block panel_heading %}
    <h3 class="page-title">
        Liste des stations de mesure du réseau : {{ pgRefReseauMesure.codeSandre }} {{ pgRefReseauMesure.nomRsx }}
        {# <a class="btn btn-primary pull-right" href="{{ path('AeagDecBundle_admin_pdfListeDechets') }}" title="Imprimer la lister"> 
                <i class="fa fa-print"> Imprimer la liste</i>
         </a>#}
    </h3>
{%endblock panel_heading %}



{%block content %}


    <div class="row">
        <div class="col-xm-12">
            <div class="small">
                <table class="table table-bordered table-condensed table-advance" id="idTable">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Libelle</th>
                            <th>Type</th>
                            <th>Commune</th>
                            <th>Cours d'eau</th>
                            <th>Masse d'eau</th>
                             <th width="10%">Site de prélèvement</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                             <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td> <a  href="{{ entity.lien }}" target="_blank" title="Localisation">
                                        {{ entity.pgRefStationMesure.code }}
                                       </a>
                                </td>
                                <td>{{ entity.pgRefStationMesure.libelle }}</td>
                                <td>{{ entity.pgRefStationMesure.type }}</td>
                                <td>{{ entity.commune.libelle }}</td>
                                <td>{{ entity.pgRefStationMesure.nomCoursEau }}</td>
                                <td>{{ entity.pgRefStationMesure.nomMasdo }}</td>
                                <td align="center">
                                    {% if entity.nbSitePrelevements %}
                                        <a class="btn btn-info btn-xs" href="{{ path('AeagSqeBundle_referentiel_pg_ref_reseau_mesure_pg_ref_station_mesure_pg_ref_site_prelevements', {'pgRefReseauMesureId': pgRefReseauMesure.groupementId, 'pgRefStationMesureOuvFoncId': entity.pgRefStationMesure.ouvFoncId }) }}" title="Sites de prélevement">
                                            <i class="fa fa-eye"></i> 
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock content %}


{% block scripts %}


    // DataTable
    var table = $('#idTable').DataTable(
    {"stateSave": true,
    "oLanguage": {
    "sSearch": "Filtre",
    "sFirst": "1ere page",
    "sLast": "Dernière page",
    "sNext": "Prochaine page",
    "sPrevious": "Page précédente",
    "EmptyTable": "Pas de données",
    "sInfo": "Nombre d'enregistrements :  _TOTAL_",
    "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
    "sZeroRecords": "Pas d'enregistrement à afficher",
    "sInfoEmpty": "Pas d'enregistrement à afficher",
    "sInfoThousands": " ",
    "sLengthMenu": 'Afficher <select>' +
        '<option value="10">10</option>' +
        '<option value="20">20</option>' +
        '<option value="30">30</option>' +
        '<option value="40">40</option>' +
        '<option value="50">50</option>' +
        '<option value="-1">Tous</option>' +
        '</select> enregistrements',
    "sPaginationType": "full_numbers"
    }
    }
    );

    $("#idTable thead td").each( function ( i ) {

    if (i != 0 && i != 6 ){
    var select = $('<select><option value=""></option></select>')
    .appendTo( $(this).empty() )
    .on( 'change', function () {
    table.column( i )
    .search( $(this).val() )
    .draw();
    } );

    table.column( i ).data().unique().sort().each( function ( d, j ) {
    select.append( '<option value="'+d+'">'+d+'</option>' )
    } );
    };
    } );
{% endblock scripts %}
