{% extends "AeagUserBundle::layout.html.twig" %}

{% block breadcrumb %}
      <li>
          <a href="{{ path('aeag_homepage') }}">Accueil</a> 
      </li>
       <li class="active">
         Liste des interlocuteurs
       </li>
{% endblock breadcrumb %}
      
{% block panel_heading %}
        <h3>
       Liste des interlocuteurs
       </h3>
{% endblock panel_heading %}
       
{% block modal %}
      {% for entity in entities %}
        <div class="modal fade" id="sup-{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="supLabel-{{entity.id}}" aria-hidden="true">
           <div class="modal-dialog">
               <div class="modal-content">
                 <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                   <h4 class="modal-title" id="supLabel-{{entity.id}}">Suppression de l'interlocuteur {{entity.nom}} {{entity.prenom}}</h4>
                 </div>
                 <div class="modal-body">
                     <h4>Cliquer sur  <button type="button" class="btn btn-danger" >
                       <i class="fa fa-trash-o"> Supprimer l'interlocuteur</i>
                       </button> pour valider la suppression de celui-ci</h4>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-undo"></i> Fermer</button>
                   <a class="btn btn-danger"  href="{{ path('Aeag_interlocuteur_supprimer', {'id': entity.id}) }}" title="Supprimer">
                        <i class="fa fa-trash-o"> Supprimer l'interlocuteur</i>
                    </a>
                  </div>
               </div>
          </div>
     </div> 
   {% endfor %}
{% endblock modal %}

{%block content %}
      <div class="row">
           <div class="offset3 col-xm9">
                <a class="btn btn-success" href="{{ path('Aeag_interlocuteur_ajouter') }}" title="Ajouter">
                      <i class="fa fa-plus"> Nouveau</i>
                </a>
             </div>
       </div>
     
       <div class="row responsive">
          <div class="col-xm-12">
              <div class="table-responsive small ">
                  <table class="table table-bordered table-striped table-condensed table-advance table-hover" id="idTable">
                        <thead>
                           <tr>
                                <th width="1%">Actions</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Fonction</th>
                                <th>Téléphone</th>
                                <th>Adresse email</th>
                           </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                   <td nowrap>
                                       <a class="btn btn-warning" href="{{ path('Aeag_interlocuteur_editer', { 'id': entity.id }) }}" title="Editer">
                                          <i class="fa fa-edit"></i> 
                                       </a>
                                       <a class="btn btn-danger" data-toggle="modal" href="#sup-{{entity.id}}" title="Supprimer">
                                         <i class="fa fa-trash-o"></i>
                                      </a>
                                    </td>
                                    <td>{{ entity.nom  }}</td>
                                    <td>{{ entity.prenom }}</td>
                                    <td>{{ entity.fonction}}</td>
                                    <td>{{ entity.tel }}</td>
                                    <td>{{ entity.email }}</td>
                                 </tr>
                            {% endfor %}
                        </tbody>
                     </table>
            </div>
          </div>
        </div>
       
          <div class="btn-group pull-right">
           <a class="btn btn-danger" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-power-off"></i> Retour</a> 
           </div>
  {%endblock content %}
 
  {% block scripts %}
   
       $('#idTable').dataTable( {
                             "oLanguage": {
                              "sSearch": "Filtre",
                              "sFirst": "1ere page",
                              "sLast": "Dernière page",
                              "sNext": "Prochaine page",
                              "sPrevious": "Page précédente",
                              "EmptyTable": "Pas de données",
                              "sInfo": "Nombre d'enregistrements :  _TOTAL_",
                              "sInfoFiltered": " - filtrés sur _MAX_ enregistrements",
                              "sZeroRecords": "Pas d'enregistrement à afficher",
                              "sInfoEmpty": "Pas d'enregistrement à afficher",
                              "sInfoThousands": " ",
                              "sLengthMenu": 'Afficher <select>'+
                                           '<option value="10">10</option>'+
                                           '<option value="20">20</option>'+
                                           '<option value="30">30</option>'+
                                           '<option value="40">40</option>'+
                                           '<option value="50">50</option>'+
                                           '<option value="-1">Tous</option>'+
                                           '</select> enregistrements',
                              "sPaginationType": "full_numbers"
                           }
                        } );
   {% endblock scripts %}